[2021-05-28 07:14] SimunKaracic commented on #1027
Well, my bad. I'll fix this asap

[2021-05-28 08:23] RomanLebid commented on #1027
@dpsoft No, we don't have any redis clients at all (double-checked that with `sbt:api> dependencyTree`).

It's just a simple Akka HTTP app with a couple of endpoints.
I know that it should be possible to use `kamon-akka-http`, but for consistency we use the
`kamon-bundle` + `kamon-prometheus` combo almost everywhere

[2021-05-28 11:07] #1027 closed

[2021-05-28 11:44] SimunKaracic commented on #1027
Fixed with 2.1.20.
Thanks for the patience, it's releasing now, should be available within the hour

[2021-05-28 13:29] ivantopo commented on #846
Hey @nadavwr, thanks for the reproducible and the very detailed explanation!

I used the reproducible [you shared](https://github.com/nadavwr/kamon-future-repro) to try figuring out what can be done here. First thing is, do you maybe have a reproducible that uses the Akka HTTP directives you mentioned above? I understand how the example you shared works when it is Future-based, but I really don't

[2021-05-28 17:51] ihostage commented on #1003
@fggarcia Already not actual, right?

[2021-05-28 17:53] fggarcia commented on #1003
@ihostage i believe, this will be solved in the next kanela version

[2021-05-28 20:40] dpsoft commented on #1003
I just published `kanela 1.0.10` https://github.com/kamon-io/kanela/releases/tag/v1.0.10

[2021-05-28 21:31] #1003 closed

[2021-06-01 15:03] dvgica commented on #1012
Not the maintainer, but I don't think it's really fair to ask `kamon-logback`, which is unrelated to Datadog, to cater to the strange choices of Datadog when it comes to trace/span IDs. Datadog really has gone in their own direction with 64-bit ints instead of 64- or 128-bit hex strings.

That said, I did hit this issue too. My workaround is to have:

[code]

and in `logback.xml`:
[code]

Note you

[2021-06-01 15:41] dvgica opened #1032 "Datadog reporter doesn't handle 128-bit trace IDs"
If your application receives a 128-bit trace ID, say from an `x-b3-trace-id` header, and then the application tries to report a span with it, reporting will fail because the [Datadog agent expects a 64-bit Int](https://github.com/DataDog/datadog-agent/blob/140a4ee164261ef2245340c50371ba989fbeb038/pkg/trace/api/version.go#L36) for the trace ID. I discovered this a while ago and have since worked ar

[2021-06-01 15:49] dvgica commented on #1032
If this sounds about right, @ivantopo, I can do the fix.

[2021-06-02 10:26] SimunKaracic commented on #1032
This sounds completely right, feel free to implement the fix! :D

[2021-06-03 10:29] kartachena commented on #632
Hi @code-colonel
If it's still relevant - this is most likely related to https://github.com/kamon-io/Kamon/issues/611

[2021-06-03 14:50] ivantopo commented on #1021
Hey folks, let me share some additional info about this:

First, history! There are two pieces of history that were important for this issue:
- https://github.com/kamon-io/Kamon/issues/645 is the PR where I added a few utilities to create Spans from Futures and there is some detail about the reasoning behind the current implementation (already mentioned above, but worth re-linking)
- [This comment

[2021-06-03 15:06] ivantopo commented on #829
Folks, this is going to be fixed with Kamon 2.2.0. Please take a look at [this comment](https://github.com/kamon-io/Kamon/issues/1021#issuecomment-853930200) (the entire thread might be interesting as well!)

Long story short is that the way the Kamon 2.x Future instrumentation works will never allow for Future values to be cached, because the Context is tied to the Future itself, not to the execu

[2021-06-03 16:11] yarosman commented on #829
@ivantopo when you are going to release Kamon 2.2.0 ?))

[2021-06-03 21:43] jatcwang commented on #1021
:+1: for making for comprehension siblings. I think I made a similar argument back in https://gitter.im/kamon-io/Kamon?at=5dc072fd10bd4128a1bcfce2

[2021-06-04 08:25] ivantopo commented on #829
@yarosman not sure, maybe today or on Monday. We got 3 related PRs: #1033, #1034, and #1035. I'm confident about the first two, but still trying to figure out if the last one has everything we need.

[2021-06-04 10:54] ivantopo commented on #829
Folks, I tried @dfic-mdsol's example with a local snapshot of #1035 and it worked exactly as expected:
![image](https://user-images.githubusercontent.com/1302854/120791010-ecb1a080-c533-11eb-96dd-255fb9ef0e01.png)

The first trace gets both `get` Spans, the second trace only gets the second.

[2021-06-04 10:57] ivantopo commented on #919
Hello @yiminyuan, quick update on this:

We are about to release Kamon 2.2.0 which rolls back the Futures behavior to exactly how it was in Kamon 1.x, so this shouldn't be a problem anymore. There is a lot more info on #1021 and on the related PRs (#1033, #1034, and #1035).

[2021-06-04 15:07] channingwalton commented on #1027
Hi, we just saw this error in 2.1.21, is it possible there was a regression?

[2021-06-04 15:11] ivantopo commented on #1027
Hey @channingwalton, can you please double check the version that ended up in the classpath? I tried a minute ago and couldn't reproduce the issue.

[2021-06-04 15:21] channingwalton commented on #1027
Hi @ivantopo, will do.

We went from 2.1.18 to 2.1.21, saw no problems in QA, but typically everything went wrong in prod.

It'll take me a little time to investigate though  - probably Monday.

[2021-06-04 15:52] channingwalton commented on #1027
I've just seen an error in our QA environment with 2.1.20 too. I'm reverting to 2.1.18 which was working to check that there isn't anything else going on.

[2021-06-04 19:08] JyoshnaBoppidi commented on #801
[2021-06-04 14:02:33,644] [WARN] [kamon.apm.KamonApmApiClient] [] [main] - Connection error, retrying... (1 left) sun.security.validator.ValidatorException: PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target
[2021-06-04 14:02:38,772] [ERROR] [kamon.apm.KamonApmApiClient] [] [main] - Ingestion error, no

[2021-06-04 19:08] JyoshnaBoppidi commented on #801
Please provide the solution for above issue

[2021-06-05 07:49] ivantopo commented on #829
Hey folks, this is fixed and released with Kamon [2.2.0](https://github.com/kamon-io/Kamon/releases/tag/v2.2.0). Please share if you find any issues with the new version!

[2021-06-05 07:49] #829 closed

[2021-06-05 07:50] ivantopo commented on #846
Hey folks, this is fixed and released with Kamon [2.2.0](https://github.com/kamon-io/Kamon/releases/tag/v2.2.0). Please share if you find any issues with the new version!

[2021-06-05 07:50] #846 closed

[2021-06-05 07:50] ivantopo commented on #1021
Hey folks, this is fixed and released with Kamon [2.2.0](https://github.com/kamon-io/Kamon/releases/tag/v2.2.0). Please share if you find any issues with the new version!

[2021-06-05 07:50] #1021 closed

[2021-06-05 08:08] ivantopo commented on #919
Hey folks, probably some of the issues you saw here are now fixed with Kamon [2.2.0](https://github.com/kamon-io/Kamon/releases/tag/v2.2.0).

@yiminyuan since the main change in 2.2.0 is bringing Futures back to 1.x behavior, probably things are going to work out just fine for you when you upgrade. I wanted to add a few extra notes, though:
- In your original example, you are storing a `Context` i

[2021-06-05 08:08] #919 closed

[2021-06-07 09:31] channingwalton commented on #1027
Hi, FYI our QA was fine with 2.1.18.

[2021-06-07 09:37] ivantopo commented on #1027
Do you see the same error with 2.2.0 (released on Friday)?

[2021-06-07 09:38] channingwalton commented on #1027
I'll try it now …

[2021-06-07 10:03] channingwalton commented on #1027
No, we are seeing these exceptions on start up:

[code]

Kamon is initialised on start up, and the reconfigured later, so I don't think its the usual issue:
[code]

and we depend on kamon-influxdb and kamon-bundle.

I am very willing to accept we are doing something else wrong of course.

[2021-06-07 10:07] ivantopo commented on #1027
Can you please double-check the runtime classpath? We saw a few times in the past that users had old artifacts in the classpath and those were being picked up before the updated ones.

[2021-06-07 10:10] channingwalton commented on #1027
Will do.

[2021-06-10 09:03] SimunKaracic commented on #1025
Hmm, it looks like we have an older version of HikariCP instrumented (2.6.2). I'll bump the dependencies and see what breaks. Until then, try downgrading your HikariCP version

[2021-06-10 09:22] SimunKaracic commented on #1025
Hmmm, all tests pass with 3.4.5, and the latest version of HikariCP.
What version of Kamon are you using, and what reporter?

[2021-06-15 02:16] dvgica commented on #1032
@SimunKaracic thanks for the confirmation. Pull request with the fix is up!

[2021-06-15 12:11] ivantopo commented on #884
Hey @dbwiddis, I know a few months passed but I wanted to say this since back in March: thanks a lot for helping us out with this issue! :tada:

[2021-06-15 14:53] dbwiddis commented on #884
No problem at all! Happy to help.

[2021-06-16 15:55] ivantopo opened #1043 "Can't run the Prometheus reporter on OpenJ9 1.8"
Since https://github.com/kamon-io/Kamon/pull/762 we are use JDK-provided classes for the embedded HTTP server that exposes the scrape endpoint, and today for the first time we got a `NoClassDefError: com/sun/net/httpserver/HttpHandler` reported by a new user :sob:

This happened on `adopt-openj9-1.8.0_265`. I'm not sure what to do here. We are still embedding nanoHTTPD on the Status Page, so maybe

[2021-06-17 11:11] #1032 closed

[2021-06-17 11:49] SimunKaracic opened #1044 "Losing context when using akka dispatchers"
Brought up by @ndchandar on gitter, creating an issue so we can keep track of it:

Hello,
I am having Context propagation issues when switching between Cats Effect IO and Scala Futures with the newer version (2.2.0). I don't see issues with Cats Effect IO + Default Scala global execution context.

When using Akka Dispatchers I seem to be losing context. Sharing minimal example https://gist.github.

[2021-06-23 07:54] SimunKaracic opened #1046 "Update kafka clients instrumentation."
With the latest version (`2.8.0`), we're getting the following error:
`ERROR 2021-06-22 23:55:05  Logger : Error => org.apache.kafka.clients.consumer.KafkaConsumer with message Cannot locate field named groupId for class org.apache.kafka.clients.consumer.KafkaConsumer. Class loader: jdk.internal.loader.ClassLoaders$AppClassLoader@9e89d68: java.lang.IllegalStateException: Cannot locate field named

[2021-06-24 20:25] ctoomey commented on #647
I've run into this issue too -- is there a config. setting or other workaround / to prevent this?

[2021-06-25 02:33] ctoomey commented on #647
FYI I worked around it by not installing kamon-bundle, which automatically includes logback as well as a bunch of other instrumentations. Instead I install only the kamon-* packages I need.

[2021-06-25 23:05] vishramachandran opened #1047 "OtelExporter does not export Span Marks"
Thanks for adding the new OpenTelemetry exporter.
I was testing it for our use, and found that it does not propagate Kamon span's `Mark` events as OTel span `Event` objects.

This is an easy change. I would have sent a PR out, but I am restricted by my employer. Could this easy fix go in soon?
Backport into 2.1 release would be immensely useful. 🙏

cc @SimunKaracic @pnerg

[2021-06-28 07:25] pnerg commented on #1047
Did a quick check of the [OTEL data model](https://github.com/open-telemetry/opentelemetry-proto/blob/main/opentelemetry/proto/trace/v1/trace.proto#L178) with respect to events.
I'm unfamiliar with Kamons `Mark` so I'm a bit unsure how to translate it to an event.

The event data model states
[code]
I'm assuming something in the lines of this would be the correct translation.
The _key_ from the ma

[2021-06-28 07:29] pnerg commented on #1047
As for your company having a policy dictating you're not allowed to provide a PR I'd say it's a really crappy policy.
If a company allows itself to use open-source but cannot consider providing anything back then I personally find that leaching.

I'm not affiliated with Kamon in any way more than having written a few tickets and provided a few PR's.
Using my private github account when doing work

[2021-06-28 08:14] SimunKaracic commented on #647
One workaround would have been to disable the logback module if you're not using it:
`kanela.modules.logback.enabled = false`.

You can also add the within block, so Kamon knows where to look for the `PlayAccessEvent`:
`kanela.modules.logback.within = ["org.databrary.logback..*"]`

It doesn't seem to be too popular, so we'll refrain from adding it for now, if some more people come across the same

[2021-06-28 08:25] pnerg commented on #1047
I've added PR, @vishramachandran have a check and see if it's correctly mapped from Mark to Event

[2021-06-28 08:50] SimunKaracic opened #1049 "Investigate initializing metrics before using them with Prometheus"
Issue to track the following (raised on gitter by @imRentable)

[code]

[2021-06-28 13:30] vishramachandran commented on #1047
@pnerg Looks great. Thanks much for taking the time.

The restrictions in my company are legal barriers to ensure that copyright and trade secrets are not leaked. There is an approval process I need to go through for each repo, and it takes a while. As much as I would like to voice my opinion and discuss whether this is good or not, this is not the forum to do that, and I would like to respectfull

[2021-06-29 11:29] yarosman opened #1050 "[Kamon-jdbc] Jdbc Proxy error"
When we try to use play-anorm with hikari-cp and prixy-sql we retrieve error

[code]

[2021-06-29 16:44] alejandrod-f commented on #957
Similar problem here:
`java.lang.ClassCastException: akka.dispatch.Envelope cannot be cast to kamon.instrumentation.context.HasContext`

Looks like timing in the initialization. Hard to say

Most of the times fails. But, sometimes is ok.
sbt 1.5.3
scala 2.13.6
kamon 2.2.1
Play 2.8.8

[2021-06-30 09:30] ivantopo commented on #957
I'm not sure if it is related, but I know we have an issue with the sbt-kanela-runner-play when running on development mode. Is that your case @alejandrod-f? If it is, try using Play 2.8.7 until we figure out how to publish a new version of the plugin. Otherwise, share here and we'll figure it out!

[2021-07-02 13:00] alejandrod-f commented on #957
Well, the only thing that made this error to go away was to downgrade Kamon to 2.1.3 (from 2.2.1)
Now I get a single error log. Which looks ok compared with hundreds of error logs.

Is hard to provide an example that will reproduce the issue.

`[main] ERROR 2021-07-02 12:52:31  Logger : Error => akka.http.scaladsl.server.directives.RouteDirectives with message None of [public static akka.http.scal

[2021-07-05 08:22] SimunKaracic commented on #1050
Can you give us the specific versions of libraries you are using?

[2021-07-06 07:55] yarosman commented on #1050
[code]

[2021-07-20 15:03] yarosman commented on #1050
@SimunKaracic we found the main reason for these problems.If you use several IPs in connection url, instrumentation willn't work for `FAILOVER_CONNECTION`

![mysql-connection](https://user-images.githubusercontent.com/2370255/126347420-74dbf47e-ad7c-462f-81fc-c81909e92841.png)

[2021-07-21 11:26] SimunKaracic commented on #1050
Nice debugging. Not sure how fast we'll fix this, but atleast we know where the problem is!

[2021-07-21 11:27] SimunKaracic commented on #1047
Fixed with v2.2.2.

[2021-07-21 11:27] #1047 closed

[2021-08-16 07:11] sgabalda commented on #566
Are there any updates on this issue?
We are using akka with `kanela-agent.1.0.11` and `kamon-akka.2.2.0` and `kamon-prometheus.2.2.0`. In our setup we have an application with an active instance and an inactive instance. We tag all metrics as such, so we can differentiate. But if we dynamically change the active instance, the metrics with the old tags are still reported, leading to duplicated metr

[2021-08-17 10:48] neboduus commented on #1021
Hi, I am using Kamon to instrument a Scala Play app that sends traces through a Zipkin Server directly to Google Stackdriver. I have updated to evrsion 2.2.0, but in for comprehensions, only the first span gets registered and stored as children of the outter scope parent child.

In my setup I only use the utility function `span[A](operationName: String)(f: => A): A`

[2021-08-17 11:09] jatcwang commented on #1021
It's best to supply an example project to demonstrate the issue :)
Some common reasons I've seen include not including kamon-executors dependency, or not having the kanela agent instrumenting your app.

[2021-08-18 08:33] neboduus commented on #1021
I cannot share my project, cause is a private one. However, I can share my setup:

Play Framework 2.7.x
Scala 2.12
Kamon libs
[code]

I correctly configure the agent because I am able to see the traces and I've been using the instrumentation for quite a long time now (8 months). However, I eagerly bind it like so

[code]

I have a Controller where I trace the entire action defined as so

[code]

N

[2021-08-18 12:05] jatcwang commented on #1021
@neboduus Thanks can you put this in a SBT project on github. It makes it easy for someone to reproduce the issue otherwise their setup may be different

[2021-08-18 12:49] neboduus commented on #1021
Will Need some time to do so cause in currently very busy. Will post here once I'll do it

[2021-08-18 14:02] jatcwang commented on #1021
From looking at your reproduction steps, I think you're missing https://mvnrepository.com/artifact/io.kamon/kamon-scala-future which is required for tracing to work when scala Future is involved. (If you're also using other effect libraries like cats-effect you'll need additional library which instrument those too).

[2021-08-25 08:37] alexandru commented on #766
Our issue is still reproducing:

[code]

[2021-08-28 20:32] haricoding commented on #677
looks like you got a typo in this

[2021-08-31 12:41] imRentable commented on #1049
Hi,

in the meantime I thought I avoided the aforementioned problem by just initialising all metrics with each expected label combination. Unfortunately, this didn't hold quite true. When a counter is initialised with labels by calling `Kamon.counter(name).withTags` an initial value of `0` is exported immediately, which is desired. However, if a histogram is initialised in a similar fashion, no me

[2021-10-05 08:37] sshtel opened #1058 "StringIndexOutOfBoundsException at kamon.instrumentation.cassandra.driver.InstrumentedSession.extractStatementType"
Kamon bundle version to v2.1.12
Lagom library version: 1.6.5
Akka version: Akka 2.6.14 (https://github.com/lagom/lagom/releases/tag/1.6.5)

Cassandra instrument is running with Lagom.
And this error log is blocking the application.

[code]

[2021-10-05 12:51] #1058 closed

[2021-10-05 12:54] ivantopo commented on #1058
Hey @sshtel, thanks for bringing this up. A fix is in already, and will be released with Kamon 2.3.0. There are a few major changes going on there we hope we will be able to release it later this week :pray:

Stay tuned for the release!

[2021-10-07 01:53] gfpalacios opened #1059 "Kamon broadcast Context is not reading HTTP headers"
I want to configure kamon to inspect each request and store a header value in the context in order to get access to this context from anywhere in the app. I took an example from kamon docs: https://kamon.io/docs/latest/core/context/

My webapp is built with lagom and some custom play routes. This is the config for kamon context in the application.conf

`kamon.context.codecs {
  string-keys {
    r

[2021-10-12 22:51] Voltir opened #1060 "kamon-akka: java.lang.reflect.InaccessibleObjectException when using java 17"
kamon-akka instrumentation breaks at runtime when using java 17:

[code]

[2021-10-13 19:19] seglo opened #1061 "Reporter [DatadogSpanReporter] failed to process a spans tick."
Kamon Datadog version: `2.1.9`
Datadog Agent version: `7.29.1`

I will intermittently get the following when reporting spans using the Kamon Datadog reporter:

[code]

[code]

My guess is that for some reason the response from the Datadog agent is malformed (at least by okhttp3's standards).

[2021-10-18 23:05] #1061 closed, assigned to nobody

[2021-10-21 08:29] ivantopo opened #1064 "Publish instrumentation artifacts for Scala 3"
We went through upgrading the core libraries and reporters for Scala 3, but all the instrumentation is still pending. I got this exception at my very first attempt at running the `instrumentation-common` tests with Scala 3 and thought that instead of delaying a new release even more we should publish the parts that are already supported, and create this issue to track instrumentation updates.

[co

[2021-10-26 11:40] nvollmar opened #1066 "Span operationName empty in Kamon 2.3.0"
2.3.1 shows the same issue. In 2.2.3 this worked.

The context is passed correctly between actor systems (trace id and tags are right) but the span operationName is "empty".

[2021-10-26 12:47] #1066 closed, assigned to nobody

[2021-10-27 09:02] pnerg opened #1067 "runwithSpan looses current span/trace context starting with v2.3.0"
Seems like something happened in v2.3.0 (fails in 2.3.1 as well) with respect to using `runWithSpan` as the entire trace context is empty.

E.g. this little snippet of code illustrates the issue
[code]
running with v2.2.3 I get
`expected [a40b9f9471e32aee] was [a40b9f9471e32aee], spanid [cd281573472b2d61] sampling [sample]`.

but upgrading to 2.3.0/2.3.1 I get
`expected [ce9a0549260ffc39] was [],

[2021-10-27 11:00] #1067 closed, assigned to nobody

[2021-10-28 06:09] nvollmar opened #1068 "Cannot register module warnings"
Hi, with Kamon 2.3.1 we're seeing warnings `Cannot register module [akka.io.pinned-dispatcher], a module with that name already exists.` popping up in the logs. This wasn't the case with Kamon 2.2.3.
The registrations are done by `InstrumentNewExecutorServiceOnAkka26`.

[2021-11-03 10:40] YuHuang89 opened #1070 "Error java.lang.ClassNotFoundException: kamon.log.LogbackFilter for kamon 2.3.1 with play and prometheus"
I was trying to add kamon with prometheus to a Play hello word project. When I start the application with "sbt run", there is an Error
"ERROR in ch.qos.logback.core.joran.action.NestedComplexPropertyIA - Could not create component [filter] of type [kamon.log.LogbackFilter] java.lang.ClassNotFoundException: kamon.log.LogbackFilter
        at java.lang.ClassNotFoundException: kamon.log.LogbackFilter

[2021-11-04 15:51] seglo commented on #238
I currently have a native Kamon Finagle client tracing instrumentation that works well. It's presently still baking in a private repo, but it would be wonderful to contribute it upstream as a `kamon-finagle` instrumentation at some point.

[2021-11-10 11:03] yarosman commented on #1060
with adding `--add-opens java.base/java.util.concurrent=ALL-UNNAMED` to JavaOpts everything was work correct

[2021-11-11 15:26] jtjeferreira opened #1072 "kamon-redis: kamon.instrumentation.akka.filters.actors.trace.excludes is not picked"
Hi!

I was trying the kamon-redis module with redisscala and everything is working fine, except a small detail regarding the traces:

![image](https://user-images.githubusercontent.com/943051/141322956-9d2bc255-127e-4af8-bff4-3e0cce1b6488.png)

Those `Tell` operations they are still present in the trace, although these traces are excluded in this code https://github.com/kamon-io/Kamon/blob/c6a32e7

[2021-11-12 16:11] MaciejSzewczyszyn opened #1077 "Any reason why otel TraceService is package private?"
The trait and implementation are defined as:
[code]
While the reporter itself is public:
[code]

In my app, I need to override `reportSpans` to filter out spans for certain urls (healthchecks).  The package private modifier on the `TraceService` makes it unnecessarily difficult as I can't easily extend `OpenTelemetryTraceReporter` - can the trace service be public or am I missing something?

[2021-11-15 21:29] ivantopo commented on #1077
Hey @MaciejSzewczyszyn, I don't see any particular reason for those objects to be package-private. I guess it is just how it got implemented. That said, if you want to disable tracing for particular URLs that's something you can do via configuration alone! Try adding something like this to your configuration:

[code]

Just make sure that the operation name matches exactly the Span operation name.

[2021-11-16 14:15] PavelPenkov opened #1081 "Remove logback.xml from kamon-bundle"
For whatever reason, kamon-bundle contains logback.xml so logback warns about multiple configuration files when starting
`WARN in ch.qos.logback.classic.LoggerContext[default] - Resource [logback.xml] occurs at [jar:file:/app/lib/io.kamon.kamon-bundle_2.13-2.3.1.jar!/logback.xml]`

[2021-11-17 15:50] #1081 closed

[2021-11-17 15:51] ivantopo commented on #1081
Thanks for reporting it @PavelPenkov. The file was there by mistake, probably leftover from testing :facepalm:

[2021-11-17 15:53] ivantopo opened #1082 "The Jedis instrumentation is not accounting for the entire round trip to Redis"
I had a quick chat with @jtjeferreira about it. He discovered that the Jedis instrumentation is only measuring the time it takes to send the requests to Redis and leaving out the time it might take to receive the response. I'll look into this later this week.

[2021-11-17 15:55] MaciejSzewczyszyn commented on #1077
Thanks @ivantopo. The traces are still being sent though - this is how this bit is currently configured:
[code]
We're on 2.2.0. Am I doing something wrong? Is there a doc reference for this specific part that I could take a look at?

[2021-11-17 15:59] ivantopo commented on #1077
There is not much documentation about sampling right now, hopefully I'll update it these days since we are releasing a new local tail-based sampler feature in Kamon!

In the meantime, the issue here is that you are not using the adaptive sampler but rather the "always" sampler with that `sampler = "always"` setting. If you revert it to `sampler = "adaptive"` then the rule you defined should work a

[2021-11-24 15:57] MaciejSzewczyszyn commented on #1077
That solved the issue so I closed the PR. Thanks, looking forward to new features (and updated docs 🙂 )

[2021-11-24 15:57] #1077 closed

[2021-11-30 09:18] ivantopo opened #1089 "WARN about failed syctl call on BigSur 11.6"
This warning shows up on Mac OS Big Sur 11.6:

[code]

Probably we need to update OSHI for this to go away? :thinking:

[2021-12-02 09:22] pnerg opened #1090 "OpenTelemetry reporter is spawning gprc/netty threads"
# Issue in short
There seems to be some slowly creeping thread increase when using OTEL reporter.
There are threads related to the grpc/netty stack that for some reason just increase in count.
I'm Using kamon v2.4.2 with the optional OTEL reporter

# App to reproduce
The app creates a single trace which I see is reported once to the OTEL reporter, then the app just idles doing nothing.
One of cour

[2021-12-02 10:10] pnerg commented on #1090
As I can't let go of mind boggling issues I had to rummage through the Netty source code.... :smiley:
More specifically the [MultithreadEventLoopGroup](https://netty.io/4.0/xref/io/netty/channel/MultithreadEventLoopGroup.html#39).
There is a reference to some magic sys.prop which I had to test:

[code]
aaaand as if by magic
[code]

I'm letting my test app run for a while to see if it stays on one

[2021-12-03 17:20] yarosman opened #1091 "ZIO supporting"
It would be great to have ZIO supporting like CE

[2021-12-06 18:43] btomala opened #1092 "kamon-akka: com.datastax.oss.driver.api.core.NoNodeAvailableException when using java 17"
I cannot connect to Cassandra when running my application on java 17. It was working on java 11 and works when disabled instrumentation.

I'm running on the newest version of Kamon (2.4.2) and Kanela (1.0.13) with scala 2.13.7 compiled on java 11.

Cassandra is configured to be used with akka persistence.

[code]

[2021-12-07 14:09] btomala commented on #1092
Looks like it was a weird network issue... I'm closing it

[2021-12-07 14:09] #1092 closed

[2021-12-08 10:10] antoine-morisseau commented on #1044
Same issue in our play framework projects that use cats effect IO.
We have to switch between cats effect IO and Scala Future when doing retries with `akka.pattern.retry()`.
When a retry is done it create a new context but it does not inherit from the previous context.

[2021-12-08 10:12] antoine-morisseau commented on #1068
Same issue when upgrading from 2.2.x to 2.3.x or 2.4.x.
We're using play framework 2.8.8

[2021-12-08 10:19] antoine-morisseau commented on #1070
I think the 2.4.0 fix this issue because with my tests of upgrading Kamon between 2.3.X and 2.4.X, this issue disappeared.

I think it's this commit that fix the issue : https://github.com/kamon-io/Kamon/commit/d37cb4884def81b9ad8bcea914d4c8ac2da6d4c2

[2021-12-08 15:11] antoine-morisseau opened #1093 "Akka Scheduler doesn't propage Kamon context"
It come from the discussion on Discord that i raised : https://discord.com/channels/866301994074243132/866301994074243135/918121791577264148

I am using :
* Play framework 2.8.7
* kamon-bundle 2.4.2
* akka-actor 2.6.14

Here is a code snippet that reproduce the issue :

[code]

and here is the log output :

[code]

The issue come from the implicit Scheduler used from `akka.pattern.retry` method.

[2021-12-15 15:10] yarosman commented on #1091
Works with
[code]

[2021-12-15 15:10] #1091 closed

[2022-01-04 10:16] style95 commented on #1089
I am facing the same. Is there any update on this issue?

[2022-01-25 15:25] ivantopo opened #1098 "Add appropriate span.type tags on the Datadog Spans reporter"
This discussion started on #1096, thanks to @seglo for bringing it up!

Datadog might show spans differently in their UI based on the `span.type` tag and there is a tiny list of possibilities [in their docs](https://docs.datadoghq.com/tracing/visualization/services_list/#services-types):
  - Cache
  - Custom
  - DB
  - Serverless function
  - Web

We should figure out what are the exact values for

[2022-02-02 12:32] nathanmbrown commented on #1093
Unsurprisingly I see the same for `startTimerWithFixedDelay`

[2022-02-04 16:12] DieBauer commented on #1060
Are there plans to get rid of this workaround / be future compatible?

[2022-02-07 16:00] sebarys commented on #793
@ivantopo
is there any progress in Tapir integration?

[2022-02-13 01:46] bcreaney opened #1107 "Connecting to InfluxDB 2 - authentication"
Hi. Trying to connect to InfluxDB 2 using Kamon and having this error `Metrics POST to InfluxDB failed with status code [401], response body: {"code":"unauthorized","message":"unauthorized access"}`

Looking at Kamon documentation, it says that authentication is optional and if enabled uses user/password, however InfluxDB 2 requires a non optional full access/admin token.

[2022-02-13 14:20] roman-io opened #1108 "Docs: wrong link to Kanela"
https://kamon.io/docs/latest/guides/how-to/start-with-the-kanela-agent/
`latest release from our [Kanela releases](https://bintray.com/kamon-io/releases/kanela) repository and start`

[2022-02-13 14:21] #1108 closed

[2022-02-13 15:14] roman-io opened #1109 "Instrumentation not starting after assembly."
Hey folks,

I'm running an Akka classic project,
[code]

with

[code]
or
[code]

Both ways it works from Idea run, but once I assembly the app to an uber jar it doesn't start the Akka instrumentation.
I tried to run the jar with `scala -J-javaagent:../../../../Downloads/kanela-agent-1.0.14.jar my.jar`, but still the Kamon status page shows "Instrumenation Not Connected".

Also, when running with t

[2022-02-14 14:47] roman-io commented on #1109
@ivantopo I added the `kamon-runtime-attacher`, didn't solve the issue.
In the reference.conf file from the assembly jar in see the following:
[code]
As well as:
[code]
When the application start I see:
[code]

[2022-02-14 15:56] roman-io commented on #1109
@ivantopo repo to reproduce the issue:
https://github.com/roman-io/kamon-kanela-assembly

[2022-02-15 08:35] ivantopo commented on #1107
Hey @bcreaney, seems like we will need to implement a tiny change in the reporter to support token authentication as described [here](https://docs.influxdata.com/influxdb/v2.1/api-guide/api_intro/#authentication). Seems like a tiny effort so I'll try to get it out right away.

[2022-02-15 08:49] ivantopo commented on #1107
It was a simple one, indeed :smile:

#1110 is up now. If all goes fine it should be merged and released by Friday (I'm trying to release every Friday with whatever we have ready to be merged)

[2022-02-15 09:21] ivantopo commented on #1109
Thanks for the reproducible!

I tried it out and my current guess is that running with `scala ...` creates an isolated ClassLoader for the application classes and those are disconnected from the system classloader, which is where the actual Kanela agent gets loaded.

Running the exact same jar with `java -jar ....` works as expected, without needing to add the `-javaagent` option because the runti

[2022-02-15 09:21] #1109 closed

[2022-02-15 23:47] bcreaney commented on #1107
@ivantopo thanks for the fast resolution. This is great!

[2022-02-22 12:27] epifab opened #1114 "Cassandra instrumentation is missing prepareAsync(query, keyspace, customPayload)"
We're experiencing the following error:
[code]
We're using datastax 4.4.0 and kamon 2.2.2

At first sight, it looks like Kamon is currently supporting datastax 3.6 (possibly 3.x)

[2022-02-22 14:06] ivantopo opened #1115 "Consider a clear way to avoid starting traces on the client/producer side of requests"
I just noticed a situation where traces would be started automatically by the Kafka producer instrumentation and then followed on all consumers, but there was no actual current trace on the service producing the messages. The Kafka producer instrumentation, and all client instrumentations for that matter, should not start a trace automatically if there wasn't a trace already available. Probably co

[2022-02-22 14:13] ivantopo opened #1116 "Do not trace Akka Streams-related actors by default"
When a traced request enters in contact with a Stream we end up tracing A LOT of messages like `OnSubscribe`, `AsyncInput`, `RequestMore`, and `OnNext` that really don't add any value to the trace. Those are internal implementation details that we shouldn't expose out of the box.

A good thing is that all of those spans are created by the the graph interpreter so we could just avoid creating spans

[2022-02-22 14:46] #1107 closed

[2022-02-22 15:31] #1114 closed

[2022-02-23 10:51] thereisnospoon commented on #659
Upvoting this.
It would be nice to disable all metrics collection for spans on configuration level. In some cases it doesn't make sense to collect metrics on spans because the systems that collects the spans already provides ability to generate such metrics, and multitude of custom metrics generated for spans can lead to significant costs in systems that charge customers based on number of custom

[2022-02-23 15:34] ivantopo opened #1118 "Server-side Akka gRPC requests are not handled properly"
Noticed that server requests are not finishing their traces because `.takeSamplingDecision()` is never called. This means we end up without traces, and metrics only show one `http.server.request` operation. This is only on the server side, I didn't get into reviewing the client side yet.

[2022-02-24 09:27] ivantopo opened #1120 "Support client-side Akka gRPC requests"
While working on the service side support (#1119) I noticed it shouldn't be extremely hard to create client Spans for Akka gRPC calls. Also worth taking a look at @jtjeferreira's work here: https://github.com/nezasa/kamon-akka-grpc/

[2022-02-24 11:23] ivantopo opened #1121 "Check support for JedisCluster and JedisPool"
I'm not sure whether our current Jedis instrumentation would work with clusters and pools on Jedis 4.x. We should check that out and add instrumentation if necessary

[2022-02-24 12:57] ivantopo commented on #1072
This seems to happen only when adding the dependencies one-by-one, instead of using the bundle. Fixing it in a bit.

[2022-02-24 13:13] ivantopo commented on #1072
This will get fixed with #1122 :smile:

[2022-02-24 14:14] ivantopo commented on #1115
Added a small related control for producers via #1125.

[2022-02-24 17:34] tmilner opened #1126 "W3C span with OpenTelemetry, incorrect parent span ID."
I've been trying to setup up tracing using the W3S format and Open Telemetry. I have a weird issue where the instrumented akka server spans are not linked to the client span that called it and instead has a parent span ID that does not exist.

In my efforts to debug this I have tried setting join-remote-parents-with-same-span-id to yes, which is not expected to be used for this, and then found tha

[2022-02-24 17:48] tmilner commented on #1126
I just realised that I am on a version that contains a now reverted change to the W3C headers where it used the parent span. I suspect this is the reason so I will upgrade and close if fixed.

[2022-02-25 15:28] cmcmteixeira opened #1127 "Cats 3.x support"
This is not yet mergeable for obvious reason (too many comments, printlns and debug code)

As previously discussed on discord, I attempted to instrument the internals of cats-effect 3.x .

This lead me through a bit of a journey through the internals of cats-effect which I'm yet to fully understand.

My findings should therefore be taken with a pinch of :salt:

###Instrumenting the runLoop

This w

[2022-02-28 12:10] duese opened #1129 "Authentication token for module kamon-influxdb is not recognized"
As of PR #1110 kamon-influxdb should now properly support InfluxDB authentication tokens. Unfortunately the [respective code](https://github.com/kamon-io/Kamon/blob/master/reporters/kamon-influxdb/src/main/scala/kamon/influxdb/InfluxDBReporter.scala#L233) looks at `kamon.influxdb.token` and not at `kamon.influxdb.authentication.token` as stated in the [documentation of kamon-influxdb](https://kamo

[2022-02-28 12:27] duese opened #1131 "Unnecessary encoding of authentication token for influxdb"
The code that processes the authentication token for InfluxDB is [currently encoded to ISO_8859_1](https://github.com/kamon-io/Kamon/blob/master/reporters/kamon-influxdb/src/main/scala/kamon/influxdb/InfluxDBReporter.scala#L234) which is unnecessary as `kamon.influxdb.authentication.token` must already be provided as a base64 encoded string.

An ISO_8859_1 encoded token also may raise an IllegalAr

[2022-03-01 09:35] ivantopo opened #1132 "Cannot cancel registration on module [akka.io.pinned-dispatcher] because the module was not added properly"
This issue happens when you have more than one actor system on the same JVM since Kamon 2.3.0. The problems is that we introduced a new kind of periodic collector module used for things like thread pools and they are "keyed" by the dispatcher name, but several dispatchers have the same name across different actor systems.

We probably should add the actor system name as a prefix to the dispatcher

[2022-03-01 12:16] devu1997 commented on #793
I tried using Kamon with tapir and it worked. The processing time of each endpoint was recorded in seconds as histogram metrics. But it will work only if you use `AkkaHttpServerInterpreter(serverOptions).toRoute(endpoint)` where endpoint is a single ServerEndpoint and not List[ServerEndpoint]. If there are multiple endpoints then you have to combine all like this
`AkkaHttpServerInterpreter(serverO

[2022-03-01 15:13] ivantopo commented on #1070
Indeed, this issue was fixed in [v2.4.0](https://github.com/kamon-io/Kamon/releases/tag/v2.4.0) and was caused by a rouge `logback.xml` file in the mongo instrumentation. Thanks for bringing it up and thanks @antoine-morisseau for doing the research!

[2022-03-01 15:13] #1070 closed

[2022-03-01 16:56] tmilner commented on #1126
On the latest version everything works as expected and I do not need join-remote-parents-with-same-span-id

[2022-03-01 16:56] #1126 closed

[2022-03-01 19:30] ivantopo commented on #1126
Thanks for sharing that @tmilner!

[2022-03-02 06:41] mofei100 opened #1134 "jeager tracing can not collect akka-http endpoint"
Why can not collect akka http endpoints
like http://127.0.0.1:8080/users
my build.sbt
"io.kamon" %% "kamon-bundle" % "2.4.8",
"io.kamon" %% "kamon-status-page" % "2.4.8",
"io.kamon" %% "kamon-jaeger" % "2.4.8"

[2022-03-02 13:52] ivantopo commented on #1068
Hey @nvollmar @antoine-morisseau:

I have been thinking about this and wondering: did you see this problem when running from SBT or in production mode? Now that I think about it, I think the play SBT plugin makes its own actor system and that might be the source of the clashes. Still needs to get fixed though.

[2022-03-02 14:48] antoine-morisseau commented on #1068
@ivantopo i got this issue when running the app from intellij play configuration to run my app.
It's using sbt to run the app.

[2022-03-03 02:09] #1134 closed, assigned to nobody

[2022-03-03 02:09] mofei100 commented on #1134
It is work~

[2022-03-03 11:12] #1129 closed

[2022-03-03 11:12] #1131 closed

[2022-03-03 13:45] ivantopo commented on #1093
Hey @antoine-morisseau, @nathanmbrown,

We knew it was necessary to instrument `Scheduler.scheduleOnce` since long time ago because that is what powers `akka.pattern.retry` and `akka.pattern.after` under the hood. In fact, it is used by `TimerScheduler.startSingleTimer` too! I just wrote instrumentation for that and will push it in a little bit.

On the other hand, calls to `Scheduler.scheduleWith

[2022-03-03 14:19] ivantopo commented on #1127
Hey @cmcmteixeira, thanks a lot for the detailed feedback here! I read it once, and definitely need to read it a couple times more to really digest what is going on.

As I was going through, this part of the tests got my attention:

[code]

I'm almost sure that we should never `IO.delay` storing a context. There is no guarantee that anything will ever clear that context, or that that execution wil

[2022-03-03 15:08] ivantopo commented on #793
Hey @devu1997, that's weird!

The instrumentation is explicitly ignoring the method that accepts `List[ServerEndpoint[...]]` because in its implementation it ends up calling the one for single endpoints. Can you please share what versions are you using? Maybe something changed and we need to update the instrumentation!

[2022-03-04 12:59] ivantopo commented on #890
Closing this as duplicate of #641

[2022-03-04 12:59] #890 closed

[2022-03-04 17:13] ivantopo opened #1137 "Investigate whether Akka is creating an executor per routee with custom dispatcher"
In one of our router metric tests we have this configuration (reduced):

[code]

And while I was testing a fix for #1132 I noticed that even though the issue was fixed, some warnings about registration still showed up:
![image](https://user-images.githubusercontent.com/1302854/156808621-82f8b8c3-e327-4f0e-9334-dcc6ccd66f61.png)

I did some printlning and noticed that Akka is actually creating diff

[2022-03-07 07:02] #1082 closed

[2022-03-07 07:03] #1072 closed

[2022-03-07 07:18] #1118 closed

[2022-03-07 07:38] #1116 closed

[2022-03-07 07:40] #1093 closed

[2022-03-07 07:42] #641 closed

[2022-03-07 07:46] #1132 closed

[2022-03-07 19:23] ivantopo opened #1141 "Play filters are added twice when Kamon is enabled"
Tried this with Play 2.8.13 in development mode, with Kamon 2.5.0. Created a simple filter and added it to `play.filters.enabled`, then I see the filter added twice to the list of filters and actually executed twice:

![image](https://user-images.githubusercontent.com/1302854/157102571-95c8da6c-b5d4-4e92-ae2b-71a341f7ad65.png)

I have some vague memories of this happening in the past so who knows

[2022-03-11 10:46] sebarys commented on #793
@devu1997 @ivantopo
I see that Tapir support metrics collection https://tapir.softwaremill.com/en/latest/server/observability.html#prometheus-metrics

Maybe there is a way to gather request/response counters and duration histograms without need for code instrumentation: if I understand correctly just implementation of Tapir metrics collection interface that use Kamon metrics registry is needed.

[2022-03-14 06:10] devu1997 commented on #793
@ivantopo I am using 0.19.0 version of tapir and 2.4.8 version of kamon

[2022-03-14 06:14] devu1997 commented on #793
Yeah, the tapir implementation currently can't be used with Kamon

[2022-03-14 06:19] devu1997 commented on #793
@ivantopo I am using akka version 2.6.15, in the source code I can see that the `toRoute(se: ServerEndpoint[AkkaStreams with WebSockets, Future])` calls `toRoute(ses: List[ServerEndpoint[AkkaStreams with WebSockets, Future]])` not the opposite. So current instrumentation is not being called ever if I use the method that accepts List[ServerEndpoint[...]] I believe

[2022-03-14 14:41] LinnielDW commented on #967
Facing the same issue. @SimunKaracic did you ever find a solution?

[2022-03-16 18:53] sebarys commented on #793
@ivantopo @devu1997
I was able to implement tapir metrics collector version that use Kamon metrics registry:
[code]

I've tested it for sample app
[code]
and values looks fine when retrieving them using prometheus exporter https://kamon.io/docs/latest/reporters/prometheus/

[2022-03-17 07:41] hughsimpson commented on #1127
I've tried the pr out. Generally it works pretty well, the only things that strikes me are that
- sometimes the context escapes (in particular, reacting to a redis pubsub event runs in a random trace, if I don't manually instrument it. I guess this would apply for anything that didn't have an instrumentation module). Probably this is related to the fact that the context isn't cleaned?
- everything

[2022-03-17 08:31] devu1997 commented on #793
@sebarys similar implementation is what I too ended up using, it would be great if this is added to Kamon repo to replace the existing instrumentation based tapir metrics. I just have a few questions and suggestions -

Why do you have to pass `kamonObj: Kamon.type`? You can use `Kamon.counter("responses_total")` directly right? Also, it would be nice if you can add a description also to each metri

[2022-03-17 08:48] #1141 closed

[2022-03-17 09:39] ivantopo commented on #1141
This problem didn't have anything to with the instrumentation, but with a little bug in the sbt-kanela-runner plugin. The core of the issue was that `application.conf` files (and for the matter, all resource files) from the application folder ended up showing twice in the classpath, and since filters are added to the key with `play.filters.enabled += classname` we would end up adding the same filt

[2022-03-17 09:54] sebarys commented on #793
@devu1997 thanks for suggestions
- I've passed kamon object explicitly to avoid using uber-global objects - it improve ability to test (e.g. you can mock it)
- I don't need this `namespace` tag , alternatively we can refactor `TapirKamonMetrics` to accept `additionalTags: Seq[Tag] = Seq.empty` so end user could provide desired additional labels
- good point with using Timer and didn't know about o

[2022-03-17 10:04] devu1997 commented on #793
@sebarys yes, I am using Tapir and Kamon and it would be great to have OOB integration between those without requiring instrumentation of code.

[2022-03-17 11:55] ivantopo commented on #1046
I'm closing this issue because I'm pretty sure it was fixed already. I got it running without problems so far.

[2022-03-17 11:55] #1046 closed

[2022-03-17 19:10] hughsimpson commented on #1127
Out of curiousity @cmcmteixeira, have you raised anything in the typelevel discord? I imagine you could attract some help from there...

[2022-03-18 02:22] mofei100 opened #1144 "Can not get span Info[2.5.0]"
Hi,when I use the version 2.5.0,and enable grpc trace.
But In akka-http endpoint, span info dropped.I think it is a bug.

[code]

[code]

My project link is:https://github.com/mofei100/akka-monitor-demo
branch is:feature_init_demo

please help me,thanks

[2022-03-18 14:33] cmcmteixeira commented on #1127
- Regarding the "context escaping" probably yes! Since we don't clean the context on exiting the run loop if the thread is reused then it may happen that
- Not sure I understand what you mean by things being flat ? I even have a test where I check the parent/child relationship.

As for the cats-effect side of things haven't really asked. My previous question was related but not quite the same. I s

[2022-03-21 08:25] sebarys opened #1146 "Ability to filter metrics exposed in prometheus EP"
Hello,

Is it possible to filter metrics that will be exposed by prometheus reporter?
E.g. I would like to blacklist some of the collected metrics so they won't be returned in Prometheus metrics endpoint response

Regards

[2022-03-23 02:33] #1144 closed

[2022-03-23 02:34] mofei100 commented on #1144
When using akka-grpc,http2 is enable.
kamon only instrument http2Ext.
When use http2,tracing is work.
curl --http2 http://localhost:8080/users2

[2022-03-23 08:42] ivantopo commented on #1144
Hey @mofei100,

Just wanted to link a few things here:
  - https://github.com/kamon-io/Kamon/issues/940
  - https://github.com/kamon-io/Kamon/pull/1094

I'm aware that our Akka HTTP instrumentation only works with HTTP1 OR HTTP2, but when both are available only HTTP2 will work. I'll try to fix that asap. Thanks for sharing!

[2022-03-23 15:48] ivantopo commented on #1146
Hey @sebarys, I thought we already had this implemented but nope. I just pushed #1146 to fix it. Should be out in the next release, probably later this week!

[2022-03-23 17:32] sebarys commented on #1146
Great, thanks for quick response! :)

[2022-03-23 17:46] sebarys opened #1149 "Weird behaviour of two counters with the same TagSet"
Hi!

I have question about Counters (assume it propagate to all Metrics primitives):
Let's say I have counter and from it create two instances of another counter with exactly the same TagSet. I noticed that counter  value is available only in first created instance, second instance report zero. Test that reproduce issue:
[code]

Is it expected behaviour?
I don't need in my app get this value but I

[2022-03-25 10:40] hughsimpson commented on #1127
On the flatness I'm probably off-base tbh. I'm using fs2 streams in some places which is also where I'm seeing this so I'll have a look at that in the next month or so, it probably needs its own handling

[2022-03-25 15:38] kudrevatykh opened #1150 "NullPointerException in jdbc.ProxyConnectionCloseMethodAdvice$.exit"
Sometimes on application startup I get NPE
%%
Caused by: java.lang.NullPointerException: Cannot invoke "java.util.concurrent.atomic.AtomicReference.get()" because the return value of "kamon.instrumentation.jdbc.HasConnectionPoolTelemetry.connectionPoolTelemetry()" is null
	at kamon.instrumentation.jdbc.ProxyConnectionCloseMethodAdvice$.exit(HikariInstrumentation.scala:147) ~[kamon-bundle_2.13-2.4.

[2022-03-30 07:56] #1146 closed

[2022-04-11 12:09] ivantopo opened #1154 "Module registration errors on the Cassandra Driver executors"
I'm seeing this when starting/stopping a test Lagom service:
![image](https://user-images.githubusercontent.com/1302854/162736317-99a0b8a0-ebaf-4835-bbda-ad1b0c600c90.png)

[2022-04-14 03:35] johanventer commented on #659
Totally agree, I really don't need `span.processing_time.*` costing us a fortune in Datadog.

Thankfully you can turn it off for the HTTP server and client instrumentation, which was one of our biggest offenders:

[code]

I really don't care to collect things like `kamon.trace.sampler.decisions`, either.

[2022-04-20 16:03] sebarys commented on #1149
Another example, I would like to verify that `autoUpdate` is working as expected, provide to other team folks example how to use it
[code]

but test is failing - how I can verify that given counter value is changed over the time?

[2022-04-24 01:54] jxnu-liguobin opened #1163 "Why code of instrumentation for akka-http10.2 has been removed?"
[code]

now, cannot found it.

<img width="1330" alt="image" src="https://user-images.githubusercontent.com/29496873/164952410-cbf77339-9038-42f8-b744-2b2b2ec550df.png">

[2022-04-25 23:20] nikhilaroratgo commented on #698
May I ask why do the value exceeds  the max value at the very first place ?

[2022-04-26 00:57] dvgica commented on #779
I'm able to reproduce this bug fairly easily. I have a counter metric that increments with each request received, and firing requests at it repeatedly via point-and-click in Insomnia triggers the issue. I'm capturing and printing out UDP packets with `socat - udp4-listen:8125,reuseaddr,fork` and there are plenty of cases like:

[code]
Note the first line has two metrics concatenated without a newl

[2022-05-04 07:53] antoine-morisseau commented on #1068
@ivantopo i deployed a version of my app in production mode and i still have the warnings at the startup.
Here is my app libraries versions :

- play app in 2.8.15\
- scala 2.13.3
- kamon 2.5.1
- kamon-opentelemetry 2.5.1

Here is the log message : `Cannot register module [default/akka.actor.internal-dispatcher], a module with that name already exists.`
It pop 20 times at startup.

[2022-05-11 11:33] ivantopo opened #1166 "Cannot turn off Akka remote metrics"
We have a `akka.remote.track-serialization-metrics` that is not working anymore! This probably happened after the move to using Artery's remote instrument implementation.

[2022-05-18 13:50] sebarys commented on #1146
@ivantopo could you provide example how I can use it?
I'm struggling with figuring out how provide filter that will be recognised by metrics reporter

[2022-05-25 02:36] fggarcia opened #1171 "Error after upgrade from 2.5.2 to 2.5.3"
After upgrade:
[code]

the error is only occurr only when i run ```sbt test```

[code]

after rollback to kamon 2.5.2... ```sbt test``` work fine again.

## NOTE

```sbt test``` initial output:
[code]

I find that kamon-bundle has kanela-1.0.12.jar (when i inject  agent as jvm param -javaagent:/home/fede/Downloads/kanela-agent-1.0.14.jar when running app, the error not occur)

![image](https://use

[2022-05-30 07:59] pawelkaczor opened #1172 "Invalid context propagated via Akka load-balancing router"
Below is the implementation of [Akka load balancing router](https://doc.akka.io/docs/akka/current/cluster-metrics.html#adaptive-load-balancing) that I use for inter service communication in Akka cluster. According to my observations the router occasionally propagates invalid context (a context of a different message). I had to resolve the problem by manually passing the context information in an e

[2022-06-01 14:51] hhalex opened #1173 ""No duplicate ExecutionAttribute" when using multiple aws s3 clients with Kamon 2.5.3"
Hello there,

since last version (2.5.3), I encounter this error while using multiple aws S3 clients:

`[error] java.lang.IllegalArgumentException: No duplicate ExecutionAttribute names allowed but both ExecutionAttributes 17f26bfa and 2c7346a0 have the same name: SdkClientSpan. ExecutionAttributes should be referenced from a shared static constant to protect against erroneous or unexpected collis

[2022-06-03 08:23] hhalex commented on #1173
Thank you very much! :slightly_smiling_face:

[2022-06-04 01:31] dvgica opened #1176 "kamon-akka prevents ActorSystem from terminating"
Under the following circumstances:

- `kamon-bundle` is on the classpath and `Kamon.init()` is called at the start of the application
- `kanela-agent` is used as a Java agent and `kamon-akka` is on the classpath

an `ActorSystem` within the application is somehow prevented from terminating correctly.  In the second case, if `kamon-akka` is not on the classpath, there is no issue.

I have reproduce

[2022-06-04 01:52] dvgica commented on #1176
Oh, I was missing something. Adding `Kamon.stop` before the `as.terminate()` fixes things: https://scastie.scala-lang.org/47Gg8GcPTBOrrvXo257S3w. However it only fixes the first case (with `kamon.bundle`), not the case with `kanela-agent`). And I would argue it's a bit surprising that even though you start Kamon first, you don't shut it down last.

[2022-06-06 16:32] nmadhavi33 opened #1177 "Kamon tracing supports Redis Radisson client? (Not jedis/lettuce/redisscala)"
I am looking for kamon.conf file configuration for redis Redisson client? (https://mvnrepository.com/artifact/org.redisson/redisson) client.  Client is not jedis/lettuce/redisscala

[2022-06-06 20:26] PawelLipski commented on #1068
+1, getting the same kind of warnings with akka-http (10.2.9), Scala 2.13.8, sbt 1.5.8, under Kamon 2.5.1 ://

At least since I've switched sbt to classLoaderLayeringStrategy `Flat`... it didn't happen with the default `ScalaLibrary` (but then Kamon instrumentation didn't work at all :/)

[2022-06-08 15:44] #1173 closed

[2022-06-21 15:17] nmadhavi33 opened #1182 "How to automatically inject datadog's trace id in logs for Kanela agent jar?"

[2022-06-22 08:03] t-bast opened #1183 "Upgrade okhttp3 to 4.x for `kamon-prometheus`"
Kamon currently depends on an old version of okhttp3 (see `Build.scala`):

[code]

This creates issues with other packages such as `com.softwaremill.sttp.client3:okhttp-backend` who have upgraded to `okhttp3` version `4.9.3`: adding a dependency to `kamon-prometheus` effectively downgrades the `okhttp` package in my class path, which breaks my application.

It would be really nice to upgrade Kamon

[2022-06-24 15:38] oskoi commented on #1068
+1
libraries versions:
- play 2.8.13
- scala 2.13.7
- kamon 2.5.4

logs:
[code]

App has 3 actor systems but only gets warning for default

[2022-06-27 22:26] adrianlyjak opened #1187 "mongo legacy instrumentation does not work when using kamon-bundle"
After upgrading kamon, mongo instrumentation stopped working (I am using mongo-scala-driver=2.8.0). I traced this down to the fact that the legacy mongo-driver instrumentation and the new mongo-driver share the same module name in the configuration:

https://github.com/kamon-io/Kamon/blob/1212250d9f72f7721a1902e8c25a46201477aa49/instrumentation/kamon-mongo/src/main/resources/reference.conf
[code]

[2022-07-19 09:34] Whitilied commented on #1177
waiting for my pr
https://github.com/kamon-io/Kamon/pull/1190

[2022-07-23 17:33] yarosman commented on #714
Closed because of https://github.com/kamon-io/Kamon/pull/926

[2022-07-23 17:33] #714 closed

[2022-07-26 07:01] eyalfa commented on #1183
hi, we've encountered this issue due to compliance requirements (see square/okhttp#6724).

we were able to mitigate by simply introducing the latest okhttp version as a direct dependency of our application, tested by accessing the kamon-prometheus endpoint in a browser).

will you guys be willing to accept a (tiny) PR increasing okhttp version?

[2022-07-29 15:03] vaslabs commented on #1064
It looks to me like a scala 3 issue, where parameter annotations are missing from the bytecode

https://github.com/kamon-io/Kamon/pull/1191

[2022-07-29 15:27] vaslabs commented on #1064
Ok found a fix for this, it's in the above PR, but it's a PoC, it passes the test for scala 3 but it needs code changes to keep compatibility for older versions + do the work for all the classes that have parameter annotations

[2022-08-08 09:55] omeraha opened #1193 "Using Kamon for extracting Kafka streams metrics"
Hi all!
Kamon used to have a separate project for Kafka, which had a [folder for Kafka streams metrics](https://github.com/kamon-io/kamon-kafka/tree/master/kamon-kafka-streams/src/main). Nowdays, Kafka is part of the Kamon project, but I don't see any Kafka streams metrics there. Are they still supported?

[2022-08-10 04:20] m50d commented on #1127
Hi, I took a look at this and I think I can see a cleaner way to do it, which passes this test while clearing the context on exit. Essentially:

 * Continue stashing the current context in the fiber on creation
 * Restore the fiber context as the current context on entering `run()` _or `restore()`_
 * Stash the span for that context into a threadlocal, and close/clear it on exiting `run()` _or cal

[2022-08-10 05:00] m50d commented on #1127
I guess technically we should only restore the context on a successful return from restore (i.e. if we win the race), but you get the idea.

[2022-08-10 11:43] cmcmteixeira commented on #1127
Hey @m50d
It was a while ago that I did this so I'm a bit blank on the details.. I fear it might not be as easy as handling those function calls but I think it's worth the try for sure !

Also, it might be useful to have a look at how they handle `var localState: IOLocalState` in the IOFiber. This is,if I'm not mistaken, roughly the equivalent of `ThreadLocal`.

As for the implementation, you go a

[2022-08-30 13:01] davellas opened #1200 "using runWithContextTag doesn't seem to work across akka http directives"
I am using Kamon 2.5.1 with kamon-bundle, sbt-kanela-runner 2.0.14, akka-http 10.2 (reproduces also with 10.1.x), scala 2.13.6

If I take the hello world from akka-http, and try to use and propagate Kamon Context, the context will be cleared as soon as I encounter an akka directive:

[code]
The tags get propagated correctly across different threads and/or futures, but if I cross an akka-http direc

[2022-08-30 13:13] davellas commented on #1200
Correction: using storeContext API allows me to see the tag in the nested directive, but if I call scope.close() afterwards I don't see the tag.

[2022-08-30 14:20] davellas commented on #1200
I think I figured it out: I need to put the runWithContext inside a directive:

[code]

[2022-08-30 14:20] #1200 closed

[2022-08-30 14:48] ivantopo commented on #1200
Hey @davellas, great that you figured out! That is indeed the right way to go. For reference, there is also an `operationName` directive that comes with the Akka HTTP instrumentation: https://github.com/kamon-io/Kamon/blob/master/instrumentation/kamon-akka-http/src/main/scala/kamon/instrumentation/akka/http/TracingDirectives.scala#L30

[2022-09-01 21:12] ivantopo opened #1201 "Can't record big values on `http.server.connection.lifetime`"
One of our users is getting this error with long-lived HTTP connections (web sockets):

[code]

By default our histograms can cover up to 1h latencies and in this case, a connection was alive for over 2 hours at the time it closed. If it was a more commonly used metric I would suggest increasing the range in the metric but in this case we are not sure of how big this number can get as it could go

[2022-09-01 21:34] ivantopo commented on #1201
I did some quick tests and these settings are kind of nice defaults:

[code]

It makes the metric cover the range from 1ms to 7 days, with 1% precision, and it even uses ~30% less memory than the default histogram! This will probably become the new default for the metric :muscle:

[2022-09-05 14:05] jillguyonnet opened #1202 "Removing Kamon from Akka cluster with rolling update"
Hi,

My team is looking to remove Kamon from our service, which runs on an Akka cluster. We cannot perform full cluster restarts on production so we have to do rolling updates. We were able to remove `Kamon.init`, but removing the kanela agent produce the following kind of errors from Akka deserializer in the app logs:
[code]
and new nodes are unable to join the existing cluster.

We were thinking

[2022-09-06 08:27] insdami commented on #1120
Hey @ivantopo, we ended up using @jtjeferreira with a bit of hesitation due to not being part of the kamon akka grpc module and some outdated libs.

Is there any reason why https://github.com/nezasa/kamon-akka-grpc/ is not part of the Kamon official instrumentation? Is there something I can do to contribute to that if it's something suited for new people to Kamon?

[2022-09-06 13:27] jillguyonnet commented on #1202
Hey @ivantopo 👋 Thanks for your reply.

We are using Artery Remoting.

[2022-09-06 13:37] ivantopo commented on #1202
When you removed the call to Kamon.init(), did you also completely remove the Kamon jars from the classpath?

PS: you might want to stop by [our Discord server](https://www.linkedin.com/in/ivantopo/) to chat about this!

[2022-09-06 14:24] ivantopo commented on #1202
Also, do you have access to the full stacktrace logged with the warning?

[2022-09-07 09:21] jillguyonnet commented on #1202
Yes, my understanding is sbt should take care of that.

We see the issue when removing `javaAgents += "io.kamon" % "kanela-agent" % "1.0.6"` from the settings in `build.sbt`, and the same when trying to remove everything (`kamon-bundle`, `kanela-agent`, config files).

I'm currently missing the full logs from the pre-existing cluster nodes, where the issue would be. I'll try to do another run to c

[2022-09-07 13:33] ivantopo commented on #1120
Hey @insdami, its just lack of time I guess! There was an open PR here: https://github.com/kamon-io/Kamon/pull/1153 but I'm not sure why it got closed. I do remember that there were some challenges around doing context propagation properly.

Are you interested in working on that PR (adapting @jtjeferreira's work with the latest Kamon and opening a PR)?

[2022-09-08 18:27] Dichotomia commented on #698
I have the same problem here on multiple applications.

[2022-09-08 18:28] Dichotomia commented on #1201
Same problem here on multiple applications.

[2022-09-09 23:27] dr3s opened #1205 "UnsupportedOperationException when reading trace context from kafla"
UnsupportedOperationException when reading trace context from kafla

running kafka 2.8 with compression

Only occurs when tracing is set to continue
[code]

Error reading the context from the header.

I think the error is on this line when the readAll can't be invoked on the reader but it could also be any other UnsupportedOperation on the context here:
https://github.com/kamon-io/Kamon/blob/maste

[2022-09-12 11:35] ivantopo commented on #1205
Hey @dr3s,

I've been trying to reproduce this issue but no luck so far. I tried with corrupted headers, no headers, different settings, different Kafka versions and all of them worked out.

What additional info could you share to reproduce this issue? and, do you have access to the exception logged [here](https://github.com/kamon-io/Kamon/blob/master/core/kamon-core/src/main/scala/kamon/context/B

[2022-09-12 12:10] dr3s commented on #1205
This trace was from our profiler.  For some reason I don't see the exceptions in the logs and we have the level set to INFO.  To give you an idea of volume, I recorded about 1M exceptions per minute.  I'll try to just debug locally and capture a trace.

In general though, I think it may be problematic in an APM library to use exceptions in this way.  It seems the message we are seeing is from `Suc

[2022-09-12 12:18] ivantopo commented on #1205
Oh, I see it now!

The exception you are seeing is created by the `Success.failed` implementation, but it is never thrown! It means that every time a binary context is deserialized with the binary propagation we are creating an exception (with all the garbage that comes with it) and doing nothing with it :exploding_head:

I'll fix this ASAP.

[2022-09-12 12:46] ivantopo commented on #1205
Thanks for sharing that screenshot @dr3s, everything clicked with it!

#1206 fixes this issue and should be out by the end of this week. Stay tuned for the next release!

[2022-09-12 13:21] dr3s commented on #1205
Right, I actually do this in my own code and it's probably bad practice.  I don't know what the overhead is but `Success.failed()` probably shouldn't be doing it either.  I wonder if it has changed in Scala 3.

I still don't know where that function is actually being invoked.  Is it just because the `Try`object is being applied that the `failed` function constructs the exception?

[2022-09-12 13:30] ivantopo commented on #1205
It gets called inside the binary propagation here: https://github.com/kamon-io/Kamon/blob/master/core/kamon-core/src/main/scala/kamon/context/BinaryPropagation.scala#L174-L176

The `Try` docs state this:
![image](https://user-images.githubusercontent.com/1302854/189666592-535fde85-4d6a-42f0-a20a-ba34522b5438.png)

So what is happening is that on the call site above we always have a success, which

[2022-09-15 14:19] dr3s opened #1207 "Future of Kamon due to akka license change"
Given the license change with Akka, I'm concerned what the impact is on Kamon.  Will Kamon get an exception like Play? Or how will Kamon deal with the license change?

[2022-09-15 15:01] ivantopo commented on #1207
Hey @dr3s,

I would love to get proper legal advice on this, but while we get, here is my interpretation of the new license:
  - There is a special grant for Play Framework that ensures Play Framework users can continue to use Akka in production (under the hood of Play) without requiring a commercial license. We initially thought we might need something similar, but we shouldn't need such a specia

[2022-09-15 15:26] dr3s commented on #1207
Thanks for the quick response and I should have checked the code first.  I was thinking you might be using akka in the reporters but it doesn't appear to be the case.  Glad to hear you have a plan for APM as well!

It would be great to hear your plans around other streaming libraries.

[2022-09-15 15:26] #1207 closed

[2022-09-29 17:05] nadavwr commented on #1176
@dvgica I looked into kamon-akka's reference.conf and tried disabling instrumentations to narrow down the root cause.

I'm using Kamon 2.5.0 (didn't want to switch the otel reporter implementation yet), and Akka 2.6.19. So far I've only tested early attachment using `Kamon.init()` (haven't tried with Kanela using `-javaagent`, but hopefully it'll be the same).

Turns out that disabling `kamon.inst

[2022-10-04 23:57] m50d opened #1210 "cats-effect IO traces aren't joined up in 3.4.0-RC1"
Just to flag up that our spans are not being linked to parents under 3.4.0-RC1 - presumably due to some changes to the IO implementation where we hook into it. I haven't looked into the details yet.

[2022-10-05 09:45] #1205 closed

[2022-10-05 09:45] #1201 closed

[2022-10-05 10:45] bwiercinski opened #1212 "kamon-logback: support of logback-classic 1.4.3"
`kamon-logback` module seems not to work with newest version of `logback` (1.4.3).

when starting an application i get following error:

[code]

cheers

[2022-10-10 11:15] e2000y commented on #1212
Need to change the configuration (disable MDC context)

kamon.instrumentation.logback.mdc.copy.enabled = false

to work with logback-classic 1.4.3.

The recent logback commit - https://github.com/qos-ch/logback/commit/7e3e2ae770c19724b0714c7f48fd33bbc6791c7e - updated the method getCopyOfContextMap() to call getPropertyMap().

Cheers

[2022-10-10 15:19] bwiercinski commented on #1212
1.4.4 seems not to work either

[code]

[2022-10-10 16:20] e2000y commented on #1212
If you don't use the MDC context in the log, you can update the configuration

kamon.instrumentation.logback.mdc.copy.enabled = false

to use logback 1.4.3+.

Cheers

[2022-10-12 17:17] ivantopo commented on #1210
Hey @dispalt @m50d, may I ask what frameworks are you using in the app where this problem is happening?

I took a look at the diff and it seems like the only instrumentation that will be missing is the one capturing the context when a new IOFiber is created:
![image](https://user-images.githubusercontent.com/1302854/195401240-42cbdc20-f510-4a1d-9cac-f489acc2d448.png)

That's because of a different

[2022-10-12 17:20] dispalt commented on #1210
We use Play to serve requests and all the biz logic is usually using an IO underneath.

[2022-10-12 17:28] ivantopo commented on #1210
Thanks for the answer, @dispalt. This is exactly the case I'm covering on #1214.

[2022-10-12 18:08] dispalt commented on #1210
Awesome... thank you!

[2022-10-14 10:52] willpickard91 commented on #958
Any update on this? I'm having the same problem

[2022-10-14 18:49] Dichotomia commented on #1212
Same problem here

[2022-10-14 20:10] bwiercinski commented on #1212
@e2000y i dont understand you. the issue is about having both the newest version of logback and kamon logback with its ALL FEATURES.

[2022-10-14 21:34] Dichotomia commented on #1212
Yes. Iadvize to disable this feature is non sense

[2022-10-17 08:51] khalidAlfozan commented on #1068
Any update regarding this issue? I'm getting the same warning logs but related to Cassandra.

Versions:
* scala 2.13.8
* kamon 2.5.8
* lagom-sbt-plugin 1.6.7

Logs:
[code]

[2022-10-17 10:26] khalidAlfozan commented on #1132
Hey @ivantopo, could you please confirm if this is related to: https://github.com/kamon-io/Kamon/issues/1068 ?

[2022-10-17 10:40] khalidAlfozan commented on #1137
Related to: https://github.com/kamon-io/Kamon/issues/1068

[2022-10-18 07:35] ivantopo commented on #1210
Closing this as fixed on #1214. Released as Kamon Telemetry 2.5.9

[2022-10-18 07:35] #1210 closed

[2022-10-18 07:40] ivantopo commented on #1132
Not sure, but going to comment over there :wave:

[2022-10-18 08:22] ivantopo opened #1215 "Wishlist for Kamon Telemetry 3.x Series"
Hello people!

In the 2-ish years since we released Kamon 2.0, and I think it is time to clean things up for a new major version. I remember that back in 2019 we did a lot of "defensive" coding in Kamon because OpenTracing was still around and changing, folks were talking more about OpenCensus/w3c-tracecontext, and suddenly OpenTelemetry started taking shape.

We made things more configurable and

[2022-10-19 03:16] lucasamoroso commented on #1215
Hi!

I don't know if this applies for Kamon 3 but one thing that I would love is to have a configuration field at the root of `kamon` to enable/disable it and this should enable/disable all modules (instrumentation, reporters, everything).

In my experience most of the times when I need to shutdown Kamon on a specific environment I need to add custom code, very simple code but needs to be added, t

[2022-10-23 14:04] milanvdm opened #1219 "Kamon cats-3 not working for Async[F]"
I've created https://github.com/kamon-io/Kamon/pull/1218 to replicate the existing tests for `IO` also to have one for `Async[F]` using `IO`.

It seems the `Async[F]` tests do not all pass.

[2022-10-26 07:10] ivantopo commented on #1212
Hey @bwiercinski @Dichotomia, could you please share a bit more information to reproduce?

I tried to run on a simple app with Kamon 2.5.9 and logback 1.4.4 and couldn't see any issue. I'm guessing there has to be something else on your classpath or logback configuration that triggers the issue :confused:

[2022-10-26 08:06] Dichotomia commented on #1212
Play 2.8.18
Scala 2.13.10
Akka 2.6.20
Openjdk11-jre
logback-classic 1.4.2
tika-java7 2.5.0
log4j-to-slf4j 2.19.0

[2022-10-26 08:29] ivantopo commented on #1212
Thanks @Dichotomia! Turns out I didn't have the instrumentation running on my test app, that's why it didn't blow up :facepalm:

I'm looking into this right now. Will update soon!

[2022-10-26 11:31] #1212 closed

[2022-10-26 13:20] Dichotomia commented on #1212
Good news. I will migrate when a new release will be done

[2022-10-28 09:42] jtjeferreira commented on #1120
btw I released a new version of kamon-akka-grpc https://github.com/nezasa/kamon-akka-grpc/releases/tag/v0.2.0

[2022-11-02 10:03] scheleaap opened #1225 "Logging MDC tags stopped working in 2.5.10"
After upgrading Kamon from 2.5.9 to 2.5.10, tags set in the Kamon context are no longer included in log messages.

At our company, we write log messages in JSON format and add information to the messages through the MDC through Kamon.
We use Kamon with logback-classic and [logstash-logback-encoder](https://github.com/logfellow/logstash-logback-encoder).

## Expected behavior

For example, we add t

[2022-11-04 19:44] antoine-morisseau commented on #698
We encounter the same issues in our play app with some values that goes up to 47 hours.
Do we know what this metric `http.server.connection.lifetime` is attached to ?

I searched in Kamon repository and found this : https://github.com/kamon-io/Kamon/blob/master/instrumentation/kamon-instrumentation-common/src/main/scala/kamon/instrumentation/http/HttpServerMetrics.scala#L52

But what is a connecti

[2022-11-04 22:22] Dichotomia commented on #698
I think it had been fixed in Kamon 2.5.9 by this PR https://github.com/kamon-io/Kamon/pull/1204

[2022-11-05 00:19] antoine-morisseau commented on #698
oh yes ! I'll try that and post an update !

[2022-11-07 16:44] antoine-morisseau commented on #1225
Same issue here quit annoying since it stop us  to use kamon above of 2.5.9 because we heavily rely on MDC for logging purpose.

[2022-11-08 13:53] ivantopo commented on #1225
Hey @scheleaap, thank you so much for reporting this with a reproducible, it made it super easy to fix the problem! :tada:

Indeed, the regressing came with v2.5.10 where I rewrote a part of the instrumentation and it would basically just append things to the MDC if there was already something in the MDC. If the MDC was empty, Kamon wouldn't add anything to it :facepalm:

Fixed in https://github.c

[2022-11-09 06:55] scheleaap commented on #1225
@ivantopo thank you for investigating & fixing the issue so fast! Looking forward to the next release :-)

[2022-11-16 07:18] Dichotomia commented on #1225
Hello!
Any news about a release containing the fix?

Thanks!

[2022-11-21 07:25] #1183 closed

[2022-11-29 12:49] nvollmar commented on #1215
Regarding the OpenTelemetry semantics it wouldn't be too much of a burden if the release came with a list of the changes to search/replace or a simple script that can be applied once and get the change done.

The other changes would be some welcome simplifications.