[2013-08-27 11:28] dpsoft opened #1 "Actor treeview in the dashboard"

[2013-08-27 11:45] dpsoft opened #2 "Add X-TRACE-TOKEN for play applications"
http://www.playframework.com/documentation/2.1.3/ScalaHttpFilters

[2013-08-27 13:39] dpsoft opened #3 "Refactor and clean of Dashboard view"

[2013-11-13 19:24] ivantopo opened #4 "Make sure ask pattern tracing is optional"

[2013-11-13 19:25] ivantopo opened #5 "Load all newrelic relevant information from the newrelic.yml file."
Thought of using SnakeYaml.

[2013-11-13 19:50] ivantopo opened #6 "store in TraceLocal useful data to diagnose errors"
some additional diagnostic data should be available when logging errors, specifically when doing HTTP the request URI might be a very useful information, probably putting it in a TraceLocal variable would be the best way to go.

[2013-11-13 21:49] ivantopo opened #7 "Implement error handling with NewRelic Agent"
We should report data every minute and in case a request fails (for network issues, for example) we should wait until the next piece of data is available, merge both sets of values and report the merged values.

[2013-11-19 18:19] dpsoft opened #8 "Remove js dependencies in dashboard."

[2013-11-26 14:13] ivantopo opened #9 "site: Ensure that preview-site can watch for changes"
Currently we either start/stop the `preview-site` task to see the changes or we run `jekyll serve --watch` directly in the jekyll folder.. ideally, sbt should take care of watching the changes and building again.

[2013-11-28 23:13] #8 closed, assigned to dpsoft

[2013-11-28 23:15] #3 closed, assigned to dpsoft

[2013-11-28 23:17] dpsoft opened #10 "Remove Highcharts dependency"
we need change Highcharts dependency by other open source chart library

[2013-12-30 15:54] ivantopo opened #12 "explore inlining of Trace.withContext via macros"

[2013-12-30 19:51] ivantopo opened #14 "automatic uow and traceName generation for Spray instrumentation"
See comments in this PR: https://github.com/kamon-io/Kamon/pull/13

[2014-01-18 02:25] #10 closed, assigned to dpsoft

[2014-01-25 02:33] ivantopo opened #17 "avoid reporting data to Newrelic if no metrics have been collected"
If no data is available, avoid posting to Newrelic. Also a back-off strategy must be implemented for cases where collectors become unreachable or the POST requests fail.

[2014-01-26 15:33] dpsoft opened #18 "Attach AspectJ LTW at runtime"

[2014-02-20 17:04] dpsoft opened #19 "Lost headers in spray request intrumentation"
ie.
val apiRoute = pathPrefix("foo") {
      path(PathEnd) {
        redirect(Uri("/foo/bar/index.html"), StatusCodes.MovedPermanently)
      }
    }

curl  -i "http://localhost:8000/foo/" return:
HTTP/1.1 301 Moved Permanently
Server: spray-can/1.2.0
Date: adate
X-Trace-Token: atoken
Content-Type: text/html
Content-Length: 96

and should return:

HTTP/1.1 301 Moved Permanently
Server: spray-can/1

[2014-02-20 18:48] #19 closed, assigned to nobody

[2014-03-02 17:55] dpsoft opened #20 "Custom Action to rename current trace"
An approach could be action composition.

http://www.playframework.com/documentation/2.2.x/ScalaActionsComposition

[2014-03-02 19:54] dpsoft opened #21 "Remove NewRelic Agent dependency"

[2014-03-04 01:11] #20 closed, assigned to nobody

[2014-03-04 03:28] #2 closed, assigned to dpsoft

[2014-03-21 15:52] #9 closed, assigned to nobody

[2014-03-21 20:53] ivantopo opened #22 "ClassNotFoundException when instrumenting Play! applications"
During application startup several exceptions as the one bellow are logged, and after some time the application starts working normally. The help we got at the aspectj mailing list suggests that the problem is related to the perthis association + funky class loaders, will try avoiding perthis association to solve this issue.

org.aspectj.weaver.bcel.BcelWorld - Unable to find class 'akka.instrumen

[2014-03-21 20:55] #22 closed, assigned to nobody

[2014-03-24 15:42] #14 closed, assigned to nobody

[2014-03-25 02:59] #4 closed, assigned to nobody

[2014-03-26 21:00] ivantopo opened #24 "create kamon-statsd module"
It seems like using statsd is becoming more and more popular and using the subscription protocol it should be really easy to get this integration working very quickly.

[2014-04-23 02:09] #24 closed, assigned to nobody

[2014-04-23 02:14] ivantopo opened #26 "automatic trace token propagation does not work with chunked responses"
Our current instrumentation is wrapping the call to `DefaultOpenRequest.handleResponseEndAndReturnNextOpenRequest`, which is OK in case of a regular HttpResponse, but when the response is sent in chunks by the time the `ChunkedMessageEnd` is received the headers were already sent to the client and setting the trace token header becomes useless.

[2014-04-25 15:22] NeQuissimus opened #27 "max-packet-size in bytes"
Why is it documentation that `max-packet-size` is in bytes?
Instead, the HOCON-supported file size format might be used to just do

[code]

[2014-04-25 16:19] #27 closed, assigned to nobody

[2014-04-29 20:58] ivantopo opened #29 "ClassCastException when using NewRelicErrorLogger without the aspectj weaver"
When a application is configured to use the NewRelicErrorLogger but wasn't started with the aspectj weaver the class cast fails and the error loops back into the logger, producing a infinite failure loop that eventually kills the app.

When the application is not instrumented this logger should report the error anyway, missing the TraceToken information.

Exception:
flights-catalog java.lang.Class

[2014-04-30 16:11] #29 closed, assigned to nobody

[2014-05-12 20:53] ivantopo opened #32 "NoClassDefFoundError when starting Kamon without slf4j-api in classpath"
The exception bellow is fired when no slf4j-api is available in the classpath.. we should either declare the dependency explicitly to make sure it is always there or eliminate the dependency.

[code]

[2014-05-12 22:40] #32 closed, assigned to nobody

[2014-05-14 03:30] dpsoft opened #33 "TraceContext is not propagated when call WS outside an Action"

[2014-05-16 13:05] jahangirmohammed opened #34 "will this work for akka 2.3 and scala 2.11?"
When can we expect the project work for akka 2.3 and scala 2.11?

[2014-05-21 16:09] ivantopo opened #35 "make sure that automatically generated trace names are StatsD friendly"
The default trace names generated by Kamon contain spaces and colons, which makes them fail when using Kamon/Spray/StatsD right out of the box.

[2014-06-06 01:44] ivantopo opened #36 "NPE when shuting down dispatcher with Scala 2.11"
The following exception is thrown, as first reported on #34:

[code]

@adrien-aubel, could you please describe a bit more how you found this issue? does it happen right after starting your app? did you notice any way to reproduce the issue that we might isolate and test?

[2014-06-06 01:49] dpsoft opened #37 "NPE when dispatcher shutdown"
[code]

**It's because we trying to remove from context a dispatcher that not it registered before.**

[2014-06-06 01:49] #37 closed, assigned to nobody

[2014-06-07 19:52] dpsoft opened #38 "NPE when application start with multiples Actor Systems"
[code]

[2014-06-07 20:04] #38 closed, assigned to nobody

[2014-06-09 03:17] adrien-aubel opened #39 "Increasing CPU usage"
Hi,

I've been investigating lately on an issue that was happening on my application: the more the application is running, the higher is the CPU usage of this application.
It gets so high that it sometimes gets killed by the OS.

After like 24h the CPU usage starts to increase significantly, and I've attached a profiling on it. I've attached below two screenshots of a CPU call tree on JProfiler (s

[2014-06-09 06:33] #39 closed, assigned to nobody

[2014-06-12 18:03] damdev opened #40 "scalatestplus as runtime dependency on kamon-play"
Hi,

On our play project, using https://github.com/jrudolph/sbt-dependency-graph we notice that kamon-play have scalatestplus as a runtime dependency, and using plugins like sbt-pack or fatjar, this library (and its dependencies) are included on our package, can you look at this?

[2014-06-13 00:32] #40 closed, assigned to nobody

[2014-06-13 02:07] #36 closed, assigned to nobody

[2014-06-19 01:25] #34 closed, assigned to nobody

[2014-07-02 16:52] rubinghimire opened #42 "kamon/util/GlobPathFilter : Unsupported major.minor version 51.0"
Exception in thread "main" java.lang.UnsupportedClassVersionError: kamon/util/GlobPathFilter : Unsupported major.minor version 51.0
        at java.lang.ClassLoader.defineClass1(Native Method)
        at java.lang.ClassLoader.defineClassCond(ClassLoader.java:632)
        at java.lang.ClassLoader.defineClass(ClassLoader.java:616)
        at java.security.SecureClassLoader.defineClass(SecureClassLoa

[2014-07-03 20:39] mhalttu opened #44 "Support for REST style URLs (Spray)"
I'm testing Kamon with NewRelic and Spray. My application uses REST style requests where the URL contains, for example, a unique DeviceID. Currently every request to the same resource type is reported separately because the unique identifier is included in the path.

Ideally Kamon could understand from the Spray path definitions how the requests should be grouped.

[2014-07-03 21:17] #44 closed, assigned to nobody

[2014-07-04 15:05] #12 closed, assigned to nobody

[2014-07-04 17:24] ivantopo opened #45 "Add support for spray-servlet"

[2014-07-07 21:36] ivantopo opened #46 "Update the grafana-graphite docker image dashboard with best practices in mind"
The dashboard that we are currently presenting just shows some data and expresses that it is possible to see metrics there, but lacks a few important bits:
  - **Ensure correctness of data**: the current approach aggregates data from 10 seconds to 1 minute intervals after the first day and the way graphite aggregates percentiles is doing averages, which make it loose the charm. Probably the best c

[2014-07-07 21:58] ivantopo opened #47 "create KamonStandalone module/helper"
The idea is to have a helper class that encapsulates a ActorSystem and provides a very simple API for metrics (and traces right after that). This way everyone that wants to benefit from the instruments and reportes we have can do so, no matter if they are building reactive applications or not.

[2014-07-07 22:02] ivantopo opened #48 "alert when the AspectJ weaver is missing"
Something as simple as having a class that provides an error log message that will be overwritten with a successful error message by an aspect. This should probably be logged when the Kamon(Metrics) extension is loaded.

[2014-07-07 22:03] ivantopo opened #49 "watch all actors that subscribe to metrics"
Watch the actors and make sure that we unsubscribe them if they die.

[2014-07-07 22:08] ivantopo opened #50 "create activator templates for the most common modules"
We should have a simple tutorial per toolkit (Akka, Spray and Play) as an activator template that can be pointed out to when discussing issues or giving help to people.

[2014-07-07 22:10] ivantopo opened #51 "write tests for the subscriptions protocol"
So far we just know that it works, but I'm not sure of the behavior when one subscribe multiple times or to multiple types of metrics, should we receive various messages or only one per tick?, let's define and document it with tests.

[2014-07-09 00:56] ivantopo opened #52 "ensure that the datadog module works on Windows"
Apparently the Windows agent does not support multiple metrics per packet to work properly, we might need to add a setting to define whether multiple metrics can be reported in a single packet or not. Issue #42 has more details on how this was initiated.

[2014-07-09 00:59] #42 closed, assigned to nobody

[2014-07-09 01:19] ivantopo opened #53 "create a new kamon-system-metrics module"
Create a simple module that registers a few gauges with information about CPU usage, garbage collection stats, disk IO usage and network traffic.

[2014-07-09 01:25] ivantopo opened #54 "upgrade the kamon-newrelic module to our latest metrics scheme"
After the huge changes introduced in #43 we need to upgrade the module and make sure that it correctly reports the data that was previously sent.

[2014-07-09 02:06] #47 closed, assigned to ivantopo

[2014-07-09 02:24] dpsoft opened #55 "Instrument Play LoggerLike in order to add the properties of LocalStorage into the MDC"

[2014-07-09 02:24] #55 closed, assigned to dpsoft

[2014-07-09 03:14] #48 closed, assigned to ivantopo

[2014-07-09 14:33] dpsoft opened #56 "create HTTP-Metrics for Play/Spray/Akka-Http"

[2014-07-10 15:17] dpsoft opened #57 "create a Console Reporter(something like Metrics)"

[2014-07-10 23:59] #35 closed, assigned to ivantopo

[2014-07-12 11:21] mhalttu opened #58 "Deadlock when starting Kamon with Spray and NewRelic"
When I try to start my server, it encounters a Java level deadlock. Please take a look at the attached jstack output for more details. The JVM aguments are:

[code]

[code]

[2014-07-12 11:36] mhalttu opened #59 "Manually merged aop.xml needed when using sbt assembly?"
Have I understood correctly that if I want to use "sbt assembly", I need to manually create my own aop.xml file, which combines the aop definitions from the individual kamon modules? Are you considering better solutions to this problem?

[2014-07-12 19:09] #58 closed, assigned to nobody

[2014-07-24 02:19] #52 closed, assigned to ivantopo

[2014-07-27 20:03] #56 closed, assigned to ivantopo

[2014-07-27 22:20] #53 closed, assigned to dpsoft

[2014-07-27 23:33] #54 closed, assigned to ivantopo

[2014-07-28 01:07] #1 closed, assigned to dpsoft

[2014-07-28 04:02] #51 closed, assigned to ivantopo

[2014-07-29 03:25] #57 closed, assigned to ivantopo

[2014-07-29 19:38] #5 closed, assigned to nobody

[2014-07-29 19:40] ivantopo opened #61 "provide basic support for akka cluster and remoting"
the basic support should at least allow:
- propagate the trace-token across the cluster
- start a trace in one machine and finish it in another

[2014-07-29 19:44] ivantopo opened #62 "provide metrics for routers"
Provide a way of monitoring a router with aggregate metrics from all of its routees, except for mailbox size which doesn't make sense. Maybe a configuration setting to determine whether you want router, routees or both metrics will be useful.

See more details here: https://groups.google.com/forum/#!searchin/kamon-user/router$20metrics/kamon-user/GC8g-UKEwV0/F68dqWpvRFsJ

[2014-07-29 19:46] ivantopo opened #63 "report HTTP client call times to New Relic"
ensure that the automatically generated segments for HTTP client calls get a nice and configurable name and get reported to New Relic correctly.

[2014-07-29 19:48] #49 closed, assigned to nobody

[2014-07-29 20:00] ivantopo opened #64 "first real and functional implementation of kamon-dashboard"
Put together a very basic Kamon dashboard that provides the same things we currently have with the log reporter but allowing full spectrum display of histograms.

[2014-07-29 20:28] ivantopo opened #65 "external naming for HTTP traces and segments"
allow setting trace and segments names for play and spray applications without having to modify the actions and routes.

[2014-07-30 00:47] dpsoft opened #66 "Introduce Context Swtitches in System Metrics"
Context Switch metric
    \* Per process
    \* Global
    \* Voluntary
    \* Non Voluntary

[2014-07-30 00:57] dpsoft opened #67 "Support for Annotations"
Support for annotations like:
     * @Timed
     * @Gauge
     * @Trace
     * @Counter

[2014-08-01 07:27] rampalli-github opened #68 "OpenTSDB .. can Kamon have OpenTSDB backend?"
Hi,

Is it possible to push Akka metrics from Akka Extension to OpenTSDB? Please suggest

Thanks
Srinivas

[2014-08-01 18:57] ivantopo opened #69 "NPE when stopping a actor with Kamon 0.3.2"
details here: https://groups.google.com/forum/#!topic/kamon-user/Un6JFrTl_SQ

[2014-08-02 20:36] ivantopo opened #70 "kamon-system-metrics 0.3.2 does not include all sigar related files"
All the .so, .dll and .dylib files that sigar needs to work are not packed in the final jar file.

[2014-08-02 20:36] #69 closed, assigned to nobody

[2014-08-03 15:44] #70 closed, assigned to nobody

[2014-08-06 14:31] adamhonen opened #71 "Getting IndexOutOfBoundsException while Kamon is active"
While using Kamon to monitor an Akka system I get a IndexOutOfBoundsException.

I'm using Kamon 0.3.3 on JDK 8 update 11 with Scala 2.11.1 and Akka 2.3.4.
I'm not using Spray or Play.

My system typically works at ~12K requests per second in this specific environment (development machine). With Kamon active this is reduced to ~7500K requests per seconds.

A few examples (notice the index always se

[2014-08-07 02:44] dpsoft opened #72 "include System Metrics in log-reporter"
- CPU -> done
- Network -> done
- Proccess CPU -> done

[2014-08-09 21:02] dpsoft opened #73 "evaluate integration with Akka Tracing SPI"
For reference, the github issue for this is https://github.com/akka/akka/issues/15634

[2014-08-13 04:14] #71 closed, assigned to ivantopo

[2014-08-16 15:09] rafael opened #74 "Spray Integration - Question"
Hi All -

I'm starting to using Kamon in a spray application and I was wondering if there is a way to customize the name of the metric that is being sent:

 value: [val defaultTraceName: String = request.method.value + ": " + request.uri.path](https://github.com/kamon-io/Kamon/blob/master/kamon-spray/src/main/scala/spray/can/server/ServerRequestInstrumentation.scala#L43)

The ones I'm getting are

[2014-08-16 20:44] #74 closed, assigned to nobody

[2014-08-17 02:14] #72 closed, assigned to dpsoft

[2014-08-22 14:51] ShengC opened #77 "Unable to run kamon 0.2.4 through sbt"
First apologize if this is the wrong place to ask this question, original question is posted on stackoverflow:
http://stackoverflow.com/questions/25436247/scala-kamon-start-error

stacktrace:
[error] [URLClassLoader@7333fb54] error Cannot instantiate message handler kamon.weaver.logging.KamonWeaverMessageHandler -- (ConfigException$Missing) No configuration setting found for key 'kamon'
[error] No

[2014-08-29 05:33] #62 closed, assigned to dpsoft

[2014-08-29 14:15] dpsoft opened #79 "Influx Integration Module"

[2014-08-29 17:45] #68 closed, assigned to nobody

[2014-09-03 00:02] dpsoft opened #80 "Improve Play Documentation"

[2014-09-04 12:51] dpsoft opened #81 "Micro benchmarks over Kamon instruments"
get performance information about kamon instruments.

[2014-09-04 13:01] dpsoft opened #82 "Review the trace name in play applications"
based in the recommendation of @magro i think is a good idea use the url template from the routes file as default trace name.

We could take this approach https://github.com/typesafehub/play-plugins/blob/master/statsd/src/main/scala/play/modules/statsd/api/StatsdFilter.scala

[2014-09-09 04:06] #33 closed, assigned to dpsoft

[2014-09-11 13:23] dpsoft opened #83 "evaluate integration with ratpack.io"
For reference https://github.com/ratpack/ratpack/issues/261

[2014-09-15 02:07] #82 closed, assigned to dpsoft

[2014-09-15 18:19] dpsoft opened #84 "LoggerLikeIntrumentation doesn't copy the MDC when call a log* method."

[2014-09-16 01:35] #84 closed, assigned to dpsoft

[2014-09-16 02:52] ivantopo opened #85 "provide min, max, percentiles and average functions for Histogram snapshots."
Creating a implicit class that augments `Histogram.Snapshot` with these functions seems like the way to go.

[2014-09-17 19:27] dpsoft opened #86 "Kamon RUM"
Provide an agent to grab metrics from html pages, the first implementation could get some metrics like:
- page-load-timing

[2014-09-23 15:02] alexander-myltsev opened #87 "Integrate with https://github.com/dropwizard/metrics"
This is theoretically possible, right? No hidden pitfalls I should know about before contribute?

[2014-09-23 18:04] emilianogc opened #88 "Apparently random NPE"
The stacktrace is the following:

[code]

There is no pattern as to when this happens. We are using also the newrelic extension.

[2014-10-04 18:19] #87 closed, assigned to nobody

[2014-10-04 18:21] ivantopo opened #90 "include instruments documentation on our site"

[2014-10-11 23:31] #59 closed, assigned to nobody

[2014-10-11 23:35] #61 closed, assigned to ivantopo

[2014-10-12 00:26] #88 closed, assigned to ivantopo

[2014-10-17 07:45] justjoheinz opened #94 "kamon-play-example"
In my attempt to get kamon running I started to use the kamon-play-example project.

I plain sbt run compiles everything, but of course I will not see any datapoints due to lack of aspectj instrumentation.

Starting the application with
[code]
results in the following error message:
[code]

this is also the error message, I usually see when I try kamon on my own projects, and which has been report

[2014-10-17 13:07] alexander-myltsev opened #95 "akka.testkit.CallingThreadDispatcher cannot be cast to akka.instrumentation.DispatcherMetricCollectionInfo"
I am using `kamon-{core, spray, system-metrics} 0.3.5-fde062f7e700925e30b60f366ddcd66a04f7c2c5`, `akka 2.3.6` and `spray 1.3.1` atop of `Scala 2.11.2`.

While running tests I have an error:

[code]

What should I tweak to fix it?

[2014-10-19 02:59] #17 closed, assigned to dpsoft

[2014-10-19 02:59] #7 closed, assigned to dpsoft

[2014-10-20 00:09] #85 closed, assigned to ivantopo

[2014-10-20 16:28] dpsoft opened #97 "Remove KamonWeaverMessageHandler to avoid dependencies issues"

[2014-10-20 16:35] #97 closed, assigned to dpsoft

[2014-10-20 18:34] #66 closed, assigned to dpsoft

[2014-10-21 15:50] #95 closed, assigned to dpsoft

[2014-10-22 12:53] dpsoft opened #98 "Warning at RemoteInstrumentation"
warning at akka/remote/instrumentation/RemotingInstrumentation.scala::0 no match for this type name: akka.remote.transport.AkkaPduProtobufCodec$ [Xlint:invalidAbsoluteTypeName]

test provided by @alexander-myltsev: https://github.com/alexander-myltsev/kamon-issue-95/blob/master/src/test/scala/ASpec.scala

[2014-10-23 19:28] ivantopo opened #99 "create a new module for remoting instrumentation"
The scala compiler fails to parse some classes because protocol buffers are not in the classpath if akka-remote/akka-cluster were not declared as dependencies.. instead of marking them as `provided` we should take the remoting instrumentation out into it's own module and only the people who need it will download it. There is more info in #88.

[2014-10-24 21:59] #99 closed, assigned to ivantopo

[2014-10-24 22:00] #98 closed, assigned to nobody

[2014-10-26 00:03] ivantopo opened #100 "lift the MDC tools of LoggerLikeInstrumentation into something generic"
Currently the instrumentation does a rather nasty trick of taking members of case classes and make them available on the MDC for logging but we could should do something generic that allows putting stuff in the TraceLocal storage that will be always available to the MDC, regardless of whether you do that from Play logging facilities or from ActorLogging when using Akka.

[2014-10-27 23:48] ivantopo opened #101 "Provide actor-group metrics"
Currently we have RouterMetrics which consolidate processing-time and time-in-mailbox metrics for all the routees of a given routers and it seems like a good idea to provide something similar for use with the work-queue/workers solution in which there is a number of workers that typically only process one message and then ask for the next piece of work and having a unified view of all actors is be

[2014-10-31 02:17] #65 closed, assigned to ivantopo

[2014-11-02 12:32] ivantopo opened #102 "create HttpHostConnectorMetrics for spray"
The main idea is to be able to measure the queue that is present in the HttpHostConnectors dispatch strategy and probably a request counter. Maybe some more come to mind when implementing this.

[2014-11-03 00:34] #90 closed, assigned to ivantopo

[2014-11-05 00:40] dpsoft opened #103 "Report NewRelic error with correct URI"

[2014-11-05 01:07] dpsoft opened #104 "include segments in LogReporter"

[2014-11-07 04:36] #103 closed, assigned to dpsoft

[2014-11-07 16:02] Andrei-Pozolotin opened #105 "distinct package name space"
probably would be less confusing to move

`akka.instrumentation` -> `akka.kamon.instrumentation`

to separate what akka project will deliver by default from the kamon proper.

[2014-11-07 22:00] Andrei-Pozolotin opened #106 "aspectj dependency scope [was: version update to 1.8.x]"
kamon depends on aspect version 1.7.4 which seems abandoned
http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22org.aspectj%22%20AND%20a%3A%22aspectjweaver%22

while 1.8.x is in development; would it be appropriate to do aspectj version update to 1.8.x ?

[2014-11-08 20:57] dpsoft opened #107 "Create a kamon-jdbc module"
The module should collect the following metrics(or something like this):
- The number of reads & writes per request/trace
- The time spent in read & writes per request/trace
- The total number of database reads
- The total number of database writes
- Number of reads per second
- Number of writes per second
-  Percentile query times for reads & for writes

[2014-11-09 13:19] dpsoft opened #109 "JMX-Reporter"

[2014-11-09 13:42] Andrei-Pozolotin opened #110 "the sigar situation"
we see few problems with kamon sigar approach:

1) akka is assuming sigar is provided externally and access it via reflection
https://github.com/akka/akka/blob/master/akka-cluster/src/main/scala/akka/cluster/ClusterMetricsCollector.scala#L695

2) kamon bakes in specific binaries
https://github.com/kamon-io/Kamon/tree/master/kamon-system-metrics/src/main/resources/kamon/system/sigar

which leads to

[2014-11-09 17:46] #63 closed, assigned to ivantopo

[2014-11-09 19:45] #106 closed, assigned to nobody

[2014-11-10 12:25] ivantopo opened #111 "allow kamon-statsd and kamon-datadog users to define a scale value when reporting data."
Currently all measurements are always reported in nanoseconds because that's what we store in our histograms but in many cases it will be more useful to the users to report the data in milliseconds or microseconds to avoid having to tweak the dashboards to display nanoseconds as millis/micros and the data usually is in those ranges anyway.

[2014-11-10 22:12] ncanibano opened #112 "Missing NewRelic Web Application Metrics"
Hi Kamon Team!

We are experiencing some weird behavior in our production environment. In a non-deterministic way (so far) we are losing our web application metrics in NewRelic, as you can see in the images below. This happens often, like once a week.

Additionally, we were able to reproduce the same symptom changing the applications settings from the NewRelic front web. After changing & saving so

[2014-11-11 10:43] jrudolph opened #113 "A more lightweight way for tracing the Akka.ask timeouts"
One solution I used before is not capturing the whole stacktrace at runtime but just the static callsite information as provided by AspectJ's joinpoint. I played with this here:

https://github.com/jrudolph/future-exception-aspects/blob/master/future-debugging-aspects/src/main/scala/net/virtualvoid/futures/FutureDebuggingAspects.scala#L221

[2014-11-11 15:19] ncanibano opened #114 "NewRelic - Histogram & Percentiles"
Hi Kamon Team!

We think that histogram and percentiles features are really useful and we missed that in our spray+kamon webapps. Are these features taken into account to be released in next milestones?

Thanks!

![kamon_newrelic_missing_histogram](https://cloud.githubusercontent.com/assets/6556066/4994992/8673a060-699c-11e4-9e12-788f95bdb012.png)

![kamon_newrelic_missing_percentiles](https://clo

[2014-11-11 15:34] ncanibano opened #115 "NewRelic - Missing metrics by host"
Hi Kamon Team!

Metrics splitted by host are not shown at the "table of host" NewRelic view.

Apdex, Response Time & Throughput are not shown at all, while Error Rate is showing a not accurate number:

![kamon_newrelic_missing_metrics_by_host](https://cloud.githubusercontent.com/assets/6556066/4995265/6959ff4a-699e-11e4-9902-540c43bb7e5f.png)

Thanks in advance.

[2014-11-12 08:01] behrad opened #116 "exact actor metric filter"
I see all `user/test/xyz`, `user/test/abc` metrics pushed to statsD, but I only want `user/test` metrics:

[code]

[2014-11-13 12:03] ivantopo opened #117 "Log the packets sent to StatsD and Datadog"
It would be nice to provide some sort of debug mode where we log everything that we flush to StatsD/Datadog in order to ease troubleshooting and help people understand exactly what we are sending.

[2014-11-15 16:54] ivantopo opened #119 "Group all unhandled requests under the "NotFound" trace name by default."
See https://groups.google.com/forum/#!topic/kamon-user/RGn6hqmMVjE for details.

[2014-11-20 01:09] #100 closed, assigned to dpsoft

[2014-11-20 02:28] dpsoft opened #120 "Decouple kamon-system-metrics from sigar through to kamon-sigar"
related to #110

[2014-11-20 02:30] #120 closed, assigned to dpsoft

[2014-11-25 13:39] dpsoft opened #121 "Create a kamon-netty module"
http://www.atetric.com/atetric/javadoc/io.netty/netty-common/4.0.0.Alpha6/io/netty/monitor/package-summary.html

https://github.com/netty/netty/issues/876

https://github.com/netty/netty/issues/718

http://search.maven.org/remotecontent?filepath=io/netty/netty-metrics-yammer/4.0.0.Alpha8/netty-metrics-yammer-4.0.0.Alpha8-sources.jar

https://github.com/netty/netty/issues/922

https://github.com/ne

[2014-11-29 21:38] magro opened #122 "Overriding Global.doFilter breaks RequestInstrumentation"
As [reported on the mainling list](https://groups.google.com/d/msg/kamon-user/oz8KE_GW8dI/KOF9r0T_sI4J):

in our play app's Global we've already overidden
  `def onRouteRequest(req: RequestHeader): Option[Handler]`
(with s.th. that finally calls super.onRouteRequest)
which is instrumented via the
  `@Before("call(* play.api.GlobalSettings+.onRouteRequest...`
and this `RequestInstrumentation.before

[2014-11-30 20:24] #6 closed, assigned to dpsoft

[2014-11-30 20:42] #83 closed, assigned to nobody

[2014-12-02 03:00] dpsoft opened #123 "Traces subscriptions V1"

[2014-12-02 03:13] #122 closed, assigned to dpsoft

[2014-12-03 17:32] Andrei-Pozolotin opened #125 "kamon actor name space"
RE:
![image](https://cloud.githubusercontent.com/assets/1622151/5285205/e2b366fe-7adf-11e4-9900-5561d8896249.png)

I suggest all kamon actors use consistent name space, such as `kamon-*`

[2014-12-04 03:20] ivantopo opened #126 "create some sugar to start/finish segments"
We should provide some syntax sugar for creating blocking and async segments, so that people don't need to handle and finish the segment, at least not for the happy case. The following comes to mi mind:

[code]

Maybe some builders for segments recorders could be nice, allowing the user to do something along the lines of:

[code]

open to suggestions!

[2014-12-04 11:48] #107 closed, assigned to dpsoft

[2014-12-05 02:44] ivantopo opened #128 "report non-http segments to New Relic"
Currently we are only reporting HTTP Client segments to New Relic because those clearly fall into the web external category. We should investigate how to report any other segments that the user might have created.

[2014-12-14 22:11] ivantopo opened #130 "automatically call Akka.system() on play apps startup."
Currently all the Kamon machinery is started after the first request is received as explained by one of our users [1] (assuming that the user code is not using akka for something else), but we should not wait until the first request to get Kamon running since we are potentially failing to report system metrics until the first request arrives.

[1] https://groups.google.com/forum/#!topic/kamon-user

[2014-12-15 19:43] dpsoft opened #131 "System-Metrics"
- Include the Following metrics:
- Disk
  - reads
  - write
  - queue
    - service time
- Load Average:
      \* one minute
      \* five minutes
      \* fiftteen minutes
- Threads:
  - deamons
  - counts
  - peak
- Non Heap:
  - used
  - max
  - commited
- Class Loading:
  - total loaded
  - total unloaded
  - current loaded

[2014-12-17 03:16] #113 closed, assigned to dpsoft

[2014-12-17 03:23] #110 closed, assigned to nobody

[2014-12-17 03:24] #123 closed, assigned to ivantopo

[2014-12-17 03:29] #112 closed, assigned to ivantopo

[2014-12-17 04:14] ivantopo opened #132 "report HttpServerMetrics to StatsD and Datadog"

[2014-12-17 07:34] zygm0nt opened #133 "AbstractMethodError on spray's JsonFormat"
I've attached kamon to my existing application and am getting this kind of stack traces after first request to it:

[code]

The app starts without errors, this happens with the first request.

I'm  currently using:
- scala 2.10.4
- spray 1.3.1
- kamon 0.3.5

The only changes aside adding kamon dependencies were:
- modify `reference.conf`

[code]
- modify build file:

[code]

[2014-12-17 08:48] #133 closed, assigned to nobody

[2014-12-24 13:48] dpsoft opened #134 "akka-http module"
This issue should be used for obtain ideas that could be useful as metrics.

- [ ] propagate the TraceContext over requests.
- [ ] metrics about requests.

[2014-12-24 22:00] #116 closed, assigned to dpsoft

[2014-12-27 19:28] dpsoft opened #135 "Reported GC time is way too high"
-  Report the difference in GC time since the last tick, instead of the accumulated value

[2014-12-27 20:12] #131 closed, assigned to dpsoft

[2014-12-27 20:12] #135 closed, assigned to dpsoft

[2014-12-28 12:27] ivantopo opened #136 "separate akka, scala and scalaz instrumentation from kamon-core"
People should get only what they need and it should not be necessary to use AspectJ if you are, for example, using only user metrics + stasd reporter. That would be a typical case for people migrating from other metric libraries to Kamon.

Documentation should be also be update to reflect when AspectJ is necessary.

[2014-12-28 12:33] ivantopo opened #137 "create some sort of "KamonLoader" extension."
once #136 is ready we will need a way to start all the Kamon extensions available and verify if any of them needs the AspectJ weaver to correctly show the AspectJ weaver missing warning.

Ideally this launcher should recognize the extensions available, start them and start any kamon-wide resources such as the kamon dispatcher, as well as logging the weaver missing warning if necessary.

[2014-12-28 12:40] ivantopo opened #138 "make the metric filters "merge friendly""
currently the `kamon.metrics.filters` configuration takes a list of filters as it's value and by doing so it becomes a all-or-nothing replacement. If someone wants to change one of the default filters in their configuration file, they will need to supply the full filters list instead of just change what they want. We should make this more friendly.

[2014-12-28 12:45] ivantopo opened #139 "measure the routees metrics when doing router metrics"
currently the metrics being measured with routers are related to the routed actor cell processing time, which has nothing to do with the real time taken by the routees to do something. I think this it would also be a good idea to introduce a `routing-time` metric to measure how long does it take to the router to dispatch a message and ensure that the `processing-time` and `time-in-mailbox` metrics

[2014-12-28 12:48] ivantopo opened #140 "provide sugar for creating metric group recorders and metrics"
Maybe provide some builders to make it shorter and ease the process of creating new metric groups, which currently is quite verbose. I don't have any concrete ideas at the moment and I'm very open to all sorts of feedback.

[2014-12-28 12:55] ivantopo opened #141 "provide a way to subscribe to metrics with plain string patterns"
We currently need to subscribe to metrics using the category's companion object which requires reporters to know upfront about all the possible categories that they want to report and that might not be always what you want, specially with open reporters such as Datadog and StatsD that can report any metric without much specific processing.

Also, when #136 is ready we would have a dependency on ka

[2014-12-28 12:58] ivantopo opened #142 "suppress all unnecessary output from test logs"
we have a lot of garbage in the logs, specially from failure tests in actors and sbt stuff and that makes it less desirable to dig into failed builds output.

Also look at http://codecraft.vaamo.de/2014/08/22/less-is-more-when-it-comes-to-ci-logs.html

[2014-12-28 13:03] ivantopo opened #143 "improve the scheduling of measurement-taking future callbacks"
In a few of our modules we are registering callbacks on futures to measure latency and that can add to the real latency measurement depending on how busy is the execution context that we are using. Probably having a fake, calling thread execution context that we could use for this specific callbacks will do the trick and give us more accurate measurements.

[2014-12-28 13:04] ivantopo opened #144 "make the ask pattern timeout warning work with actor selections"

[2014-12-29 00:51] dpsoft opened #146 "cluster-aware routers metrics"

[2015-01-06 23:26] pikazlou opened #148 "kamon-system-metrics: context switches metric causes file descriptor leak"
In SystemMetricsCollector.scala we have the following loop
[code]
Source is an infamous scala.io.Source which is known for not closing files after they are used. Running application with context switches metric enabled and using "lsof -p PID" clearly shows growing number of open "/proc/PID/status" files. Eventually this leads to "too many open files" errors.

[2015-01-08 11:28] ivantopo commented on #148
@pikazlou thanks for reporting this, we will fix and include in the next release for sure!

[2015-01-20 18:27] Andrei-Pozolotin opened #150 "consider shared metircs module structure for akka + kamon"
see https://github.com/akka/akka/issues/12700

[2015-01-23 17:41] #148 closed

[2015-01-31 00:05] #137 closed

[2015-01-31 20:18] ivantopo opened #153 "create a jHiccup module"
https://github.com/giltene/jHiccup

[2015-02-03 14:06] #136 closed

[2015-02-03 14:06] #139 closed

[2015-02-03 19:49] henrymai opened #154 "fuse source sigar package causes the SystemMetrics extension to crash"
Been seeing a bunch of jni related failures from the sigar java binding that is being used by SystemMetrics:
[code]
I was able to locally fix this by building my own sigar and replacing the the fuse source sigar package in my ivy cache so that my scala application picks it up instead of the fuse source one.

[2015-02-03 19:55] ivantopo commented on #154
that's weird.. did you try just deleting your sigar artifact from .ivy2 and made sbt download it again before putting your own build there?

[2015-02-03 20:35] henrymai commented on #154
In our setup, we always deploy from a fresh slate, so we don't have any old artifacts.

[2015-02-04 02:52] dpsoft commented on #154
Hi henrymai,

can you please give us information about your OS and JVM version?.

Cheers,
Diego

On Tue, Feb 3, 2015 at 5:35 PM, henrymai <notifications@github.com> wrote:

[2015-02-04 06:23] henrymai commented on #154
Docker host machine os (64 bit):
[code]

Container running the code using Kamon:
[code]
[code]
[code]

[2015-02-04 15:24] saparbek opened #155 "Kamon-newrelic ssl"
I am trying to post metrics to NewRelic, however I get the following error: "Expected field 'return_value' in '{"exception":{"message":"Account Security Violation: The agent is not configured to use SSL","error_type":"NewRelic::Agent::ForceDisconnectException"}}'"

Does it mean that Kamon-newrelic does not support SSL at all?

[2015-02-04 18:11] #141 closed

[2015-02-04 23:45] ivantopo commented on #155
The `kamon-newrelic` module definitely does not support using SSL as of now, will add support for it.

[2015-02-05 00:32] ivantopo commented on #132
We are still missing these metrics in the StatsD module!

[2015-02-14 10:14] ivantopo commented on #138
This was solved by a80034229b12d42b420a9b2cc10bf23f8c5f613b

[2015-02-14 10:14] #138 closed

[2015-02-14 14:05] dpsoft commented on #18
thanks to #156, I think is possible attach the Aspectj Weaver when kamon starts.

[2015-02-18 20:36] kjvalencik commented on #107
Does this support the new relic back end?

[2015-02-19 10:15] ivantopo commented on #107
Our New Relic module currently only supports reporting the time spent on HTTP calls. Please, keep an eye on #128 to know when additional segments will be posted to New Relic as well, thanks!

[2015-02-19 14:50] ivantopo opened #157 "root guardian actor should not be picked up by ActorMetrics."

[2015-02-25 23:32] jeffrey-aguilera opened #160 "Kamon breaks chill/kryo serialization"
[code]

[2015-02-25 23:44] jeffrey-aguilera commented on #160
Some background:  aspectjweaver was NOT injected as a javaagent on the node that sent this message; and WAS injected on the node that received it.  The exception is thrown on the receiver node.

This seems to imply that aspectjweaver must be a configured javaagent on all nodes; it is apparently messing with serialization formats and there is no strategy for handling un-wrapped messages.

Does this

[2015-02-26 00:44] magro commented on #160
AFAICS the spray.http.HttpRequest is serialized - is this really intended?

Cheers,
Martin
Am 26.02.2015 00:44 schrieb "Jeffrey Aguilera" <notifications@github.com>:

[2015-02-26 02:42] jeffrey-aguilera commented on #160
Yes, it is.  The Spray folks don't like it, but I route HttpRequests to a potentially remote actor that can handle them.  That's what location transparency is all about. HttpRequests do not extend Serializable, but Chill/Kryo ships them across the cluster with ease.  (I do have to filter out some headers.)

[2015-02-26 08:15] magro commented on #160
You could try to write a custom serializer for http request or what else is
modified by kamon, so that the FieldSerializer doesn't try to handle
everything...
Am 26.02.2015 03:42 schrieb "Jeffrey Aguilera" <notifications@github.com>:

[2015-02-26 15:11] ivantopo commented on #160
quick question: would kryo ignore that field if it was marked as `@transient`?

[2015-02-26 18:50] magro commented on #160
Right, that should work.
Am 26.02.2015 16:11 schrieb "Ivan Topolnjak" <notifications@github.com>:

[2015-02-28 00:26] tovbinm commented on #114
Cool! Are you planning to release these features any time soon?

[2015-03-02 08:47] awasilyev commented on #117
you can use netcat:
nc -u -l 8125

[2015-03-12 13:55] dpsoft opened #163 "include dispatcher metrics in LogReporter"

[2015-03-13 03:22] #163 closed

[2015-03-13 03:31] dpsoft commented on #130
with #162 there is no longer necessary.

[2015-03-13 03:31] #130 closed

[2015-03-13 03:34] dpsoft commented on #104
currently we are reporting segments in the log-reporter module.

[2015-03-13 03:35] #67 closed

[2015-03-13 15:31] jkbkrk commented on #155
I will also appreciate SSL support in Kamon New Relic module.

[2015-03-13 15:53] #157 closed

[2015-03-15 23:41] magro opened #165 "Exceptions logged on shutdown"
After upgrading to the latest kamon snapshot 0.3.6-125bee567e0b18ea5ec10f3a1fe76409673011d9, on shutdown there are some errors logged like this:

[code]

I'm running `Kamon.start()` in play's Global.onStart and `Kamon.shutdown()` in onStop, perhaps this is relevant.

[2015-03-16 08:55] magro opened #166 "Trace segments no longer reported to statsd"
After upgrading to the latest kamon snapshot 0.3.6-125bee567e0b18ea5ec10f3a1fe76409673011d9 trace segments don't seem to be reported to statsd (traces are reported fine). In my own trace subscriber I still get trace segments (we're still using this for logging), so they're actually there.

I verified that trace segments are not reported by checking the 'timers' via statsd admin interface (addition

[2015-03-16 12:30] ivantopo commented on #166
Martin, thanks for mentioning this. The StatsD now subscribes to things available in the [configuration file] by adding the category and the patterns for that category. You just need to add `trace-segment = [ "**" ]` to the `kamon.statsd.subscriptions` key.

Previously segments were part of the trace metrics but now they are a separate entity that has a tag named `trace` with the trace name as val

[2015-03-16 15:45] gmalouf opened #167 "Missing web transactions in New Relic"
We've been running the Kamon-Spray-NewRelic integration in production for the last 45 days or so.  I've noticed that our requests-per-minute being reported are an order of magnitude less than what we see being recorded into our database (NOTE: We are definitely getting transactions though we get lengthy spells of 0 transactions/minute where we clearly actually have data flowing).  I do not see err

[2015-03-16 15:48] ivantopo commented on #167
Hello Gary, can you please tell us what Kamon version are you using? also please take a look at #112, is it possible that you are experiencing the same issue?

[2015-03-16 15:55] gmalouf commented on #167
We are using 0.3.5 of both kamon-newrelic and kamon-spray.  I'm not sure whether or not is it is #112, we see a small subset of our transactions being reported around the :45 of each hour.
![screen shot 2015-03-16 at 11 55 00 am](https://cloud.githubusercontent.com/assets/982483/6670118/5af3afa4-cbd3-11e4-8e9b-aee6232de353.png)

[2015-03-16 16:04] ivantopo commented on #167
That pattern is weird, seem to be reporting exactly every 1 hour. Did you restart the application during the 6 hours period shown there?

[2015-03-16 16:09] gmalouf commented on #167
We did not, have not restarted it in a bit over 2 weeks.

[2015-03-16 16:13] ivantopo commented on #167
if you go back 2 weeks in your dashboard, was it operating normally during some period of time or was it like this the whole time?

[2015-03-16 16:16] gmalouf commented on #167
It started doing this March 7 (~ 9-10 days ago).
![screen shot 2015-03-16 at 12 16 22 pm](https://cloud.githubusercontent.com/assets/982483/6670659/4fdb8620-cbd6-11e4-9f1f-da5fc7c568b0.png)

[2015-03-16 16:22] ivantopo commented on #167
I think it might be the same issue as #112 and the New Relic servers might be behaving differently.. can you please try out the snapshots mentioned there?

[2015-03-16 16:24] gmalouf commented on #167
Will do, thanks Ivan.

[2015-03-16 16:51] gmalouf commented on #167
That definitely got the metrics running again - will keep an eye on them over the next week to see if stuff drops.

[2015-03-16 17:20] ivantopo commented on #167
Nice! Looking forward to your confirmation.

[2015-03-16 22:21] #166 closed

[2015-03-16 23:24] ivantopo commented on #165
Martin, my guess is that Play's Akka plugin is being shutdown after Kamon was shutdown and the dispatchers instrumentation is trying to remove the dispatchers that are being shutdown, but Kamon isn't available any more... I tried to find the Play code that calls `Global.onStop(..)` with no luck and I'm not sure if this order can be altered.

Do you have any hints on how to ensure that Play's Akka

[2015-03-17 00:01] ivantopo commented on #166
Martin, we just published `0.3.6-75fc2c8f5a6c8c714363f69e3fb2c2c9f1486ae0` for Scala 2.10 and `0.3.6-0cb49a7cc94a7a2040b0a8ffdba2cff395a0c0e8` for Scala 2.11 with this fix included, please give it a try :).

[2015-03-17 08:24] magro commented on #165
Hmm, I tried to `Akka.system.shutdown()` directly before `Kamon.shutdown` but this didn't change anything.

[2015-03-17 10:51] graph1zzlle opened #168 "kamon/util/GlobPathFilter : Unsupported major.minor version 52.0"
Using
[code]

[code]

[2015-03-17 11:15] magro commented on #166
Unfortunately this doesn't fix it. Neither using the new version nor using the new version + setting subscriptions explicitely.

[2015-03-18 11:16] ivantopo commented on #166
Martin, I did try it a few times and it certainly works. Maybe you are expecting them to be in the same place they were before! In previous Kamon versions all segments were metrics in the trace itself but now they are a separate entity with category `trace-segment`, so they should be, if using the default name generator, under `stats.timers.your_app.your_host.trace-segment.segment_name...`.

Pleas

[2015-03-18 12:02] ivantopo commented on #168
That's weird, we build all our artifacts to be Java 1.6 compatible... which version were you using?

[2015-03-18 12:07] graph1zzlle commented on #168
I am running 0.3.6-04677941e2253717510566cc288eab2166f7379e. For more context, I have integrated some kamon components (spray, akka, core, statsd) into my library. This library compile in for Scala 2.11.6, and I am running java 1.7.0_60.

[2015-03-18 12:13] ivantopo commented on #168
Can you please try `0.3.6-0cb49a7cc94a7a2040b0a8ffdba2cff395a0c0e8` for Scala 2.11? That's the latest snapshot we published and it should work correctly.

[2015-03-18 12:36] magro commented on #166
Ah, you're right, segments are available under trace-segment.

The disadvantage of this is that segments are no longer related to their traces. E.g. if you have different routes/traces like a) "/search" and b) "/page" and in both cases a "database" sement is recorded, then in grafana on a panel for "/search" I'd like to show only those "database" segments that were recorded for "/search" traces. P

[2015-03-18 12:53] graph1zzlle commented on #168
Yes, I will give it a try asap. Thanks !

[2015-03-19 08:07] magro commented on #166
As a workaround we could name our segments $traceName + "." + $segmentName but this feels like a workaround...

[2015-03-19 21:44] magro commented on #166
Shall I open another issue for this? If you say that segments should be named including the trace name if needed this is also ok for me. I just need to know if you will change anything or if I should.

[2015-03-20 00:43] ivantopo commented on #166
Martin, the relationship between traces and segments remains and in fact I consider it to be enhanced. Previously the metric name for the segments inside of the trace metrics group had some sort of pattern that allowed you to infer that those were segments... now, the segments entity is different, but all `trace-segment` entities are guaranteed to have a tag named "trace" that points to the trace

[2015-03-20 08:17] magro commented on #166
Sounds great! So I'll wait for that and don't change things on our side. If you give me a hint where things have to be changed I could also submit a pull request if you want.

[2015-03-20 14:53] ivantopo commented on #166
Martin, 1f4e5e64619a359880413cc6baf2182f5609753b includes the fix. I'll publish snapshots later today!

[2015-03-20 17:18] magro commented on #166
Awesome!

[2015-03-22 17:51] dpsoft opened #169 "Create a Play(2.4) module for manage the lifecycle of kamon"
https://www.playframework.com/documentation/2.3.x/JavaPlugins

[2015-03-22 18:16] dpsoft commented on #169
@magro what are your thoughts about the idea of provide other alternative to start kamon in a play application?

[2015-03-22 21:09] magro commented on #169
I personally don't like play plugins that much but prefer good old dependency injection. Plugins add another concept that I have to think about e.g. in the context of (unit/integration) tests and therefore increase the complexity.

In play 2.4 AFAIK plugins will become obsolete and be replaced by "normal" DI modules (for runtime DI) or will be instantiated manually if compile time DI is used.

Pro

[2015-03-22 22:16] dpsoft commented on #169
Martin, thanks for the response, I completely agree with you, maybe for play 2.4 we will create a module for convenience.

[2015-03-24 08:48] jeroentervoorde opened #170 "ArrayIndexOutOfBounds exception in AtomicHistogram"
After running our application for some time it started generating these exceptions. We are using the following artifacts:

    "org.aspectj" % "aspectjweaver" % "1.8.5"
    "io.kamon" %% "kamon-core" % "0.3.5",
    "io.kamon" %% "kamon-datadog" % "0.3.5",
    "io.kamon" %% "kamon-play" % "0.3.5"

Play version is 2.3.3 and scala version is 2.11.5.

Any idea what could be causing this?

Jeroen

ERRO

[2015-03-24 18:02] ivantopo commented on #170
Hello, it seems to me that you are having the same problem that I describe in [this] comment... do you usually have requests that take longer than one hour to be processed?

[this]: https://github.com/kamon-io/Kamon/issues/71#issuecomment-63090925

[2015-03-24 22:41] ivantopo commented on #166
Martin, sorry that I forgot to publish the snapshots... I just did, version `0.3.6-ef43abf9b54ba70783eb645f020b87c18bb58cb4` and the same version works for Scala 2.10 and 2.11. Let us know how it works for you :).

[2015-03-25 08:00] jeroentervoorde commented on #170
Hi,

It might be an actor message that's taking very long to process. I guess this could also result in this error? Do you know if the exception happens after the message

has been processed or could it also happen during processing? Is there some way to log which message / actor causes the problem?

Thanks,

Jeroen

Met vriendelijke groet,

OVSoftware bv Burg. Wallerstraat 179 7574 AN Oldenzaal T

[2015-03-25 09:18] richardhundt opened #171 "kamon-play LoggerLike use case"
What is the purpose of the LoggerLike instrumentation? I was expecting it to record error rates, but it doesn't seem to be. I can't figure out why it is copying stuff to slf4j's MDC. Other than that, I can't see it actually doing anything in the play example app, when I look at the LogReporter output.

[2015-03-25 16:29] dpsoft commented on #171
Hi Richard,

the idea behind LoggerLikeInstrumentation is save in the kamon
TraceLocalStorage some useful data and propagate this in the MDC.
This is a thread with an example and also the tests could be useful until
the next release that include full documentation.

Cheers,

Diego

On Wed, Mar 25, 2015 at 6:18 AM, Richard Hundt <notifications@github.com>
wrote:

[2015-03-26 07:30] jeroentervoorde commented on #170
Hi Ivan,

Yesterday i did some profiling on our server and i noticed a huge amount of trace segments in memory. These seem to be caused by an actor which uploads files

to S3 using the play WS library. I assumed a new segment was created for every file that was uploaded (which always has a unique name). Is this a known issue which

i have to fix in code by setting the trace name?

Thanks,

Jeroen

[2015-03-27 09:15] magro commented on #166
@ivantopo I just updated kamon to the version you mentioned, unfortunately I don't see "segments" after "trace.$trace_name"... I don't see trace-segments anymore now.

[2015-03-27 19:38] ivantopo commented on #166
@magro are you super entirely sure? The category `trace-segments` won't be reported anymore, but right next to the `trace.$trace_name.elapsed-time` you should see `trace.$trace_name.segments` and all the correspondent segments should be there. I just tested again to be sure and I definitely see the segments, can you please confirm that you are looking at a trace that has segments?

[2015-03-27 19:50] ivantopo commented on #170
Hello @jeroentervoorde, the exception is definitely thrown after the message has been processed, there is no way it could have happened while the message is being processed because the instrumentation for a given actor records right after the call to the receive function finishes. We currently don't offer a way to log the messages that cause these failures but we know for sure that a message shoul

[2015-03-27 20:01] ivantopo commented on #170
To your second issue, you definitely need to do a couple changes to ensure that the segments get real and understandable names. By default the segments generated from the WS client instrumentation will be named after the [request url] (we should do something about that), but you can define your own [PlayNameGenerator] and add it to your application [config file] so that Kamon will use that for nam

[2015-03-27 20:21] ivantopo opened #172 "Resolve the StatsD hostname upon every flush"
See: https://groups.google.com/forum/#!topic/kamon-user/fokzLslVN0A

[2015-03-27 20:25] ivantopo commented on #168
@graph1zzlle did this work for you?

[2015-03-27 20:34] ivantopo opened #173 "Include number of routees as a router metric"
See point b here: https://groups.google.com/forum/#!topic/kamon-user/G-hALvxBowE

[2015-03-27 22:05] magro commented on #166
Weird, I just checked it with the statsd tcp admin interface and there I see the segments, but grafana somehow does not display them (also editing a metric manually and setting the path does not work).

[2015-03-30 15:19] danielgratzl opened #175 "Detailed traces for Spray in New Relic"
The documentation (http://kamon.io/backends/newrelic/) reads "Differentiation between JVM and External Services is coming soon, as well as actor metrics and **detailed traces.**".

Is this something that is currently worked on? If not could you provide a starting point on how to implement this? We are new to Kamon and New Relic but we think it's a very nice combination and would be happy to have d

[2015-03-30 21:24] magro commented on #166
Found it: I had to drop the existing data (rm'ed the docker container), starting from scratch fixed it.

[2015-03-31 12:31] gsphanikumar opened #176 "Possible memory leak with Kamon"
I am using the below versions of akka,spray and kamon with newrelic agent in a scala application.

akka - 2.3.0
spray - 1.3.2
kamon - 0.3.5

When i include kamon as a  runtime dependency, i see the application going out of memory and crashing. I dont think https://github.com/kamon-io/Kamon/issues/119 is the issue here because i am hitting the right url.  If I remove kamon as the  runtime dependenc

[2015-03-31 18:20] dpsoft commented on #171
Hi Richard,

the idea behind LoggerLikeInstrumentation is save in the kamon
TraceLocalStorage some useful data and propagate this in the MDC.
This is a thread
<https://groups.google.com/forum/#!searchin/kamon-user/mdc/kamon-user/19lNsXvxXcM/ACkUh2lIzhIJ>
with an example and also the tests
<https://github.com/kamon-io/Kamon/blob/master/kamon-play/src/test/scala/kamon/play/LoggerLikeInstrumentationS

[2015-04-01 08:42] jeroentervoorde commented on #170
Hi Ivan,

Thanks for your clarifications. For now i've disabled to play metrics as we were mostly interested in akka logging anyway. Currently we are using default names

for everything. I'll put an issue on the backlog for creating our PlayNameGenerator.

Thanks,

Jeroen

Met vriendelijke groet,

J (Jeroen) ter Voorde
IT Professional

OVSoftware bv Burg. Wallerstraat 179 7574 AN Oldenzaal T +31 5

[2015-04-01 12:26] ivantopo commented on #176
hello @gsphanikumar, please tell me one thing: are you using the `traceName` directive to correctly name your traces as described in [this post]?, from your screenshot I see that you have 773 `TraceMetricRecorder` instances which probably means that you are not grouping the traces using the  `traceName` directive, please give it a try and keep asking if you need any further help!

With regards to

[2015-04-01 12:33] ivantopo commented on #170
Nice, tell me one thing: did the original issue get solved for you? The ArrayIndexOutOfBoundsException? Just to know if we can close this issue.

[2015-04-01 12:35] ivantopo commented on #166
That's odd, but definitely not something on our side :), glad you figured it out!

[2015-04-01 12:51] ivantopo commented on #175
Hello @gh0zt, we currently have something we call simple traces in Kamon and I'm pretty sure that after our long awaited 0.4.0 release we will certainly put some efforts on pushing the simple traces to New Relic. After that we need to work on the grounds to actually support detailed traces within Kamon and later explore if/how we can get that data into New Relic. I'm almost sure that our New Relic

[2015-04-01 17:12] gsphanikumar commented on #176
@ivantopo Thanks for the response. Yes currently we are not grouping the traces.  I will try that and let you know if that helps.

[2015-04-03 06:21] #176 closed

[2015-04-03 06:21] gsphanikumar commented on #176
Naming traces with traceName fixes this issue.

[2015-04-03 15:35] nilsga opened #177 "ActorSystem won't start with 0.3.6-5456e7ca8f215b2a3a5bdbd3177a6ae61f268eef"
I decided to try the latest 0.3.6 snapshot (0.3.6-5456e7ca8f215b2a3a5bdbd3177a6ae61f268eef) to see if the dispatcher stats had improved, but now the `ActorSystem` fails on the `create` call. It hangs for a while, and then it throws a `RuntimeException: Kamon has not been started yet`. I have not changed any configuration from 0.3.5.

[2015-04-03 15:52] ivantopo commented on #177
Hello @nilsga, the new release will require our users to "start" Kamon by calling `Kamon.start(...)` as early as possible in your application. If you are using Akka then ideally you should start Kamon before creating your ActorSystem so that Kamon will be ready to work when the Akka instrumentation kicks in.

That should solve your issue, please let us know if you have any further problems!

[2015-04-03 15:53] ivantopo commented on #177
Oh and of course, thanks for trying our latest snapshot! We really appreciate that you take time to try it and provide us with feedback :D.

[2015-04-03 15:53] ivantopo commented on #176
Excellent, thanks for sharing!

[2015-04-03 16:09] nilsga commented on #177
Thanks. Got a little further now, but now I'm getting `java.lang.NoSuchMethodException: kamon.metric.Metrics.<init>()` during startup instead.

[2015-04-03 16:17] ivantopo commented on #177
can you please post the full stacktrace that produced that error? also, can you describe a bit your environment? It seems like this kind of error is found when trying to call a non-existent default constructor using reflection which we are certainly not doing, is it possible that your code starting Kamon in some weird way?

[2015-04-03 16:23] nilsga commented on #177
I have not done anything special. I have followed the documentation as I have understood it. I believe the problem now is the `Metrics` extension in the configuration: `extensions = ["kamon.metric.Metrics", "kamon.statsd.StatsD"]` If I remove it, the error disappears, but I can't seem to get any metrics reported.

[2015-04-03 16:28] nilsga commented on #177
The log reporter seems to confirm that there are no metrics: `No metrics reported`. I guess it's just my configuration that is not adapted to the latest snapshot. Do you have some pointers on what have changed, especially configuration wise?

[2015-04-03 16:29] ivantopo commented on #177
Oh, that must be it! In this new release you don't need to add the Kamon extensions to the `akka.extensions` configuration key, but we rather have our own mechanism to auto-start Kamon extensions. Please remove anything related to Kamon from that key and ensure that `Kamon.start(...)` is called promptly after your app started. You should see some DEBUG logs where Kamon says it is auto-starting it'

[2015-04-03 16:33] ivantopo commented on #177
With regards to the configs, yes we do have some changes! First, it is `kamon.metric` instead of `kamon.metrics`, second, the filters in the `kamon.metric.filters` section have different categories for the akka-related stuff as they are now called `akka-actor`, `akka-router` and `akka-dispatcher`.. finally, all these entity names are now scoped with the ActorSystem name to which they belong, as no

[2015-04-03 16:34] ivantopo commented on #177
This might help as well: https://github.com/kamon-io/Kamon/blob/master/kamon-akka/src/main/resources/reference.conf#L17

[2015-04-03 16:34] nilsga commented on #177
Yeah, I see to log statements:

[code]

However, still no metrics reported. I have added the `kamon-akka_2.11` dependency. I have this configuration related to kamon:

[code]

[2015-04-03 16:35] ivantopo commented on #177
Please see two comments bellow :), bad timing!

[2015-04-03 17:29] nilsga commented on #177
Thanks, it works now, after changing the filters according to the reference. I can now see the metrics in the statsd process in the docker image. Still can't get the metrics into grafana, but that's probably not related to this issue.

[2015-04-03 17:32] ivantopo commented on #177
Excellent! If you already had some dashboards running in grafana then you will need to update the metric query patters from the old `akka`, `router` and `dispatcher` names to the newer ones with the `akka-` preffix. Also for dispatchers we now have metrics which are specific to thread-pool-executors or -fork-join-pools and you might want to adjust them accordingly.

[2015-04-07 16:46] dragisak opened #178 "sbt-assembly shows conflicts in kamon libs"
kamon-core and kamon-akka-remote both create conflicting `aop.xml`

[code]

[2015-04-07 16:59] dragisak commented on #178
I just saw that this is duplicate of #59

[2015-04-07 16:59] #178 closed

[2015-04-07 17:29] ivantopo commented on #178
Hey @dragisak, nice to see you around! I see that you were able to self-service on this issue :+1:, keep having fun with Kamon!

[2015-04-08 21:30] paddymahoney opened #179 "Doc request: How to filter kamon jars from packaged artifact"
Hey Kamon-folk,

I find the kamon ask timeout tracing quite useful in develop, but even with
kamon.trace.ask-pattern-tracing = off
there is a cost, and I would like to avoid that in prod.

I'd like to include the jars as a dependency only in Compile, Test, but would like to filter/remove them in packaging. We use sbt-native-packager for generating our packages.

Feel free to close if you feel this

[2015-04-09 14:39] paddymahoney commented on #179
oh shoot, I forgot the code. Here is what I use to exclude the kamon jars:
[code]

I'm currently testing to see whether not including the weaving argument is actually enough.

[2015-04-12 15:59] jamesmulcahy opened #180 "4.0.0 pre-release documentation feedback"
Hi Ivan,

While browsing through the documentation you pointed me at, I spotted a couple of things:

- Some of the code snippets in "TraceContext Manipulation" don't render correctly
- The paragraph of text in "TraceContext Manipulation -> Actor Creation" ends abruptly

You may already be aware of these, but I thought I'd mention them anyway.

[2015-04-12 16:01] ivantopo commented on #180
thanks for the feedback, James! I'm currently working on the tracing section docs, will let you know when it is ready for you to review again!

[2015-04-15 12:09] ivantopo commented on #179
hello @paddymahoney, hope you are doing fine! This is certainly the first time we see a request like this, typically people want to use Kamon in production to monitor their stuff but yes, as you said, there is a cost on doing so, specially when the ask pattern as it creates an exception every time you ask just to grab the stacktrace. In the newest version we enhanced the instrumentation as explain

[2015-04-16 07:09] StefanGheorghiu opened #181 "Generalize Histogram and Gauge traits"
Currently, Histogram and Gauge interfaces are equal/similar. It would be convenient to introduce a supertype grouping common method signatures of the both.

[2015-04-16 20:56] jamesmulcahy opened #182 "mailbox-size statistics are reported to statsd as timers"
I'd have expected these to be counters, or gauges -- but I see them appear under the timers section in the stats that carbon is storing from StatsD.

e.g.

stats/timers/REDACTED/REDACTED/akka-actor/REDACTED-ACTOR-NAME/mailbox-size/count.wsp

[2015-04-17 20:28] osbornk opened #183 "Unable to find class 'akka.event.Logging.LogEvent' in repository"
I am getting 7-8 of these messages on startup:

ava.lang.ClassNotFoundException: akka.event.Logging.LogEvent not found - unable to determine URL
	at org.aspectj.apache.bcel.util.ClassLoaderRepository.loadClass(ClassLoaderRepository.java:292) ~[aspectjweaver-1.8.5.jar:1.8.5]
	at org.aspectj.weaver.bcel.BcelWorld.lookupJavaClass(BcelWorld.java:418) [aspectjweaver-1.8.5.jar:1.8.5]
	at org.aspectj.wea

[2015-04-21 21:26] jamesmulcahy opened #184 "NPE in ActorCellInstrumention.beforeInvokeFailure"
Running 0.3.6-fc86654c2ff451fa222677b27a5b45e024b93f61, I've just hit the following.  Not sure what I did to trigger it, as my config relating to Kamon and/orrouters hasn't changed lately.

[code]

[2015-04-21 21:44] jamesmulcahy commented on #184
I've tracked this back to occurring when another exception is thrown during the initialization of an Actor.  I'm guessing that the full Kamon init isn't complete, and in trying to log a stat before init has completed, it runs into this NPE.

If I disable AspectJ weaving, the underlying exception occurs due to a context.system.settings.config.getInt inside the constructor for an Actor.

Stacktrace

[2015-04-21 23:10] ivantopo commented on #184
Hey @jamesmulcahy! Thanks for reporting this issue, We really appreciate all the feedback that you have been sharing lately which certainly will make Kamon a better tool! I'll try to find a way to reproduce this issue with the info you provided and get back to you.

[2015-04-21 23:11] jamesmulcahy commented on #184
Hey Ivan - No problem - happy to help & pleased you're taking them as constructive - I'm not trying to beat up on you guys, you're doing a great job :)

[2015-04-22 00:04] #184 closed

[2015-04-22 00:09] ivantopo commented on #184
thanks, James! As per your description, a failure while processing a system message was triggering some instrumentation that we didn't expect and that caused the NPE... The snapshot version `0.3.6-a2840a7020df81056a656d3e88be223f7af62ac6` including this fix is being uploaded now to the snapshots repo and you should be able to pull it in a couple minutes.

Please let us know if anything else pops u

[2015-04-22 12:10] ivantopo commented on #179
Patrick, I'll proceed to close this issue as it certainly seems to be a very isolated case.. still, thanks for sharing your solution to filtering artifacts, that will remain here for anyone that might have a similar requirement in the future!

[2015-04-22 12:10] #179 closed

[2015-04-22 12:22] ivantopo commented on #182
Hey James, the reason is that we internally track the mailbox-size using a `min-max-counter`, which in turn stores the minimum, maximum and current mailbox size in a fixed interval (100ms by default).. if you keep the default tick interval of 10 seconds in Kamon, it means that every time we flush data to StatsD we have around 300 datapoints for each mailbox. If we were to report them as a gauge, o

[2015-04-22 12:22] #182 closed

[2015-04-22 12:41] ivantopo commented on #180
James, we published our latest WIP with regards to documentation at http://master.kamon.io/core/tracing/core-concepts/, please take a look at it!

The code snippets are now rendering nice and the context is complete. Also, the akka-specific content was moved to the Akka Integration section.

[2015-04-22 12:53] ivantopo opened #185 "Add steady / oscillating counters to Kamon."
We have found over time the need for counters that:
- do not reset back to zero on every tick.
- can be decremented.

Not sure if we should provide this characteristics as configuration settings in a unique counter instrument or as a separate instrument.

[2015-04-22 12:56] ivantopo commented on #170
I'm assuming that the problem was solved, please feel free to reopen or comment if it wasn't the case, regards!

[2015-04-22 12:56] #170 closed

[2015-04-22 12:59] ivantopo commented on #168
As of fc86654c2ff451fa222677b27a5b45e024b93f61 this issue was finally corrected.

[2015-04-22 12:59] #168 closed

[2015-04-22 13:00] ivantopo commented on #167
Hey @gmalouf, how did the app behave over time? Please let us know if you need any further assistance or if we can close this issue.

[2015-04-22 13:21] gmalouf commented on #167
The snapshots did the trick - no issues over the next several weeks.  We
have since dropped New Relic for the time being in favor of StackDriver due
to non-related issues.

Best,

Gary

On Wed, Apr 22, 2015 at 9:00 AM, Ivan Topolnjak <notifications@github.com>
wrote:

[2015-04-22 14:34] paddymahoney commented on #179
Just wanted to add that in the end I ended up leaving the artifacts - because the javaagent isn't set to include the aspectj weaver in our prod system, there don't seem to be any performance impacts to speak of.

Question re: the lightweight mode - is that in 0.3.6?

Thanks for your help Ivan.

[2015-04-22 15:31] ivantopo commented on #179
Nice, if you keep the jars there but no agent it will definitely not change a single piece of bytecode and no overhead is introduced, still you get the chance to use Kamon for non-akka-specific metrics, in case you want to track some other stuff.

On other note, the performance impact was specific to heavy use of the ask pattern or was it a general slowdown of your app?

And yes, that lightweight

[2015-04-22 15:32] ivantopo commented on #167
Thanks Gary, will proceed to close this issue then, regards!

[2015-04-22 15:32] #167 closed

[2015-04-22 20:16] dpsoft commented on #172
fixed with #174

[2015-04-22 20:16] #172 closed

[2015-04-23 06:24] slavaschmidt commented on #77
@ivantopo , you are absolutely right, the problem arises while using sbt-revolver plugin.

I was able to pinpoint the issue to the presence of the `-Xbootclasspath/a:`command line parameter of the forked process.

I think, through this some classes are able to escape AspectJ weaving. Probably, there is an easy way to fix this using some AspectJ configuration magic, but I wasn't able to achieve thi

[2015-04-24 17:32] rafael opened #187 "Mailbox sizes question"
Hi!

Quick question, is there a configuration setting that needs to be set to report the processing-time, time-in-mailbox and mailbox-size? These metrics don't seem to be getting to statsd in my setup.

Thanks!

[2015-04-24 17:33] ivantopo commented on #187
Hey Rafael, if an actor is catched by Kamon then the metrics will be sent, maybe you need to change the filters to include the actors you want?

[2015-04-24 17:38] rafael commented on #187
oh nevermind. They are there lol. I was looking for them inside stats, but they are in timers.

[2015-04-24 17:43] #187 closed

[2015-04-24 17:45] ivantopo commented on #187
Nice, keep having fun! :D

[2015-04-25 04:24] varunachar opened #189 "Integrate with Java"
I'm using Java to program with Akka. I have configured the project using Maven and using the standard maven structure. What are the steps to integrate Kamon with Java?

[2015-04-26 21:57] henrymai commented on #154
It looks like fusesource sigar has been removed since cd63515b0afa603e317cc63e43a3341783ba3e15, so I think this issue is resolved.

[2015-04-26 21:57] #154 closed

[2015-04-27 21:25] JozoVilcek commented on #185
Does this account also for counters which can have ```None``` value unless they receive ```Some``` input? Such counter, in case of ```None``` value, would not report anything on tick.

[2015-04-28 03:53] dpsoft commented on #132
we are registered in datadog and statsd the http-server metrics.

[2015-04-28 03:53] #132 closed

[2015-05-02 13:40] ivantopo commented on #185
At the kamon-core level, counters that didn't have any activity would still report what they were configured for (either 0 or their current value), that would help keep all metric backends aware that the counter exists. Now, it is up to a specific metrics backend to decide whether to report or not counters that didn't move in the current tick.

Please let us know if you have a specific issue or us

[2015-05-03 13:41] dpsoft commented on #94
Play have some limitations when trying to set a java agent in Play dev mode (ie, play run) -> https://github.com/playframework/playframework/issues/1372

[2015-05-03 13:41] #94 closed

[2015-05-03 13:46] dpsoft commented on #189
@varunachar we published our latest WIP with regards to documentation at http://master.kamon.io/introduction/get-started/, please take a look at it and feedback is welcome!!

[2015-05-03 13:50] dpsoft commented on #153
scala port?

[2015-05-03 14:30] #143 closed

[2015-05-04 16:42] ivantopo opened #190 "respect the configured name generator for Play apps"
Currently the configured name generator for Play is being used to assign a initial name to traces, but that name is always renamed to follow the "$path.$verb" pattern, rendering the initial name useless.

Not sure what is the best way to fix this, but we definitely should make sure that creating a custom name generator makes sense and that if nothing else changes the trace name, the name returned

[2015-05-04 22:58] ivantopo opened #191 "Release Kamon 0.4.0"
Here is a quick list of the pending tasks for the release.

- [x] write the announcement post.
- [x] update the changelog with the tons of changes in 0.4.0.
- [x] review documentation for the kamon-annotation module.
- [x] review documentation for the MDC support.
- [x] review the documentation on metric backends.
- [x] upgrade the landing and teamblog sections of kamon.io to use the new style.
-

[2015-05-04 23:10] adrien-aubel commented on #191
:+1:

[2015-05-05 13:45] smagnacco commented on #191
You and Diego should start by the last one ;)

2015-05-04 20:10 GMT-03:00 Adrien Aubel <notifications@github.com>:

--
------------------------------------------------------------
Ing. Sergio Joel Magnacco
IT - Hoteles - API v3 / Rainman / GHF / OTAI / Feed - Project Leader
*Av. Corrientes N° 746 - piso 9° - C.A.B.A. (C1043AAU)*
<http://www.despegar.com/>
*[image: Seguinos en Twitter!] <http://twi

[2015-05-05 17:00] dpsoft commented on #80
related to Full Documentation.

[2015-05-05 17:00] #80 closed

[2015-05-06 10:14] SBozhko opened #193 "java.lang.IndexOutOfBoundsException in HdrHistogram"
Hi, we have many such errors:
[code]

Dependencies:
[code]

[2015-05-06 12:32] ivantopo commented on #193
Hello Svetlana! Is it correct to assume that this problem happens after your application has been running for quite some time?

We removed the CPU time metric from the ProcessCpu recorder for the next release so this shouldn't be an issue anymore, but you will need to upgrade to fix this problem.. is it possible for you to do so?

[2015-05-06 13:48] SBozhko commented on #193
Yes, application was running quite stable for a long time without such errors.

I think it's possible to upgrade, but... do you have substitutional tool for CPU time metric? Or any other suggestions regarding this?

[2015-05-06 15:23] dpsoft opened #194 "Divide by Zero exception with sigar"

[2015-05-06 16:01] #194 closed

[2015-05-07 13:30] agemooij opened #195 "Please provide an RSS feed for the team blog"
Hey guys. I'd like to follow your team blog but it doesn't provide an RSS or Atom feed. Could you please provide one?

Thanks,
Age

[2015-05-08 12:15] ivantopo commented on #193
The cpu-time metrics where removed mainly because it's values are ever growing and not that much interesting if we switch to diff-recording the cpu-time, but we do have CPU usage percentage for both the overall system and the process, also differentiating between user and system cpu in both cases.. would that work for you?

[2015-05-08 23:11] ivantopo opened #196 "ensure that the TraceLocalStorage can be used from Java"
We must make it java-friendly and also improve the MDC keys support accordingly to the changes introduced to solve this issue.

[2015-05-08 23:11] ivantopo commented on #191
There wont be mention of trace local storage or MDC support until we fix #196.

[2015-05-09 05:58] hsun-cnnxty commented on #183
I got the same issue here.

[2015-05-10 09:52] yanns commented on #77
@slavaschmidt I have the same problem as you have with sbt revolver.
Can you explain how you changed the `spray.revolver.SbtCompatImpl` object to use `Fork.java` instead of `Fork.scala`?

[2015-05-10 14:20] ivantopo commented on #191
Had bad luck twice with finding pizza, but then got twice the beer :D, closing!

[2015-05-10 14:20] #191 closed

[2015-05-10 14:35] #189 closed

[2015-05-10 19:34] ivantopo commented on #195
Hello Age, nice to see you around :D, we just published a feed on http://kamon.io/teamblog/rss/, would that work for you? In theory, while browsing through the site people should be able to simply subscribe if they have some sort of extension that picks up the `<link>` but for some reason it is not working, looking into that.

[2015-05-10 20:41] ivantopo commented on #195
Found the problem, silly location error.. now the feed is up!

[2015-05-10 20:41] #195 closed

[2015-05-10 22:00] ivantopo commented on #77
Hey @slavaschmidt, I was investigating this issue today and found out that something like this is enough to make it work:

[code]

have you tried that? It seems to work nicely and doesn't require any changes to the `sbt-revolver` plugin!

[2015-05-10 22:01] ivantopo commented on #77
Oh and @yanns, can you also give it a try please?

[2015-05-11 07:01] yanns commented on #77
@ivantopo I am already using that and it is not sufficient.
It fixed the warning about the weaving, but the trace context with a `Future` is lost.

I pushed my test project on github if you want to try: https://github.com/yanns/kamon-revolver

[2015-05-11 07:54] agemooij commented on #195
Feedly now auto-detects the feed. Thanks! Keep up the good work!

[2015-05-12 12:34] ivantopo commented on #183
Hello there! Sorry for taking too long to jump into this. Did you guys find any solution to this issue?.. BTW, setting `fork in run := true` for Play! applications doesn't have any effect as Play!'s internals wont allow the JVM to be forked.

[2015-05-12 13:06] ivantopo commented on #180
Well, release is out! Closing.

[2015-05-12 13:06] #180 closed

[2015-05-12 16:29] osbornk commented on #183
I never did. But I also got tasked to other issues, so I have not taken a look again in a while.

[2015-05-12 17:04] slavaschmidt commented on #77
@ivantopo That didn't work for me, but my setup is kind of special because i have a couple of another java agents which i configure using command line parameters

@yanns Sorry, but this will be a very short explanation. I changed a source code of the revolver plugin.

[2015-05-12 17:23] ivantopo opened #197 "kamon-newrelic is not subscribing to single-instrument entities"
https://github.com/kamon-io/Kamon/blob/master/kamon-newrelic/src/main/scala/kamon/newrelic/MetricReporter.scala#L94

[2015-05-13 11:46] yanns commented on #77
For info, I made a PR for sbt revolver to support `Fork.java`: https://github.com/spray/sbt-revolver/pull/47

[2015-05-13 12:16] ivantopo commented on #77
nice @yanns! I'll keep an eye on that PR :)

[2015-05-13 12:56] ivantopo opened #199 "NPE when initializing a balancing-pool router from configuration"
See https://groups.google.com/forum/#!topic/kamon-user/uHlS2sH-h7Q

here is the StackTrace:

[code]

[2015-05-13 13:17] #197 closed

[2015-05-17 22:29] dpsoft commented on #190
We need start a trace without name because, the complete information of the RequestHeader is available at the moment of filter execution, before that,  there is not tag information in the RequestHeader and is not posible build a complete Trace Name.

[2015-05-17 22:31] #190 closed

[2015-05-19 23:43] ivantopo opened #202 "Ensure that Kamon becomes test friendly"
In the current scheme users need to start Kamon for everything to work properly and at this point it includes tests, even while users might not want/need to have Kamon on while they are running tests. At the moment, I see that we need to support the following cases:

* No Kamon at all. By this I mean, no need to start Kamon and simply let the application run, even while
Kamon is not started.
* Met

[2015-05-20 08:29] kodemaniak commented on #202
+1

I think the most important case here is the first one. If I would be able to just turn off/disable/not start Kamon during tests, that would be extremely helpful already. BTW, if you exclusively use the built-in metrics (actor metrics, dispatcher metrics) that already works. The issue only seems to exist with the custom metrics.

However, additionally having means to check that the metrics are

[2015-05-20 12:13] varunachar commented on #189
I'm getting the following error when integrating it with Java.
[code]

Kamon Configuration:

[code]

[code]

[2015-05-21 17:01] dpsoft opened #204 "withNewAsyncSegmentactually evaluates the supplied code twice"

[2015-05-21 18:26] #204 closed

[2015-05-21 22:46] barnone commented on #202
+1
fyi..this is chris. I reported this issue in the user forum.

My thought is that by default, you could have the current behavior which enforces Kamon.start(), however this behavior could be silenced by adding a config setting similar to the weaver warning setting. When enforcement is off, Kamon.start would not be enforced and calling Kamon APIs would not throw exceptions that Kamon is not start

[2015-05-23 23:37] kholodilov commented on #199
Hi!
I encountered the same error with balancing pool router, switching to another type helped.
My error messages were slightly different, with very strange first error:
[code]
Hope it'll help in fixing the issue.

[2015-05-25 21:37] dpsoft opened #206 "akka-streams module"
This issue should be used for obtain ideas that could be useful as metrics.
- [ ] propagate the TraceContext  over the Stream.
- [ ] measure the time for receive elements in the Flow.

[2015-05-29 02:47] ivantopo commented on #189
Hello @varunachar! Do you know if the call to `SpringApplication.run(...)` blocks the main thread or not? I guess it doesn't and then you are shutting down Kamon while some other parts of your application might want to use it.

[2015-05-29 09:52] ivantopo opened #209 "Take a look at supporting OSGi"
We will need to do a bit of investigation on what should be done to support people using Kamon in a OSGi container. I know we should add some bits to the manifest included in our artifacts but given all the classloader magic that happens with OSGi we will need to do some additional experimentation on how to setup the weaver in those environments.

Also, publishing a simple example that works might

[2015-05-29 10:16] ivantopo opened #210 "Make it configurable to include identification tags in the datadog module."
For some users have the automatically generated `entity-category=entity-name` tag in datadog is nice, but for some others it can be pain, so, we should make it configurable and let the users decide what they want! Take a look at the comments in #188.

Also, it might be of help to allow users to provide their own metric name and tags generator, the very same way we do in the StatsD module.

[2015-06-01 23:02] pjan commented on #181
Mind to elaborate why so?

[2015-06-02 05:48] aalleexxeeii commented on #181
At least not to double operations in 3rd-party extension APIs: instead of having two sets of methods that differ only in the parameter type Histogram/Gauge but have absolutely identical bodies, they could be generalized by the base class.

[2015-06-02 06:39] pjan commented on #181
hmm; I'm not a big fan of type hierarchies. I have a hard time finding an "is-a"-relationship that would have both a `Gauge` and a `Histogram` as their descendants, that isn't the already existing `Metric`.

It could be done with a `Recording` trait perhaps, that both classes mix in, and this change is easy enough to put up a simple PR for it. I'm still not sure about the added value.

If you want

[2015-06-02 19:48] jamesmulcahy opened #211 "HdrHistogram OutOfBoundsException"
Running 0.3.6-a2840a7020df81056a656d3e88be223f7af62ac6 (which is essentially a 0.4.0 pre-release).

We see this exception after startup, and repeating at 1s intervals throughout the lifecycle of the Application.  We don't see this across all instances, but it has occurred on one instances we brought up yesterday.

[ERROR] [06/01/2015 15:55:42.995] [kamon-akka.actor.default-dispatcher-9] [akka://ka

[2015-06-04 07:59] pjan commented on #134
at the same time, metrics about the server would make sense as well, I believe (total number of requests, request rate, number of open connections, ...)

[2015-06-04 11:57] tsukaby opened #213 "Kamon 0.4.0 Memory leak with Spray."
Hi! Kamon developers.
Thank you for release 0.4.0!

I did update my program from 0.3.5 to 0.4.0.
But I got a memory leak problem with following environments.

- Scala 2.11.6
- Kamon 0.4.0 (core, spray, statsd, datadog, system-metrics, sigar-loader)
- Spray 1.3.2 (can, routing, json, client)
- aspectjweaver 1.7.4

a part of application.conf

[code]

Statistics via jvisualvm.
![java_visualvm](https:

[2015-06-04 15:05] DomingoExabeam commented on #165
I am seeing the same problem. It appears to me that the problem is that kamon is killing itself.
The shutdown method is not disabling/shutting down the timer actor that collects data periodically. When this timer runs it cannot find kamon it fails. My theory is because I am seeing in the exception:
[ActorSystem(kamon)] exception while executing timer task
and also
java.lang.RuntimeException: Kamon

[2015-06-04 17:28] dpsoft commented on #165
@DomingoExabeam I agree with you, my guess is that kamon doesn't stop gracefully and some components still active after calling the shutdown method. Currently I finishing the integration with Play 2.4.x and the the next thing is solve this issue.

[2015-06-04 20:20] zileliao opened #214 "potential memory leak"
What we use:

spray-can 1.3.2
akka 2.3.9
new relic 3.13
kamon dependencies:
io.kamon.kamon-core_2.11-0.3.5.jar		io.kamon.kamon-newrelic_2.11-0.3.5.jar
io.kamon.kamon-log-reporter_2.11-0.3.5.jar	io.kamon.kamon-spray_2.11-0.3.5.jar

The following line is commented out from application.conf
  # extensions = ["kamon.newrelic.NewRelic"]

While we do not expect kamon being loaded into runtime, we found

[2015-06-05 02:25] pjan commented on #165
I was experiencing the same issue, and it happened with a configuration as follows:

[code]

This made kamon report on it's own actors, so I updated the configuration to

[code]

upon which the errors disappeared.

[2015-06-08 20:06] kailuowang opened #215 "Akka 2.4 M1 support"
I understand that Kamon doesn't support Akka 2.4 yet, and you can't run the current Kamon 0.4.0 released binary against  an Akka 2.4 M1 based app.
I compiled the Kamon 0.4.0 release against the Akka 2.4 M1 , and it seems working fine.
So here is the branch I created for the compilation.
https://github.com/kailuowang/Kamon/tree/release-akka-2.4
I gave it a version 0.4.0_akka-2.4
Can we release a sp

[2015-06-11 08:04] JozoVilcek commented on #185
I was trying to describe my use case [here](https://groups.google.com/forum/#!msg/kamon-user/Ly2VDWohZm0/Ji0O8aJcUtgJ). I agree that this might be a little odd for Kamon, which is more toward "real-time" metrics collection and not for sporadic metrics (counters) occurring at irregular time intervals (e.g. statistics reported by scheduled batch processes).

[2015-06-11 12:29] antonsarov commented on #209
As I am the one who started the thread on the user group I wanted to keep this running so I created some base which can be used for investigations (https://github.com/antonsarov/kamon-osgi). Both parts can be imported into Eclipse. There is one part in the Activator.java which has to be adapted. The mixture between Java and Scala is on purpose, as is the project's separation - to "simulate" some r

[2015-06-13 07:02] enix commented on #165
It looks like the part where an Entity is removed [1] is cause the trouble;

[code]

The `Kamon.metrics` function [2] is implemented like so:

[code]

The `ifStarted` call is what throws the exception.

A possible fix might be to call the `removeEntity` function in a before hook or to keep a reference to the metrics object somewhere inside the `DispatcherInstrumentation` instance.

1: https://gith

[2015-06-13 07:09] #171 closed

[2015-06-14 16:51] ivantopo commented on #215
Hello @kailuowang, thanks a lot for sharing your experiment! I had to do some minor changes to actually publish as shown in 35bb09838d1b0a2a1e36cd68c2db158b728a2981, but the artifacts are now in the snapshots repo, please take a look at this post: http://kamon.io/teamblog/2015/06/14/welcome-akka-2.4-goodbye-akka-2.2/

If it wasn't because of your feedback, we would probably had waited a lot more b

[2015-06-14 16:51] #215 closed

[2015-06-15 01:31] dpsoft commented on #165
we just publish a snapshot version that fixes the error: `0.4.1-6354021533319790ba675c2b9e36fb439a8ea06f`

Please let us know if anything else pops up, regards!

[2015-06-15 03:09] pjan opened #217 "Questions on traces:"
- What happens if traces are being created, but never finished? Does this consume resources and eventually bog down the system?

- What happens if you call finish on traces multiple times? I observed the trace being registered multiple times in this case. Is this expected behaviour?

cheers,
pjan

[2015-06-15 08:34] enix commented on #165
@dpsoft Thanks, that fixed the reported issue. There is a similar exception occurring in the ActorCell `afterStop` call. I took a stab at it and was able fix this that using your commit as pointer.

Please note that I've never worked with AspectJ and am new to Scala. So if there is anything that could have been done better, please let me know.

[2015-06-15 09:38] Honigbaum commented on #183
Same here. Any solution?

[2015-06-15 12:20] enix commented on #165
I looked into the issue a bit deeper and can see what I did wrong.

Perhaps there is a better way to register the `MetricsModule` for both paths but at least now the tests pass and the exception is gone.

[2015-06-15 14:24] kailuowang commented on #215
Thanks very much for the snapshot release. Glad that I did a little help to a great product you guys are building.

[2015-06-15 21:57] ksnagendran commented on #183
I'm also facing the same issue, any body know the answer pls update in this post

[2015-06-15 22:31] dpsoft commented on #183
Play have some limitations when trying to set a java agent in `dev mode` (ie, play run) -> https://github.com/playframework/playframework/issues/1372.

[2015-06-16 06:29] Honigbaum commented on #183
We're also facing this problem in `prod mode`

[2015-06-16 11:35] dpsoft commented on #183
how you are runnig the application in prod? in this manner `java -cp ".:lib/*" -javaagent:lib/org.aspectj.aspectjweaver-1.8.5.jar play.core.server.NettyServer`?

you are running other agent like new relic?

[2015-06-16 11:39] Honigbaum commented on #183
we're using the script generated by play `bin/myapp.sh -J-javaagent:/myapp/lib/org.aspectj.aspectjweaver-1.8.5.jar`

[2015-06-16 13:15] ancane commented on #202
+1 for this feature.

[2015-06-16 16:16] hsun-cnnxty commented on #183
With Play:

bin/my-service -v -J-javaagent:lib/aspectjweaver-1.8.5.jar

Above command-line works for me.

[2015-06-16 17:26] LukaszMarchewka opened #219 "kamon.io stops reporting to statsD"
Hi, I have created simple web application in play framework and a I have used kamon.io to count number of requests. Next i have configured to send that data to statsD. Everything works fine for normal load. But if I start generating too much requests ( traffic bigger than application is able to handle), kamon.io stop sending data to statsD, and log that error:

[INFO] [05/27/2015 17:16:22.817] [ka

[2015-06-16 18:12] ksnagendran commented on #183
I'm trying to run in dev mode as

activator run  -J-javaagent:"aspectjweaver-1.8.3.jar"

and getting errors as

[error] o.a.w.b.BcelWorld - Unable to find class 'scala.concurrent.impl.Future.PromiseCompletingRunnable' in repository
[error] o.a.w.b.BcelWorld - Unable to find class 'akka.event.Logging.LogEvent' in repository
[error] o.a.w.b.BcelWorld - Unable to find class 'akka.dispatch.Dispatcher.

[2015-06-17 14:06] avdv commented on #183
Hi.

I think I'm running into the same problem. Versions:

* scala 2.11.6
* play 2.3.9
* kamon 0.4.0
* aspectjweaver 1.8.6

The application is run in prod mode, using the script generated by "./activator dist", ie. `./bin/app-server -J-javaagent:aspectjweaver.jar`.

Error messages:

[code]

[2015-06-17 14:27] dpsoft commented on #183
Hi,

you can try with this:

* 1- play stage
* 2- cd target/universal/stage
* 3- java -cp ".:lib/*" -javaagent:lib/org.aspectj.aspectjweaver-1.8.6.jar
play.core.server.NettyServer

cheers,

Diego

On Wed, Jun 17, 2015 at 11:06 AM, Claudio Bley <notifications@github.com>
wrote:

[2015-06-17 14:52] avdv commented on #183
@dpsoft: this works on my local machine, just as well as using the script generated by activator.

[2015-06-17 15:12] dpsoft commented on #183
@avdv you are running other agent like new relic?

[2015-06-17 17:19] avdv commented on #183
no, I used to run Jolokia, but already eliminated that as a the source the errors. But I'll double-check tomorrow.

[2015-06-18 13:20] tobnee commented on #202
+1 just ran into this myself

[2015-06-19 00:26] dpsoft commented on #165
related to #220

[2015-06-19 00:26] #165 closed

[2015-06-20 16:54] mgillis commented on #202
+1

[2015-06-22 20:21] ksnagendran commented on #183
I tried this

* 1- play stage
* 2- cd target/universal/stage
* 3- java -cp ".:lib/*" -javaagent:lib/org.aspectj.aspectjweaver-1.8.6.jar
play.core.server.NettyServer

and now i'm not getting the classnotfoundexceptions, thanks @dpsoft

but when starting the kamon i'm getting this error

[INFO] [06/22/2015 16:20:09.878] [main] [SystemMetricsExtension(akka://kamon)] Starting the Kamon(SystemMetrics)

[2015-06-22 20:54] dpsoft commented on #183
Hi,

the sigar-loader library will try to load sigar first, and if it fails then
it will provision and load the appropriate native library and then
instantiate sigar again so, the first failure that always happens is
causing the error you see, but then after that it is correcting the problem
by provisioning and then loading, so that is something we should change
though.. it looks like there is an

[2015-06-22 21:10] ksnagendran commented on #183
Thanks @dpsoft for your quick response.
What is the reason for "No metrics reported" for Actor Metrics

[2015-06-22 22:10] ksnagendran commented on #183
Now i can see the logs as like below. Processing time and time in mail box showing zero values.

Actor: test/user/simple-service-actor                                                         |
|                                                                                                  |
|   Processing Time (nanoseconds)      Time in Mailbox (nanoseconds)         Mailbox Size          |
|

[2015-06-23 01:00] leachbj opened #221 "Trace data reported to new relic does not include host information"
When multiple instances of an application are running and reporting to new relic the new relic views allow to display the various reports per JVM.  With Kamon however the data is only available as an aggregate across all JVMS and the per JVM view shows no results.

[2015-06-24 15:16] ksnagendran opened #222 "No data for Actor metrics"
Hi All,
I integrated kamon with a Java Play framework application and when i run the application there is no data for the actor metrics graph but i can see the trace graph and system metrics graph.

I checked the logs and it always shows zero for processing time, time in mail box and mail box size.

This is my code:

build.sbt

"io.kamon" %% "kamon-core" % "0.4.0",
"io.kamon" %% "kamon-akka" % "0.

[2015-06-24 23:00] dpsoft commented on #222
you can provide us an example or your code, that we can run?

[2015-06-25 03:56] ksnagendran commented on #222
What kind of example or information you needed, kindly let me know?

[2015-06-25 16:16] dpsoft commented on #222
I've lost this part of the previous message :

Actor: test/user/simple-service-actor |
| |
| Processing Time (nanoseconds) Time in Mailbox (nanoseconds) Mailbox Size |
| Msg Count: 0 Msg Count: 0 Min: 0 |
| Min: 0 Min: 0 Avg.: 0.0 |
| 50th Perc: 0 50th Perc: 0 Max: 15 |
| 90th Perc: 0 90th Perc: 0 |
| 95th Perc: 0 95th Perc: 0 |
| 99th Perc: 0 99th Perc: 0 Error Count: 0 |
| 99.9th Perc: 0 99.9th

[2015-06-25 19:15] ksnagendran commented on #222
Hi Diego,
This is what happen now, if i filter the metrics like this

includes = ["myAkka/user/MyAkkaManager/MyAkkaWorker"]

i'm getting Processing Time & Time in Mailbox as zero and i can see some numbers on Mailbox Size.

if i change the filter like this

includes = ["myAkka/user/MyAkkaManager/MyAkkaWorker/*"]

i'm getting the values for all three.

[2015-06-26 13:17] ksnagendran commented on #222
This is my akka conf

deployment {
			"/MyAkkaManager" {
				router = round-robin-pool
    			resizer {
      				lower-bound = 1
      				upper-bound = 5
      				messages-per-resize = 10
    			}
  			}
  			"/MyAkkaManager/MyAkkaWorker" {
				router = round-robin-pool
    			resizer {
      				lower-bound = 1
      				upper-bound = 5
      				messages-per-resize = 10
    			}
  			}
  		}

[2015-06-26 13:49] ivantopo commented on #222
Hello @ksnagendran, I think there might be a little confusion here between actor metrics and router metrics. You asked about actors first, but I see from your config that your are actually deploying routers.. what exactly would you like to measure?

Also, I pushed an update to the docker image that fix the metric patterns to match those of Kamon 0.4.0, please ensure that you pull the latest image

[2015-06-26 22:22] kailuowang opened #224 "Akka 2.4 support"
Akka reverted the ActorPath trait -> class change
https://github.com/akka/akka/commit/cef397d149a012f0696d2d8a1b757f52107881b3
so the current kamon-core_akka-2.4 % 0.4.1-35bb09838d1b0a2a1e36cd68c2db158b728a2981 is not compatible with Akka-2.4-M2
0.4.0, on the other hand is compatible with 2.4-M2

[2015-06-27 10:43] ivantopo commented on #224
hey @kailuowang! You mean that plain Kamon 0.4.0 as currently available in public repos is compatible with 2.4-M2 without any sort of weird issues? great news! :D

[2015-06-28 01:14] kailuowang commented on #224
Sorry I was totally unclear. I haven't verified that 2.4-M2 and 0.4.0 has no weird issue yet. This issue is more about the current snapshot of kamon-core_akka-2.4 is incompatible with Akka-2.4-M2. I will report kamon 0.4.0 working with Akka 2.4-M2 issues if I found any.

[2015-06-28 13:12] hossein761 opened #225 "Kamon-Play is not compatible with Play 2.4.x"
Kamon-Play uses NingWSPlugin which depends on Play 2.3.8.

[2015-06-29 02:46] sambogoat opened #226 "Kamon akka trace not propogated on ask callback"
The issue i see is fairly fundamental so it may well be related to the versions of Kamon and Akka i'm using.

The problem scenario can be reduced to the example of using the ask pattern given in the docs:
http://kamon.io/integrations/akka/automatic-trace-context-propagation/

For example:
[code]

Versions:
akka. version: 2.3.11
akka-http version: 1.0-RC4
kamon.version: 0.4.0

Included modules:
kam

[2015-06-29 16:04] ksnagendran commented on #222
Hi @ivantopo, sorry for the late response.
Actually i'm trying to measure the actor metrics. So you are saying that the above code i shared, is measuring the router metrics?

Do you have any example code for play framework with the latest kamon 0.4.0. Which will be more helpful for the beginners like me.

Regarding docker, I pulled the latest and thanks

[2015-06-30 09:36] moliware commented on #202
+1

[2015-07-07 10:39] nilsga commented on #214
We are seeing some similar behaviour. A large amount (3 gig) of `long[]` arrays with histogram values. Have you been able to investigate this further, @ivantopo?

[2015-07-07 11:34] nilsga commented on #213
I think this is similar to an issue we are seeing. Have you been able to find the cause, or have you put it on hold?

[2015-07-07 14:14] lofifnc commented on #202
+1

[2015-07-08 10:09] nilsga opened #227 "Memory leak when removing entities with MinMaxCounter"
Any metric that is using a `MinMaxCounter` will not be properly garbage collected when removed from the tracked entities map with `removeEntity`. This is due to the `MinMaxCounter` starting a [refresh schedule](https://github.com/kamon-io/Kamon/blob/v0.4.0/kamon-core/src/main/scala/kamon/metric/instrument/MinMaxCounter.scala#L42-L44) that apparently is never cancelled, since [`removeEntity`](https

[2015-07-09 14:05] ivantopo commented on #226
hey! quick question, are you running the app from SBT when it fails?

[2015-07-09 14:23] sambogoat commented on #226
No I'm running as standalone app from a built jar.

[2015-07-09 14:27] ivantopo commented on #226
Looking at your example code, where are you getting `responseFuture` from? is it the same as `val fut = Tracer....` or is it actually another Future?

[2015-07-09 14:48] sambogoat commented on #226
Sorry yes my bad. It is the same future as fut. I've edited the ticket to correct this.

[2015-07-09 18:56] ivantopo commented on #226
This is embarrassing, but the example is incorrect! It should be like this:

[code]

The instrumentation will capture whatever context is available when the transformations (map, filter, flatmap...) are created and since the `.map(...)` call was being made outside the reach of the `Tracer.withNewContext(...)` block, there was no context to capture!

I'm so sorry for that, I'll update the site acco

[2015-07-10 07:18] sambogoat commented on #226
No problem - thanks for taking the time to look into this.

Although, when i invoke the map inside the scope of ```Tracer.withNewContext { ..}``` an empty context is again printed:

[code]

[2015-07-10 08:22] sunnykaka commented on #225
Look forward the updates.

[2015-07-10 11:03] ivantopo commented on #226
that can be something else then.. how are you packaging your app and how are you adding the `-javaagent` option with the AspectJ weaver?

[2015-07-10 17:48] #227 closed

[2015-07-10 19:31] ivantopo commented on #214
hey guys! are you using the `traceName` directive or any other means of correctly assigning a proper name to the traces automatically generated by the kamon-spray module?.. if you don't do so and your URLs contain variable values then you can fill up the help with meaningless per-url trace metric recorders!

We changed the behavior to assign "UnnamedTrace" as the default trace name in Kamon 0.4.0,

[2015-07-13 16:19] pimeys commented on #202
+1

[2015-07-17 15:59] ShaneDelmore opened #232 "Histogram recorded value cannot be negative."
I noticed the following error shortly after starting up one of my scala services running in a docker container on OSX.

I do not know how to reproduce it but if there are any steps I can take to help troubleshoot the issue please let me know.

java.lang.ArrayIndexOutOfBoundsException: Histogram recorded value cannot be negative.
dispatcher_1       | 	at org.HdrHistogram.AbstractHistogram.countsArr

[2015-07-17 16:01] ShaneDelmore commented on #232
Here are the kamon modules and versions I am using.
     val kamonV: String = "0.4.0"
    "io.kamon" %% "kamon-core" % kamonV,
    "io.kamon" %% "kamon-system-metrics" % kamonV,
    "io.kamon" %% "kamon-newrelic" % kamonV,
    "io.kamon" %% "kamon-statsd" % kamonV,
    "io.kamon" %% "kamon-akka" % kamonV,
    "io.kamon" %% "kamon-spray" % kamonV

I am running on a Java8 JVM and using aspectjweaver

[2015-07-17 17:43] ivantopo commented on #202
Dear folks!

We just did a few minor changes that might work to solve this issue, or at least alleviate the pain generated by it. The requirement of calling `Kamon.start(...)` will remain, but with the changes introduced here will allow you to bypass that requirement if desired, with a little trade off to make: If the `kamon.auto-start` system property is set to `true`, then Kamon wont throw an er

[2015-07-17 18:37] crypticmind commented on #202
I tried this snapshot and it effectively relieved me from having to start Kamon myself (and requiring every test to mix in a trait for that, yadda yadda). I'd like to see more of an option like `-Dkamon.be-dummy-and-dont-bother-me-during-my-testing`, but in the mean time, this is a nice start!

On a final note, check the message you output in case `auto-start` hasn't been set and Kamon hasn't been

[2015-07-18 16:29] ivantopo commented on #202
@crypticmind, nice feedback! I thought about adding a test-related name for this property, but in reality this is something that affects Kamon as a whole, not just for tests.. in theory, people could be using this in their real application deployments, still, that isn't something we would like to encourage people to do, but certainly can happen.

Thanks for pointing out the spelling issues! (who i

[2015-07-18 21:02] #196 closed

[2015-07-20 03:49] dpsoft commented on #225
@hossein761 @sunnykaka we published kamon 0.4.1-SNAPSHOT with support for Play 2.4.x and we make a example of usage. https://github.com/kamon-io/Kamon/tree/master/kamon-examples/kamon-play-example-2.4.x

[2015-07-20 09:19] szimano commented on #213
I am experiencing a very similar problem using aspectjweaver 1.8.6. any ideas?

[2015-07-20 12:53] ivantopo commented on #213
@tsukaby thanks for sharing this! As @nilsga mentioned, this probably is related to the issue he fixed with #229, given the fact that your dump shows that you have tons of min max counters in memory it is almost certain that the issue is related to that.. so, cold you please try the very latest snapshot that contain that fix? That would be `0.4.1-2ce80225a5ae4d0ed7ba53be1ebe0734d4e4bca6` from our

[2015-07-20 15:09] tsukaby commented on #213
Thank you fix and build! I'm going to try it on this week.

I will contact you again later.

[2015-07-20 22:02] ivantopo commented on #214
Hello @zileliao, did you solve this issue by using the `traceName` directive? If you decide to upgrade to Kamon 0.4.0 please note that there is a related issue that causes a different type of leak, as described in #213.

Hope you find that info useful.

[2015-07-21 05:03] tsukaby commented on #213
Thank you @nilsga !
Tnank you @ivantopo !

This problem solved on our system. (use `0.4.1-2ce80225a5ae4d0ed7ba53be1ebe0734d4e4bca6`)

### before (`0.4.0`)

![java_visualvm_before](https://cloud.githubusercontent.com/assets/6133458/8793407/16d3e612-2fb1-11e5-8235-fb5cded589b0.png)

### after (`0.4.1-2ce80225a5ae4d0ed7ba53be1ebe0734d4e4bca6`)

![java_visualvm_after](https://cloud.githubusercontent.c

[2015-07-21 05:04] #213 closed

[2015-07-21 12:24] zileliao commented on #214
Thanks Ivan. I will set up a test in our staging environment and post back the finding.

On Jul 20, 2015, at 6:00 PM, Ivan Topolnjak <notifications@github.com<mailto:notifications@github.com>> wrote:

Hello @zileliao<https://github.com/zileliao>, did you solve this issue by using the traceName directive? If you decide to upgrade to Kamon 0.4.0 please note that there is a related issue that causes

[2015-07-21 12:55] ausmarton opened #233 "Ability to specify a HTTP proxy in the kamon-newrelic config"
I have been trying to use `kamon-newrelic`, which seems to work fine on my dev box. However, when I deploy the app to our private cloud, it's unable to connect to collector.newrelic.com; as our infrastructure requires the HTTP request to be routed through an HTTP proxy.

When using NewRelic's java agent, you can set the http proxy config in the `newrelic.yml` as follows:

[code]

`kamon-newrelic`

[2015-07-21 15:24] jozic commented on #213
@ivantopo
when do you guys plan to release 0.4.1 with this fix?

[2015-07-21 15:27] ivantopo commented on #213
It should happen really, really soon. I find it weird that not too many people complained, yet 0.4.0 is by far the most downloaded version we have! If possible, please use the snapshot now and then switch to 0.4.1 when it becomes available!

[2015-07-21 15:32] tsukaby commented on #213
I'm also waiting for the next release.
However, we are satisfied with the snapshot for now. (We are used it in production environment. :yum: )

Thank you!

[2015-07-21 15:38] thjaeckle commented on #233
If you start your Java process with the Java HTTP proxy settings, it works (at least for me - here without authentication at the proxy):
[code]
Authentication should also be possible (-Dhttp.proxyUser -Dhttp.proxyPassword).
But this is probably only good for testing purposes as you would not want to add the http proxy for your complete Java program, but just for the newrelic communication.

[2015-07-21 17:56] jozic commented on #213
thanks! I saw similar issue with lots of memory consumed after we started app with Kamon, but did have a chance to verify the exact reason.
Will try snapshot and crossing fingers for the soon release :)

[2015-07-21 18:07] dpsoft commented on #169
related to 56636f31a0ad34e62ff4627a32c28b802e423da2.

[2015-07-21 18:07] #169 closed

[2015-07-22 01:57] sambogoat commented on #226
Closing this ticket as the problematic token propagation across to the map closure is only evident when running in Eclipse. Running the example from the cmd line works as expected.

It is strange that token propagation when running in Eclipse is fine for ask pattern and scala future use-cases but not when mapping a future returned from using ask.

But happy to accept to this not a problem with Kam

[2015-07-22 01:57] #226 closed

[2015-07-22 16:18] zileliao commented on #214
I gave 0.4.0 a quick try. I think it resolved the memory leak problem and I will close this issue.

I tried 2 things:
1. override DefaultNameGenerator to match certain path route with variables into fix route so that
PUT: /v2/user/${userId}/identity becomes PUT: /v2/user/identity. Inserting a traceName into each route is undesirable

2. Able to see kamon-log-report collecting metrics:
[code]

but

[2015-07-22 16:18] #214 closed

[2015-07-23 03:28] dpsoft commented on #121
Some ideas:
- [ ]  Number of Threads used in a EventLoopGroup
- [ ] How many Channels are registered in an EventLoop
- [ ] Execution times for an event loop run
- [ ] Does Selector.select(..) unblock before the timeout is reached
- [ ]  Metrics about operations on the ChannelPipeline
- [ ] Throughput

[2015-07-23 10:01] swapdonkey opened #234 "Split/Allow disabling of system sigar and JVM JMX metrics in system-metrics module"
It would be good to be able to either seperate the System and JVM metrics in the system-metrics module  or allow disabling of either. As Sigar has native binary dependencies which means unecessary dependencies and additonal risk due to sigar for those applications which already have system monitoring and only want JVM monitoring.

[2015-07-23 10:11] swapdonkey opened #235 "system-metrics throws repeated SigarNotImplementedException exceptions on windows 7"
When using the System metrics module in all Kamon versions  on windows 7 the exception below is thrown from Sigar on Kamon 0.4.0 its repeatedly thrown making system-metrics unusable.
It appears the LoadAverageMetrics are not available via Sigar on windows 7.
Could these individual system metrics been made configurable to be turned on/off via config with particular known defaults set?This would fut

[2015-07-27 14:19] magro opened #237 "Play trace name for emulated HEAD requests"
As already stated in [docker-grafana-graphite/#16](https://github.com/kamon-io/docker-grafana-graphite/issues/16#issuecomment-125192083), HEAD requests for that no explicit route is configured are emulated by play by delegating to the related GET request without tagging the request. This is the 2.3.x [`GlobalSettings.onRequestReceived`](https://github.com/playframework/playframework/blob/2.3.x/fra

[2015-07-27 15:12] dpsoft commented on #237
@magro  Maybe overriding the ```onRouteRequest``` in order to find the equivalent GET and in this manner the request should be take the normal flow and must be tagged.
[code]
this implementation was taken from [here]

[here]: https://github.com/reactivemanifesto/website-manifesto/blob/master/app/Global.scala#L22

[2015-07-28 09:17] magro commented on #237
@dpsoft Thanks for the hint! We don't need a quick fix because this is already solved in some other way. Here's the play issue I opened: playframework/playframework/issues/4896

[2015-07-28 13:29] dpsoft commented on #237
@magro Awesome! look forward the updates.

[2015-07-29 17:19] #199 closed

[2015-07-30 14:26] benjumanji opened #238 "Finagle tracing"
Hi!

I'd really like to use kamon with some of the twitter stack tools. I have taken a quick look at the tracing docs and I think to add finagle tracing info to kamon all I really need to do is find a way to convert finagle trace records into TraceInfo objects, and stick them _somewhere_. I can see how I can subscribe to tracing info, I just don't think there is a hook yet where I can feed trace i

[2015-07-30 14:45] ivantopo commented on #238
Hey Benjamin!

Can you explain in a bit more detail what you want to achieve? I'm not very familiar with Finagle, but as far as I know it's tracing capabilities are aligned with the capabilities of Zipkin which goes beyond what we currently have in Kamon... what we do now can be considered as a very lightweight tracing that lacks many of the things you can get from Finagle/Zipkin, like real distri

[2015-07-30 15:28] benjumanji commented on #238
So effectively with a finagle client you have a stack of modules, one of these handles tracing. You can insert your own tracer, and the trait is effectively `trait Tracer(trace: Record)`, where `Record` looks something like a `TraceInfo`. So I was thinking, if you have cool plans to make cool reporting / dashboards or whatnot out of your trace info, it would be nice if I could make a finagle trace

[2015-07-30 15:31] benjumanji commented on #238
It should be noted that zipkin and tracing in finagle are not the same thing. The zipkin project really covers the collection and display of the tracing, but finagle will merrily allow you to send it's trace records anywhere your heart desires.

[2015-07-30 16:03] magro commented on #237
@dpsoft Btw, spray and akka-http set the `request.method` to `GET` for transparent HEAD requests. Not sure how kamon computes the trace name for spray/akka-http, but this might lead to undesired/unexecpted trace names.

[2015-07-30 16:09] ivantopo commented on #237
We used to generate names using the http verb and the url but that is just a recipe for bad things... since 0.4.0 we use a default name of `UnnamedTrace` and the user has to change the trace name to whatever they want either using the traceName directive, providing a name generator or manipulating the TraceContext directly. So, this shouldn't be a problem now :).

[2015-07-30 17:43] jtjeferreira commented on #238
Hi @benjumanji
I would tell you to look at the kamon-spray code, namely the instrumentation and do something similar regarding the creation of the TraceInfo. I guess since you already have a Record you dont need to instrument finagle code with aspectj.

[2015-07-30 18:31] benjumanji commented on #238
@jtjeferreira, thanks for the suggestion! That code isn't too helpful because I don't need kamon's tracing infra, finagle manages that already (including chasing the context across threads). I want to make a trace info object directly with timings from finagle, otherwise I would need to essentially double up the work that has already been doing in implementing generic tracing in finagle.

[2015-07-30 18:33] benjumanji commented on #238
Really what I want is for the trace module to expose the TraceInfo sink to interested clients.

[2015-07-31 13:19] dpsoft commented on #238
@benjumanji I think that i understand that you want is something like :
[code]
it is right?

[2015-07-31 15:47] magro commented on #237
Ok, thanks for the hint @ivantopo! Users probably should be aware of transparent HEAD handling and the request method (GET), maybe it's worth mentioning this in the (kamon) documentation (but I don't have a strong opinion here).

[2015-07-31 18:26] dpsoft commented on #237
@magro We are thinking in take the same approach to avoid the creation of undesired traces, grouping the traces that doesn't are tagged:  `UntaggedTrace`.

[2015-07-31 19:09] benjumanji commented on #238
Yep. Exactly.

[2015-07-31 19:11] benjumanji commented on #238
If you'd be open to such a change, I will spend some time figuring out if the trace records and trace info bits really are compatible (right now I have only done some light source browsing), and probably make a PR to expose that in the trace module.

Thoughts?

[2015-07-31 20:39] magro commented on #237
@dpsoft You mean using UntaggedTraces instead of request method + request uri? Perhaps that's a good idea, the documentation then should explain what might be the cause for this.

[2015-08-01 02:50] dpsoft commented on #238
@ivantopo  what do you think?

[2015-08-01 02:59] dpsoft commented on #237
@magro Yes, instead of request method + request uri the trace name would become in   `UntaggedTraces` and of course explain in the documentation which is the cause of this.

[2015-08-03 07:40] kodemaniak commented on #234
+1

[2015-08-06 11:47] helmbold commented on #202
+1 for better test support

[2015-08-10 03:24] dpsoft opened #239 "Kamon Traces and Transparent HEAD handling"

[2015-08-10 03:25] dpsoft commented on #237
related to #239

[2015-08-10 03:32] dpsoft commented on #237
In order to avoid the creation of undesired traces we will grouping the traces that doesn't are tagged as  `UntaggedTraces`.  We must document this behavior, for this we just open a new issue #239

[2015-08-10 03:32] #237 closed

[2015-08-10 03:59] dpsoft commented on #234
We introduce two new options in ***system-metrics*** module in order to allow disabling both jmx and sigar:

By default the values are true.

**sigar-enabled = true|false**
**jmx-enabled = true|false**

Cheers.

[2015-08-10 04:01] #234 closed

[2015-08-10 04:20] dpsoft commented on #225
merged to master c80f51c7bb98c1a42c04df11ba40cd301018c839

[2015-08-10 04:20] #225 closed

[2015-08-11 04:30] #235 closed

[2015-08-11 17:22] #239 closed

[2015-08-12 01:30] mwz commented on #224
Hi @kailuowang, have you found any issues with 0.4.0 and 2.4-M2 so far?

[2015-08-12 01:32] kailuowang commented on #224
No, haven't noticed any.

[2015-08-13 21:14] dodnert commented on #213
FYI - My project was impacted by this issue as well. Using version `0.4.1-2ce80225a5ae4d0ed7ba53be1ebe0734d4e4bca6`, the problem was resolved.

[2015-08-14 02:16] dpsoft commented on #183
@osbornk,  Guys, we have been worked in a sbt plugin that allow perform LTW in sbt and we will be able to do  run in development mode in play seamlessly. [sbt-aspectj-runner]. Enjoy!!!!!

[sbt-aspectj-runner]: https://github.com/kamon-io/sbt-aspectj-runner

[2015-08-14 02:16] #183 closed

[2015-08-14 02:19] dpsoft commented on #94
@magro @justjoheinz,  Guys we have been worked in a sbt plugin that allow perform LTW in sbt and we will be able to do run in development mode in play seamlessly. sbt-aspectj-runner. Enjoy!!!!!

[2015-08-14 07:39] magro commented on #94
Great, thanks!

[2015-08-17 15:31] #177 closed

[2015-08-19 12:15] tferi opened #243 "Toggling per-process and per-host metrics separately in configuration"
The system-metrics module provides useful metrics, but if `n` monitored application instances are running on a host, the host metrics are duplicated `n`-fold. It would be nice to allow enabling per-process and per-host metrics separately.

I'd like to keep the per-process metrics enabled in all applications, but collecting and dispatching the rest  in all apps is a waste of CPU cycles and I/O.
I d

[2015-08-21 19:19] gmalouf commented on #202
I assume this is not in the 0.5 version that was releases recently?

[2015-08-23 13:31] dpsoft opened #247 "Generalize ThreadPoolExecutors metrics"

[2015-08-24 11:37] ivantopo opened #248 "Improve Kamon tooling for tests, continuation of #202"
The core of this issue is the problem described in #202, that was already been somehow addressed with 026d7ae4ea90a5de74ecb91f9ebdd297f6987cb2 but still, I'm pretty sure we can do something better. Any feedback and ideas to improve test support should be tracked here.

[2015-08-24 11:39] ivantopo commented on #202
Folks, the changes introduced by 026d7ae4ea90a5de74ecb91f9ebdd297f6987cb2 have already been merged to master and will go out with Kamon 0.5.1 that should be published this weekend. I opened a new issue to track improvements over the current solution as it is obviously less than ideal, please head to #248 to leave comments and feedback!

[2015-08-24 11:39] #202 closed

[2015-08-24 12:38] ivantopo commented on #202
@gmalouf no, it didn't but 0.5.1 is going to be out pretty soon, stay tuned!

[2015-08-24 12:55] ivantopo opened #249 "Create a "traditional" StatsD protocol implementation"
Our current implementation makes use of all the hacks available in the StatsD protocol to pack as much data as possible into the same UDP packet, this is really cool in the sense that it significantly reduces the network bandwidth usage while still reporting all the data we have but when a packet gets lost then the information that reaches StatsD is usually skewed and too inaccurate. I see two pos

[2015-08-24 23:06] barnone opened #250 "Version 0.5.0 Only - kamon/util/GlobPathFilter : Unsupported major.minor version 52.0"
Exact same problem as issue #168 that was resolved for 0.4.0 but appearing with with 0.5.0 release only.
If I downgrade to 0.4.0 the problem goes away.
Using scala 2.11.6 and java 1.7.0_65-b17

[2015-08-25 02:53] dpsoft opened #251 "kamon-docker"
we can start with four key metrics:
*    CPU Usage
*    Memory Usage
*    Network I/O
*    Disk Utilization

[2015-08-25 10:04] ivantopo opened #252 "provide proper support for Akka's Stash functionality"
Taken from this thread: https://groups.google.com/forum/#!topic/kamon-user/yHxDGPHf3YM

I just realized that you will get some sort of unexpected metrics when messages are stashed: When a message arrives for the first time it is measured as any normal message would, meaning that the time-in-mailbox and processing-time metrics are recorded. If the message is stashed then the whole Envelope is kept

[2015-08-25 10:20] ivantopo commented on #250
Yeah, sorry about that... it has already been corrected by 1577aa9addb6c79d01f7261915b9e33b0c01fcd9 and 0.5.1 will have artifacts targeting Java 1.6 as we did before... In the meantime, we just published `0.5.1-3f0eaed8f0ac62057a9f515c62540f237cfd6c6e` in our snapshots repository, can you please give it a try and ensure that all is working as expected?

[2015-08-25 10:20] #250 closed

[2015-08-25 14:37] barnone commented on #250
Works...thanks!
I'm looking forward to using 0.5.1 as it solves a number of issues we have and we cannot use snapshots for our releases.

[2015-08-25 14:50] ivantopo commented on #250
Cool, 0.5.1 will be out this weekend so the wait wont be too long :)

[2015-08-27 02:40] #247 closed

[2015-08-28 01:25] #160 closed

[2015-08-28 01:32] dpsoft commented on #211
the damon system-metrics module was redesigned in 0.4.0 we will assume that this error was fixed.

[2015-08-28 01:32] #211 closed

[2015-08-28 01:49] dpsoft commented on #193
@SBozhko we will proceed to close this issue.

[2015-08-28 01:49] #193 closed

[2015-09-01 08:56] ivantopo opened #253 "newrelic: match error when segments are not http-client"
[ERROR] [08/27/2015 14:55:01.581] [kamon-akka.actor.default-dispatcher-8] [akka://kamon/user/newrelic-agent/metric-reporter] (Entity(searchDestinations,trace-segment,Map(trace -> v1/entities/suggest?tenant=UNKNOWN, category -> database, library -> search-lib)),kamon.metric.DefaultEntitySnapshot@6b7d7d19) (of class scala.Tuple2)
scala.MatchError: (Entity(searchDestinations,trace-segment,Map(trace -

[2015-09-01 09:07] #253 closed

[2015-09-01 09:10] ivantopo commented on #253
Snapshot version published with this fix: `0.5.2-6e07de4432c587a10c2ee27a5289898c722d0078`

[2015-09-07 14:01] cheekychops opened #254 "NullPointerException in kamon-akka when no supervisorStrategy defined"
The following exception can be thrown when no supervisorStrategy is declared in an Actor:

[code]

[2015-09-07 14:04] ivantopo commented on #254
and, what was the actor doing when this happened? do you know of any way to reproduce the issue?

[2015-09-07 14:30] cheekychops commented on #254
The exception seems to be logged each time one of the Actor's children stops

[2015-09-08 07:52] cheekychops commented on #254
Apologies, this turned out to be a local build issue, the problem went away after a full rebuild.

[2015-09-08 07:52] #254 closed

[2015-09-10 17:03] cheekychops opened #255 "Support the use of multiple names for a New Relic app"
New Relic supports up to 3 names for an app, as documented here:

https://docs.newrelic.com/docs/apm/new-relic-apm/installation-configuration/use-multiple-names-app

It would be nice if kamon-newrelic also supported this, so that aggregation is possible.

[2015-09-11 05:40] jozic commented on #249
@ivantopo
could you please check this commit in my repo
https://github.com/jozic/Kamon/commit/1f7816ac59b1b1096e22968cbb202de935be15d0 ?
and tell me if that would be a good/bad way to
- support custom stasd senders (like the one i was talking in gitter channel)
- help to fix or just fix this issue

it's still WIP and i can add some docs and tests. right now i'm mostly interested in feedback regard

[2015-09-15 01:51] andsoneat opened #257 "kamon-akka-remote with akka-2.4.0-RC2 has some problem"
I tried to use kamon(0.5.1) with akka-2.4.0-RC2(including cluster-sharding) and experienced some problem.

First node of cluster worked fine. But Other nodes failed to join to cluster with Exception below.

------------------------------------------------------------------------------------------------------------------------------
ERROR akka.actor.ActorSystemImpl - Uncaught error from thread [act

[2015-09-15 16:37] jozic commented on #249
@ivantopo have you had a chance to check it out?

[2015-09-18 10:54] tabdulradi commented on #232
I am hitting same issue. I am sure I am recording positive values.

[2015-09-20 16:03] shadeeka commented on #222
Hi all,
I am getting the same issue no actor metrics coming only the system metrics working
i am using kamon 0.5.1

val kamonVersion = "0.5.1"

 "io.kamon"    %% "kamon-core"           % kamonVersion,
  "io.kamon"    %% "kamon-statsd"         % kamonVersion,
  "io.kamon" %% "kamon-play-23" % kamonVersion,
  "io.kamon"    %% "kamon-log-reporter"   % kamonVersion,
  "io.kamon"    %% "kamon-system-me

[2015-09-20 17:35] hepin1989 commented on #222
really？I do not have actor metric too with akka 2.4 rc2

[2015-09-20 18:05] dpsoft commented on #222
Shadeeka,

how you are running the application? in this manner?

bin/myapp.sh -J-javaagent:/myapp/lib/org.aspectj.aspectjweaver-1.8.5.jar

also i don't see kamon-akka in your dependencies.

which output show the console reporter?

cheers,

Diego

On Sun, Sep 20, 2015 at 2:36 PM, kerr <notifications@github.com> wrote:

[2015-09-20 18:09] dpsoft commented on #222
Hi kerr,

how are you packaging the application? you are using sbt-native-packager?

cheers,

Diego

On Sun, Sep 20, 2015 at 3:05 PM, Diego Parra <diegolparra@gmail.com> wrote:

[2015-09-20 18:15] hepin1989 commented on #222
@dpsoft  yes,I have add the wave thing to the packge build.sbt,and i have debug the shell output too,I have reported that at the gitter,but seems you are offline that time.
I think everything I configurated ia dine,but it just not work for the actor side.

btw，thanks for the docker image and kamon,works so great。

[2015-09-20 18:22] dpsoft commented on #222
kerr,

I will build a simple akka application with kamon and sbt-packager in order
to understand the issue, give me some minutes and i will be back with
something.

On Sun, Sep 20, 2015 at 3:15 PM, kerr <notifications@github.com> wrote:

[2015-09-20 19:04] dpsoft commented on #222
Kerr,

I' ve attached a simple akka example that contains kamon and sbt-native
packager and I could make it work in the following manner:

1. running  sbt stage
2. using the script generated ./ping-pong-example
*-J-javaagent:path-to-aspectjweaver.jar*
3. you should see something like this output indicating that the actor
metrics are running.

+------------------------------------------------------

[2015-09-23 02:01] shadeeka commented on #222
Sorry for the late reply,
 as dpsoft said i have missed the kamon-akk in my dependencies. now i have added it. but still its same.
and for the aspectj i have added sbt-aspectj-runner in here
 https://github.com/kamon-io/sbt-aspectj-runner/tree/master/examples/kamon-play/project
It seems aspectj is running ok. and the output i got as follows. still no akka actor logs. I got only followings

![logs]

[2015-09-25 10:39] cheekychops opened #259 "Error when disabling auto-start of a module"
This error occurred when i defined the system property kamon.modules.kamon-newrelic.auto-start=false and the kamon-newrelic jar wasn't on the classpath:

Cause: com.typesafe.config.ConfigException$Missing: No configuration setting found for key 'extension-id'
  at com.typesafe.config.impl.SimpleConfig.findKey(SimpleConfig.java:124)
  at com.typesafe.config.impl.SimpleConfig.find(SimpleConfig.java:

[2015-09-25 11:25] dpsoft commented on #222
@shadeeka how are you runnin the application? using aspectj-runner:run?

[2015-09-25 11:33] shadeeka commented on #222
Yes.
I am using   " activator aspectj-runner:run" command to run my application.

[2015-09-25 12:26] dpsoft commented on #222
You can share the application.conf?. Are you using play 2.4 or 2.3?

[2015-09-25 14:45] shadeeka commented on #222
I am using play 2.3
Here is the application.conf

# This is the main configuration file for the application.

application.secret="YylNKRoqT@8VgtF[m3sX@fkn/=g4PM9nNTLkRC[KtJ_kLJX8_Gul_91K`j2S2>I>"
application.langs="en"
jvm.memory= "-Xmx2g -Xms1g"
logger.root=ERROR

# Logger used by the framework:
logger.play=INFO

# Logger provided to your application:
logger.application=DEBUG

redis.uri="redis://

[2015-09-25 16:00] dpsoft commented on #222
@shadeeka
[code]
the extensions block is not  necessary from kamon 0.4.x.

kamon {
   ` metric.filters `{
     tick-interval = 5 second
     akka-actor {
     includes = ["**"]
    }
    akka-router {
      includes = ["**"]
    }
    akka-dispatcher {
      includes = ["akka.actor.default-dispatcher"]
    }
  }

pay attention in the highlighted line.(more info in the [docs])

[docs]: http://kamon

[2015-09-25 16:08] shadeeka commented on #222
got it .. will try without extensions
 thanks @dpsoft

[2015-09-25 18:00] joshlemer commented on #232
I am having the same issue, using Java8. Here's the stack trace
[ERROR] [09/25/2015 10:58:56.721] [kamon-akka.actor.default-dispatcher-3] [TaskInvocation] Histogram recorded value cannot be negative.
java.lang.ArrayIndexOutOfBoundsException: Histogram recorded value cannot be negative.
        at org.HdrHistogram.AbstractHistogram.countsArrayIndex(AbstractHistogram.java:1944)
        at org.HdrHis

[2015-09-28 13:27] ivantopo commented on #232
I am thinking on this issue now and sadly there doesn't seem to be too much that we can do in the case of a failing gauge because as you can see in the code, there is no information at all to tell you which gauge is failing. But I see two things that we can do to improve this situation:

- catch the exception! All in all, Kamon is a monitoring tool and we shouldn't let a problem with a single meas

[2015-09-28 13:37] ivantopo opened #261 "provide metrics about kamon internals"
Not a fixed list at the moment, but I currently think of:
- number of registered entitites, maybe also discern between categories.
- number of instruments, possibly including the amount of memory used by the HDR histograms we have
- number of recording errors. There are two different errors here: trying to record a value <0 as described in #232 and trying to record something that goes over the hig

[2015-09-30 12:51] eiennohito commented on #257
One more instance of this problem.

[2015-09-30 20:09] #255 closed

[2015-10-05 22:19] gxbe opened #265 "Web support for Undertow seems missing :("
I am in love with (HDR) Histogram but I want to support Wildfly.  If you look you will see Undertow is dominating the HTTP server benchmarks, at least for the JVM, so I am just wanting to recommend that it might be a good candidate for Web/HTTP support in future versions of Kamon.

http://www.techempower.com/benchmarks/#section=data-r10&hw=peak&test=json

[2015-10-06 01:40] dpsoft commented on #265
Hi @gxbe to be honest, I dont have experience with Undertow, but I think is posible with a simple approach how to create a [Handler] in order to capture some [Metrics] and create a [Trace] with the incoming requests with the Kamon API. Also you can take a look [here] in order to show a complete example.

[Handler]: https://github.com/undertow-io/undertow/blob/master/core/src/main/java/io/undertow/

[2015-10-06 15:22] onexdrk commented on #257
+1

[2015-10-06 21:34] gxbe commented on #265
Thanks I appreciate the help.  I think you're right it seems I should be able to instrument that class just by making a couple of method calls.  If I end up going this route then I'll submit a pull request.

[2015-10-07 09:33] Tolsi commented on #257
+1

[2015-10-07 19:22] jozic commented on #249
@ivantopo @dpsoft any progress on this front?

[2015-10-07 20:24] kailuowang commented on #257
This happens on 2.4.0 RC2, 2.4.0 RC3 and 2.4.0

[2015-10-08 13:54] jozic opened #266 "allow to have dots '.' in statsd keys"
default key normalization strategy in kamon replaces dots (`.`) with underscores (`_`). But dot is special if you use statsd with graphite. And sometimes it may be desired to have dots in your keys.

To my understanding original problem with dots was host names and/or some akka actor/dispatcher names (which can have dots). So not replacing dots there can cause another problem.

The possible soluti

[2015-10-08 15:00] cheekychops commented on #155
+1

[2015-10-09 09:01] cheekychops commented on #155
I have created a patch for this in my fork, if you like it I'll create a PR.

https://github.com/cheekychops/Kamon/commit/7ae2b4c540edce05d0ad8064e5ba5dcecfaab1f1

[2015-10-09 12:33] dpsoft commented on #155
@cheekychops yes please!!!

[2015-10-11 20:59] dpsoft commented on #249
@jozic sorry for the late response :(. I've reviewed the WIP and I think that the taken approach is right, please go ahead. @ivantopo WDYT?

[2015-10-14 04:40] jozic commented on #249
great. thanks @dpsoft
I will continue moving this direction. Please let me know if something changes.

[2015-10-21 23:03] ivantopo commented on #155
This issue was fixed by #268.. The snapshot version `0.5.3-ccb049c07fc28d25f389be72a242240fec1881a3` is on its way to our snapshots repo, please test it and report if you find any issues!

[2015-10-21 23:03] #155 closed

[2015-10-21 23:13] ivantopo commented on #266
hey @jozic! I do see what you mean here and certainly, when the only backend you are using is the StatsD module or if maybe you are using Kamon as a replacement for another StatsD client, then having dots in entity names becomes a more natural or even necessary thing to do.

As you said, hostnames and dispatcher names are the most common cases of "undesired" dots in a metric name, as it will shift

[2015-10-21 23:59] ivantopo commented on #259
Hey @cheekychops! The problem here is that Kamon always expects that any key under `kamon.modules.*` will have all "module definition" keys on it, as shown here: https://github.com/kamon-io/Kamon/blob/master/kamon-newrelic/src/main/resources/reference.conf#L42

We wanted people to be able to add reporters mostly by just adding the dependency to the classpath and configuring whatever that is necess

[2015-10-21 23:59] #259 closed

[2015-10-22 03:44] jozic commented on #266
you are right @ivantopo, we do use custom generator. But i created this issue so that people can just use some existing solution instead of rolling out their own. In other words, it's a `nice to have` feature

[2015-10-22 04:16] jozic commented on #259
Hey @ivantopo,
i kind of have similar case where i want to have some modules disabled, let's say for production mode

if i just remove dependency this will do, but if somehow it gets in classpath, then it will be started automatically, which i want to prevent with just
`kamon.modules.log-reporter.auto-start = no` in my config file.

As far as i understand, an easy fix would be to do
[code]
instead

[2015-10-22 22:34] ivantopo opened #271 "balancing pool router shows incorrect time-in-mailbox and mailbox-size metrics"
See this: https://groups.google.com/forum/#!topic/kamon-user/smJF_FUAy4M

[2015-10-23 02:16] dpsoft opened #272 "Finalize AvailableToMDC related documentation"

[2015-10-23 02:17] dpsoft commented on #272
http://kamon.io/integrations/logback/mdc-in-an-asyncronous-environment/

[2015-10-23 06:47] macobo opened #273 "Multiple tags with same name"
One of the (great) features that datadog has is that a single metric can have a multiple tags with the same key.

Example from: http://docs.datadoghq.com/guides/tagging/#assigning-tags-using-the-configuration-files

[code]

Can this be added to Kamon?

I'm not sure how to implement this without breaking the API as this would require a `MultiMap` to be used for tags.

[2015-10-23 22:34] #109 closed

[2015-10-26 12:12] cheekychops opened #274 "kamon-newrelic: per-request actor metrics can swamp new relic"
The current mechanism for enabling actor metrics is fine for singleton actors, but when per-request actors are used they generate a unique set of metrics for each instance, which quickly becomes unmanageable in new relic.

There should be a way of identifying per-request actors and normalizing their names so only one of each type is reported to new relic. Ideally I would like to be able to specify

[2015-10-27 10:45] raboof commented on #224
Kamon 0.5.2 (and master) still list akka 2.3 as the dependency - are you intending to upgrade?

[2015-10-27 11:20] ivantopo commented on #224
Yes of course we plan to upgrade! as far as we know, akka-actor works just fine with the current Kamon version, but there are some issues related to akka-remote that we need to take care of before upgrading.

[2015-10-27 11:38] ivantopo commented on #274
hey @cheekychops! have you seen the actor metrics issue? #101... when we have that ready, you could specify patterns that define an actor-group, probably based on a path pattern first.. but the option of doing it by-class could be there as I heard quite a few people wanted it to be done on a by-class basis.

Once #101 is fixed this will automatically be fixed as well :).

[2015-10-28 12:50] ivantopo commented on #259
hey @jozic! The thing here is that the `requires-aspectj` __has__ to be present for every module we have because that is what feeds the "AspectJ Weaver missing warning" thing that we have upon Kamon's startup. As a example, the `kamon-scala` module requires aspectj, but it does not have anything to be started so `auto-start` is false and `extension-id` is irrelevant for that module, but still we a

[2015-10-28 14:30] jozic commented on #259
sure, take your time

my understanding was that extension can be in classpath, but by setting  `auto-start` to false you can disable it fully (no instrumentation happens by any means). And if i disable it, chances are i don't care about aspectj warning for this extension any more. Other extensions which require iaspectj will issue the warning. If no other extensions need it, still good, as i disab

[2015-10-29 08:40] cheekychops commented on #101
The problem with actor name patterns (as currently implemented) is that they will not catch any new per-request actors that may be added to the system under different paths. This is a major concern for us as I don't expect every developer who adds an actor to the system to understand the details of what might break new relic! I would also like our Kamon config to be fairly static, and not have to

[2015-10-30 17:23] dpsoft opened #277 "update kamon-newrelic related documentation"

[2015-10-30 17:25] dpsoft commented on #277
https://github.com/kamon-io/Kamon/pull/228

[2015-11-03 15:40] cheekychops opened #278 "newrelic: Possible NPE when errors are logged without New Relic Agent"
The NewRelicErrorLogger relies on the services of the New Relic Agent to send errors to New Relic. If this Agent isn't started then a NullPointerException can occur on this line:

[code]

It would be better if this situation was detected and a warning logged.

[2015-11-04 22:56] #278 closed

[2015-11-06 12:25] dpsoft opened #281 "Add ExecutorsMetrics related documentation"
https://github.com/kamon-io/Kamon/blob/master/kamon-core/src/test/scala/kamon/util/executors/ExecutorServiceMetricsSpec.scala

[2015-11-06 22:50] bthibault opened #282 "aop.xml problems with sbtassembly"
Hi , I saw issue #59

and the referenced gist doesn't work for me.

is there an exact instructional on what needs to happen to get sbtassembly. I know basically the barebones of sbt . I can dependencies...

[2015-11-09 14:31] mirkof opened #283 "java.lang.UnsatisfiedLinkError: org.hyperic.sigar.Sigar.getNativeVersion()Ljava/lang/String"
Hello :)

I'm getting this error every second time I start sbt.
This happens when I run tests.
Not sure why is this happening...

The stacktrace:
[code]

[2015-11-12 09:40] thjaeckle commented on #232
I am also facing this issue. In my case it has something to do with "kamon-system-metics":
[code]
Don't know how the CPU metrics should be negative, but this is the case :)

[2015-11-13 09:06] davidduus commented on #257
+1

[2015-11-13 09:07] pawelkaczor commented on #257
+1

[2015-11-13 18:17] macobo opened #284 "HdrHistogram OutOfBoundsException"
This has been reported before: #211, but it has since been closed - I've since encountered the same issue ,multiple times using version `0.5.1`.

I have several binaries running all the same code, but some of them rarely stuck in the following error loop (one log line per second or so):

Full stack trace:

[code]

[2015-11-15 18:28] hiloboy0119 commented on #271
I've encountered this issue as well.  I am using statsd with an elastic search plugin and with debug on, I see highly duplicated output that looks like this:
[code]

[2015-11-16 15:54] tobiaseriksson opened #285 "Bug with Kamon and SPRAY and async/await, Context lost !!!"
The following code results in a lost context/token

[code]

The output looks like this

[code]

As can be seen the second logger output does not have the correct KANMON Context and thus this must be a bug.

In fact commenting out the await code and replacing with a JSON object like this will make it work

[code]

And as can be seen the output is now correct

[code]

So why?
Is this a known problem

[2015-11-17 10:26] htimur commented on #284
+1 here, have the same exception, using version 0.5.1

[2015-11-17 11:59] jsuchenia opened #286 "NewRelic sensitive data"
There is a missing switch that newrelic is publishing data without sensitive information.
My project is using it and NewRelic sensor is discarding an update from kmon

[2015-11-18 16:43] ivantopo commented on #286
Hello there! I don't really understand what the problem is, can you please elaborate a bit more on what is expected to happen and what is happening?

[2015-11-20 09:13] swachter commented on #232
Looking at the code of ProcessCpuMetrics it seems to me that in fact there can occur negative numbers:

[code]

The value of ```systemDiff``` and ```systemPercent``` can be negative. I assume that simply taking the absolute value would fix that problem. (I am not so deep into the details.)

[2015-11-20 20:52] kennethleider opened #287 "akka-router metrics in LogReporter"
After wondering what I could not get the akk-router filter configured correctly,  I looked through the LogReporter source code, and determined that it is not configured to subscribe to or report on metrics with a category of "akka-router"

[2015-11-22 10:05] agemooij commented on #224
Hi guys. Any update on this issue?

We would like to use Kamon with Akka 2.4 and Spray 1.3.3, which already has an outdated dependency on Akka 2.3.x which our build replaces with a 2.4 dependency. So for now we would already be very happy with a list of known problems when running Kamon against Akka 2.4 so we can base our decisions on that.

[2015-11-24 08:02] kodemaniak commented on #257
+1

The same with the Akka 2.4.0 release and Kamon 0.5.2.

[2015-11-25 02:58] #142 closed

[2015-11-25 03:00] #251 closed

[2015-11-25 03:01] dpsoft commented on #251
this is related to [Domino](https://github.com/kamon-io/domino)

[2015-11-25 03:02] #73 closed

[2015-11-25 03:02] dpsoft commented on #73
out of date

[2015-11-25 03:49] dpsoft commented on #248
related to commit a49f4138630a459ca7bf7309f114cdfcbbda2598

[2015-11-25 03:49] #248 closed

[2015-11-25 11:38] magro commented on #121
In our loadtests we saw quite high response times (1 - 10 sec) in the proxy (nginx) for some kinds of requests, while kamon-play reports 100 - 200 millis for the related routes. Therefore we wonder, if there's some limitation in netty causing these higher response times. It would be great to have some metrics as near to the networking stack as possible. Just dropping this here, as I'm not sure whi

[2015-11-25 11:59] manub opened #289 "track-unmatched-entities doesn't work with Akka module"
Steps to reproduce:
- Add `kamon-akka` to your application
- Don't provide `metric.filters`
- Don't override `track-unmatched-entities` (this is set to `yes` by the core `reference.conf`
- Create an `ActorSystem` after starting Kamon
- Check your log-reporter.

The ActorSystem doesn't get monitored, although it seems it should be as unmatched entities should be tracked.

As per conversation with @

[2015-11-25 15:48] ivantopo opened #290 "error thrown in dispatcher instrumentation when using custom dispatchers"
see this: https://groups.google.com/forum/#!topic/kamon-user/Il0qjmoqVtk

[2015-11-25 15:57] ivantopo commented on #285
Hello Tobias, this certainly is not a known issue. What I find more interesting is that in the first case you are getting both your custom trace and the automatically generated trace from the spray instrumentation... I think that it shouldn't even be necessary to have the nested `Tracer.withContext {...}` that you are using there, as the Future instrumentation should already take care of carrying

[2015-11-26 03:12] dpsoft opened #291 "Histogram recorded value cannot be negative in ProcessCpuMetrics"
[ERROR] [11/12/2015 10:39:26.403] [kamon-akka.actor.default-dispatcher-8] [akka://kamon/user/kamon-system-metrics/sigar-metrics-recorder] Histogram recorded value cannot be negative.
java.lang.ArrayIndexOutOfBoundsException: Histogram recorded value cannot be negative.
    at org.HdrHistogram.AbstractHistogram.countsArrayIndex(AbstractHistogram.java:2068)
    at org.HdrHistogram.AbstractHistogram.

[2015-11-26 03:13] dpsoft commented on #291
Looking at the code of ProcessCpuMetrics it seems to me that in fact there can occur negative numbers:
[code]

[2015-11-26 03:50] #291 closed

[2015-11-27 17:46] #290 closed

[2015-11-27 17:58] #46 closed

[2015-11-27 20:23] #224 closed

[2015-11-29 04:26] dpsoft commented on #18
aspectj 1.8.7 introduct Dynamic weaver attachment:

The AspectJ loadtime weaving agent can now be dynamically attached to a JVM after it has started (you don't need to use -javaagent). This offers extra flexibility but obviously any classes loaded before attachment will not be woven.

https://eclipse.org/aspectj/doc/released/README-187.html

[2015-11-30 09:34] raboof commented on #224
I see the kamon-java8 branch at https://github.com/kamon-io/Kamon/tree/kamon-java8 is now on akka 2.4.1 - cool!

This issue is now closed - where can I track the status of this branch? Do we expect it in a release some time?

[2015-11-30 09:55] nodefactory-bk commented on #257
Also doesn't work with akka 2.4.1, kamon 0.5.2

[2015-11-30 10:17] raboof commented on #257
See also #224 and the https://github.com/kamon-io/Kamon/tree/kamon-java8 branch

[2015-11-30 11:25] dpsoft commented on #257
related to #224

[2015-11-30 11:25] #257 closed

[2015-12-01 02:42] dpsoft opened #293 "Avoid updating the totalCount on our histograms."

[2015-12-01 02:50] #293 closed

[2015-12-01 03:05] dpsoft commented on #224
hey @agemooij  @kailuowang  @mwz @raboof! 0.6.0 will come out soon we are working on some changes in the akka instrumentation that is more like a huge rewrite once these changes are done we will publish snapshots for people to try it out and make sure it works nice and then publish, we also have bugfixes and improvements, the statsd module has been practically rewritten, new fluentd module, jmx mo

[2015-12-01 10:28] agemooij commented on #224
@dpsoft thanks for the update!

**Side question inspired by the 0.6.0 news**: we are just starting work on a Prometheus exporter. Prometheus likes to pull metrics instead of having them pushed so we're exposing a Spray `/metrics` route and we're caching tick snapshots internally until Prometheus comes calling again. Any interest in making such a thing part of Kamon or is this better kept outside a

[2015-12-02 11:05] ShakhoVW opened #295 "Kamon StackOverflowError shutting down JVM"
Hi! Can somebody help me with this Kamon error:

[code]
My config:

[code]

This is actor wrapper to send custom metrics to Riemann
Deps:
[code]
PS: I know about jvm-exit-on-fatal-error = off option, but I need a solution to avoid this error

[2015-12-02 18:19] dpsoft commented on #295
@ShakhoVW you can change the kamon version to  0.5.2 and check if the error persist?

[2015-12-03 09:30] ShakhoVW commented on #295
@dpsoft Thanks, I'll try
"kamon-riemann" - Kamon extension for collect & send metrics to riemann.io

[2015-12-03 12:53] dpsoft commented on #295
@ShakhoVW cool!!  private repo?

[2015-12-04 08:57] ShakhoVW commented on #295
@dpsoft yeah, but I might share it
btw load test hasn't fallen with exception above

[2015-12-04 17:02] #295 closed

[2015-12-05 13:40] #77 closed

[2015-12-05 22:52] dpsoft commented on #295
@ShakhoVW They are planning to open to the community? I think that can be really usefull. @thjaeckle are you interested?

[2015-12-09 16:46] dpsoft commented on #18
closed by #296

[2015-12-09 16:46] #18 closed

[2015-12-09 17:28] dpsoft commented on #224
@agemooij sorry for the late response, I think that the exporter is more related with Prometheus than with kamon and maybe is  better kept outside as a contrib module. but @ivantopo WDYT?

BTW: the repo is private?

[2015-12-09 18:58] ivantopo commented on #224
I also think that keeping separate! We could definitely host it under the kamon-io organization and include it's documentation on our website, that would be awesome! but definitely as a separate project.

As a side note, I have been thinking a lot about even taking most of the core modules out into their own repositories! Each module evolves differently and trying to carry everything into a single

[2015-12-10 03:22] dpsoft commented on #224
@agemooij the extension is this: https://github.com/MonsantoCo/kamon-prometheus

[2015-12-13 20:40] agemooij commented on #224
That's not ours, but thanks for pointing out that is has finally gone open source on Github :smile:

We knew such a thing existed but that epo was private until very recently. We are analyzing it now.

[2015-12-17 11:04] Tenchi2xh opened #297 "Class loading metrics should have no unit in kamon-system-metrics"
The class loading metrics are wrongfully reported as being in bytes, but in reality they express a number of classes, so it should be declared as `UnitOfMeaurement.Unknown`

Relevant code: https://github.com/kamon-io/Kamon/blob/master/kamon-system-metrics/src/main/scala/kamon/system/jmx/ClassLoadingMetrics.scala#L31

[2015-12-17 17:27] #297 closed

[2015-12-17 17:30] dpsoft commented on #297
@Tenchi2xh thanks for reporting this!!!

[2015-12-17 18:15] Tenchi2xh commented on #297
@dpsoft You're welcome!

[2015-12-22 12:36] mirkof commented on #283
Sigar is trying to read system metrics while you are testing.
In our case, we "disabled" Kamon for unit and integration tests. because these metrics we can ignore.
we created `application.test.conf` included default `application.conf` and overwritten Kamon settings with these:
[code]

I hope this helps! :)

[2015-12-22 12:50] #283 closed

[2015-12-22 13:18] dpsoft commented on #283
@mirkof thanks for sharing!!!

[2015-12-24 15:30] #111 closed

[2016-01-05 11:28] bekiroguz commented on #219
Hi Lukazs,
could you be able to find a way to fix/workaround this issue in your case? It seems this bug report has no popularity but I also face a similar problem.
- Bekir

[2016-01-05 11:55] LukaszMarchewka commented on #219
Hi Bekir,
It is probably bug in akka, I have reported the same bug there: https://github.com/akka/akka/issues/17748 but without solution too.

I have fixed it by running statsD on local machine instead of on remote. I don't know if it's good solution but after that I haven't seen it any more.

[2016-01-07 22:29] briantopping commented on #160
@jeffrey-aguilera: I found this because I am also working to send requests across the wire like this. Do you have any example code up?

[2016-01-07 23:57] dpsoft commented on #160
@briantopping you can try with this snapshot version:0.6.0-a9d5c5c61f7e5e189bf67baee2b13e21ebbaaf73 that fixes the issue.

[2016-01-08 02:32] briantopping commented on #160
Hi @dpsoft, thanks for the note, didn't realize I wasn't on akka/akka, oops! Was referring to Akka-HTTP, but am looking forward to using Kamon!

[2016-01-08 16:47] trobert opened #300 "Match error with auto-start=false"
(On branch java8)
Kamon crash when I start with the following config `kamon. modules.kamon-system-metrics.auto-start = false`

[code]

[2016-01-09 22:43] dpsoft commented on #300
related to #302

[2016-01-09 22:43] #300 closed

[2016-01-13 10:02] htimur commented on #284
I'm still getting the exception, running kamon ``0.5.2``

[code]

[2016-01-13 15:25] htch opened #303 "JRE fatal error when running several apps using kamon simultaneously on ubuntu"
Not sure if it is a bug or just a misconfiguration, and whether it is a bug with kamon or with sigar (maybe). I put together a [test project](https://github.com/htch/kamon_test) for everyone interested to be able to reproduce this issue. You can see versions of scala, akka, kamon and other libraries in the repo, as well as an example of JRE error dump. Interestingly, this bug appears on ubuntu, bu

[2016-01-14 11:14] dpsoft commented on #303
@htch thanks for reporting this isssue, I was able to reproduce de issue in fedora, sounds like an issue with the Sigar library but we need time to research the source.

[2016-01-21 12:27] sergiotudela opened #307 "Kamon Autoweave - AgentLoader doesn't attach Mac JVM properly"
Hi guys,

#### Environment
* OS: `Mac OS El Capitan`
* JRE: `1.8.0_51`
* Kamon Core: `0.6.0-a9d5c5c61f7e5e189bf67baee2b13e21ebbaaf73`
* Kamon Autoweave: `0.6.0-a9d5c5c61f7e5e189bf67baee2b13e21ebbaaf73`

#### Details
https://groups.google.com/d/msg/kamon-user/6z1A9J4gFeo/6Xnyfg_JDQAJ

#### Summary
Basically `AgentLoader` fails when try to attach the `JVM` when the platform is `Mac OS` https://githu

[2016-01-21 12:31] sergiotudela commented on #307
Can you take a look to my changes? and then PR.

[2016-01-21 13:03] dpsoft commented on #307
@sergiotudela awesome!!! please make a PR and sign our [CLA] and we are good to go.

[CLA]:https://docs.google.com/forms/d/1G_IDrBTFzOMwHvhxfKRBwNtpRelSa_MZ6jecH8lpTlc/viewform

[2016-01-21 13:31] sergiotudela commented on #307
@dpsoft Signed and PRd.

[2016-01-21 14:30] sergiotudela commented on #307
More details about this issue,

`BsdVirtualMachine` class has defined the constructor in this way:

[code]

As you can see, the constructor doesn't have the `modifier` (public, protected or private), that means `AgentLoader` can not instance `BsdVirtualMachine`, from http://docs.oracle.com/javase/tutorial/java/javaOO/accesscontrol.html

[code]

For that reason we have to set the flag, `setAccesibl

[2016-01-21 16:32] #307 closed

[2016-01-27 11:03] trobert commented on #284
This happens to me when timeInMailbox metric get over 1 hour. While this is not a normal condition, I wish Kamon handle this better than crashing the underlying actor with an exception. Under these exceptionnal circumstances, I think it's preferable that Kamon gives slighty wrong metrics rather than altering the behaviour of the monitored application.

Possible solutions could include:
* Provide a

[2016-02-04 18:35] frossi85 opened #311 "Slick support in jdbc module"
Because Slick is the default option to work with databases in Scala, it would be nice to have an instrumentation that not require code to measure the queries time. What do you think about it?

I can contribute with coding if you feel that is a good idea.

[2016-02-05 00:56] dpsoft commented on #311
Hi @frossi85 that could be a good idea, but currently kamon has a module that can extract metrics related to jdbc queries in a generic way: [kamon-jdbc], but nothing specific to slick or other framework.
but please, share with us what do you have in mind?

[kamon-jdbc]:https://github.com/kamon-io/Kamon/tree/master/kamon-jdbc/src

[2016-02-05 00:59] shayangz commented on #311
is there any documentation on how to use this module? I couldn't find it on kamon.io

[2016-02-05 02:09] dpsoft commented on #311
@frossi85 @shayangz we need more time in order to complete de documentation :(, please take a look at the following example:

***kamon-jdbc + play example***
to run the provided example we need do the following:
1 - uncompress the tar
2 - sbt -> aspectj-runner:run
3 - curl "http://localhost:9000/createTable"
4 - curl "http://localhost:9000/insertRecord"
5 - curl "http://localhost:9000/findAllRecor

[2016-02-05 04:58] ddispaltro commented on #285
Are you using an AsyncAppender in your logback configuration, by chance?

[2016-02-05 14:11] frossi85 commented on #311
the creation of this issue was because I could not make work the kamon-jdbc module with slick. Then my first thought was to think that was a problem related with slick, but now I am sure that is a configuration problem. I will see your example.

But now I think that could be cool have a metric related with de query compilation time to look those queries that takes too much time and tranform they t

[2016-02-05 14:41] dpsoft commented on #311
@frossi85 todos los PR son bienvenidos y mas los relacionados con la documentación ;) y si te parece buena idea tener métricas especificas a Slick armate algo y lo charlamos.

Saludos.

[2016-02-05 21:32] frossi85 commented on #311
@dpsoft el proyecto de play+jdbc+kamon no me compilo. Trate de llevarlo a un proyecto que estoy haciendo con akka-http pero no logro encontrar la métrica para agregarla a Grafana, por lo que creo que no esta reportando. El proyecto es para dar una charla en SUGAR, todavia le falta laburo, y quería incluir Kamon, si me ayudas a integrarlo después yo puedo escribir la documentación del modulo de jdb

[2016-02-11 15:20] tojaish commented on #285
Hi Guys, This issue is happening to us as well in our Application. The Trace Context is not getting propagated. Is there any work going on this front ? or will it be a long time before this gets fixed ? Do  let us know, so that we can plan appropriately. ThnQ.

[2016-02-16 09:34] Teots opened #313 "AspectJ Weaver Missing with sbt-aspectj"
Hi,

I tried to follow your [Get Started](http://kamon.io/introduction/get-started/) guide in a minimal play application, but I cannot get it to work properly using sbt-aspectj. My example can be found [here](https://github.com/Teots/KamonTest). Whenever I execute `sbt run` I see the `AspectJWeaver Missing` warning.

Any suggestions what I'm doing wrong?

[2016-02-16 13:15] dpsoft commented on #313
@Teots we recommend for run play applications in dev mode use: https://github.com/kamon-io/sbt-aspectj-runner.

[2016-02-16 13:24] Teots commented on #313
@dpsoft thx, I tried that already and got it to work in dev mode, but what do you recommend for production mode?

I would really like to use the `javaOptions in run <++= AspectjKeys.weaverOptions in Aspectj` setting shown in the guide with `sbt-aspectj` to automatically add the `javaagent` parameter to the run script generated by the `sbt dist` command. Is this possible?

[2016-02-16 13:38] dpsoft commented on #313
@Teots you can do this:

1. java -cp ".:lib/*" -javaagent:lib/org.aspectj.aspectjweaver-1.8.5.jar `play.core.server.NettyServer` if you have play 2.3.x
2. java -cp ".:lib/*" -javaagent:lib/org.aspectj.aspectjweaver-1.8.5.jar `play.core.server.ProdServerStart` for play 2.4.x
3. if you want add at you generated script by `sbt dist`: `yourGeneratedScript J-javaagent:aspectjweaver-1.8.5.jar`

[2016-02-18 17:27] fiadliel commented on #313
Hi, for production mode, I would like to suggest a simple plugin available here: https://github.com/gilt/sbt-aspectjweaver

It is very simple, but should work quite well for setting up the Java agent in your production builds - it adds the appropriate jar file, and updates the start script to use it.

[2016-02-19 13:59] mrsanuk opened #314 "issue with akka metrics"
Hi, I have issue with akka metrics,
when I run my apps with ./activator run   nothing work
when ./activator run -Dkamon.auto-start=true -J-javaagent:./org.aspectj.aspectjweaver-1.8.2.jar - App sends only the system metrics and don't changes "application name"

my build file
 "io.kamon" %% "kamon-core" % "0.5.2",
  "io.kamon" %% "kamon-datadog" % "0.5.2",
  "io.kamon" %% "kamon-statsd" % "0.5.2",

[2016-02-20 20:35] dpsoft commented on #314
@mrsanuk is a play application?

[2016-02-22 07:28] mrsanuk commented on #314
yes, it is play application

[2016-02-23 13:26] dpsoft commented on #314
@mrsanuk prior to kamon 0.4.0 it was initiated automatically in play applications, but that has changed after that and now you need start kamon manually, take a look: https://github.com/kamon-io/Kamon/blob/master/kamon-examples/kamon-play-example/app/Global.scala#L22

[2016-02-23 13:28] dpsoft commented on #311
@frossi85 avisme en que te puedo ayudar ;)

[2016-02-24 10:17] mandeburka commented on #282
Gist works. If you use multi-project configuration make sure merge strategy override is propagated to all projects.

[2016-02-24 14:18] htch commented on #303
The problem was that those apps tried to provision sigar library on the same fs path. In theory it should be easy enough to tell sigar-provisioner to use another path via any one of [these methods](https://github.com/kamon-io/sigar-loader/blob/master/core/src/main/java/kamon/sigar/SigarProvisioner.java#L52), yet somehow none of them worked for me, so I ended up changing home directory for every ap

[2016-02-24 14:18] #303 closed

[2016-02-24 14:21] dpsoft commented on #303
Pavel, thanks for sharing.

Cheers,

Diegol

On Wed, Feb 24, 2016 at 11:18 AM, Pavel <notifications@github.com> wrote:

[2016-02-24 14:24] ivantopo commented on #303
hey @htch! There is a little thing to add: the kamon-system-metrics module is using [this config key](https://github.com/kamon-io/Kamon/blob/master/kamon-system-metrics/src/main/resources/reference.conf#L10) to set the folder where the native libraries will be extracted, that's why trying to use the methods provided by sigar-loader are not working, Kamon is using it in a very specific way. Hope it

[2016-02-24 15:17] htch commented on #303
@ivantopo thanks, that was really helpful.

[2016-02-24 16:12] sslavic opened #315 "Riemann reporter support"
Please support reporting Kamon metrics to Riemann.

[2016-02-26 00:14] namiazad opened #316 "TraceContext metadata cannot be accessed"
I do not know whether it is a bug or a feature, but it is possible to add meta data to the TraceContext while its getting pass through but it is not possible to read TraceContext metadata (_metadata is private). is it intentional?

[2016-02-28 23:22] dpsoft commented on #316
@namiazad sorry for the late response but you can check this [post] in order to understand how to get the metadata information and also I recommend take a look at our TraceLocalStorage feature that isn't documented yet :( but the [tests] maybe can help you.

[post]:https://inoio.de/blog/2014/12/13/how-to-log-slow-requests-with-play2/
[tests]:https://github.com/kamon-io/Kamon/blob/master/kamon-core

[2016-03-01 05:58] renpillay opened #318 "NewRelic - Seems to always deliver appdex as 0?"
I've set up traces in my Spray application using Kamon 0.5.2. The information goes to NewRelic without an issue - I can see correct tracenames, timings, etc. However - the appdex value reported in NewRelic is always 0.

I've configured my my apdexT value as 0.1 in the config file (which should translate to 100ms). I can see several requests in the 80ms range, and my average response time across al

[2016-03-02 08:02] tierhetze opened #319 "Play+Akka"
I know that issue is not new. Foud similar complains in other forums.
I unable to start as play app, or as akka app, when play used with akka.
I'd like to ask is this project in active state and if YES, then when it will be resolved?
I will spend yet one day to find the solution...
Thanks.

[2016-03-02 13:45] dpsoft commented on #319
Hi @tierhetze you can try with this snapshot version:```0.6.0-2961cc2fff3f408dbce964ed8ec82998bc864186``` until next release.

[2016-03-02 14:01] tierhetze commented on #319
Thanks.
Am 02.03.2016 15:46 schrieb "Diego Parra" <notifications@github.com>:

[2016-03-05 18:36] #319 closed

[2016-03-05 18:37] #316 closed

[2016-03-05 18:37] #314 closed

[2016-03-05 18:40] #313 closed

[2016-03-05 18:41] #282 closed

[2016-03-05 18:42] #265 closed

[2016-03-05 18:42] #217 closed

[2016-03-05 18:44] #272 closed

[2016-03-05 18:45] dpsoft opened #320 "TraceLocalStorage related documentation"

[2016-03-06 23:08] #281 closed

[2016-03-07 18:18] shveik commented on #285
Hey @tobiaseriksson @ivantopo any activity on this issue? we are seeing a similar behavior as @tojaish described. are we using it wrong :) ? thanks!

[2016-03-07 20:11] tobiaseriksson commented on #285
Hi
 No we had to work around it, and since then we have not bothered to pick this issue up
Not sure what we did now
-Tobias

[2016-03-09 22:03] sinaghaffari opened #322 "Simple LogReporter application not outputting anything."
I'm just trying to set up a very simple application to test out the LogReporter, but can't seem to get it to actually output any metrics.

This is my code:
[code]

This is my `build.sbt`:
[code]

This is my `plugins.sbt`:
[code]

and finally, my `application.conf`:
[code]

I run the above with `sbt compile` and `sbt run`. I get the following output:
[code]
I'm not 100% sure what that error is. I'm

[2016-03-09 22:19] dpsoft commented on #322
@sinaghaffari this line is really weird:
[code]
I've found some data about this issue [here]

[here]:http://stackoverflow.com/questions/20794751/class-javalaunchhelper-is-implemented-in-both-one-of-the-two-will-be-used-whic

[2016-03-09 22:21] sinaghaffari commented on #322
@dpsoft I tried to get rid of that error by updating Java to no avail. Let me try running this on my Windows computer.

[2016-03-09 22:34] sinaghaffari commented on #322
@dpsoft I ran the same code on Windows 10 and got the same output minus the error.
[code]

[2016-03-09 23:39] dpsoft commented on #322
@sinaghaffari please comments the Kamon.shutdown() line an try again

[2016-03-10 01:11] sinaghaffari commented on #322
@dpsoft That worked for me.

My next step would be to hook Kamon to a simple Actor:

[code]

Output:
[code]

[2016-03-10 10:29] sinaghaffari commented on #322
Nevermind, the problem was mine :)
It's working well, and thanks for your help, @dpsoft

[2016-03-10 10:29] #322 closed

[2016-03-18 17:41] lahirug opened #324 "Categories, tags and names together"
I read through your docs and realize if I want my own category I should be writing my own entity and if I write my own entity and need some histograms with tags its not supported.

Initially I was expecting something like this
Kamon.metrics().histogram("category", "metrics.name", Map<key,value> tags) but there is nothing like that. So I went for my own Entity which has category but then inside Gen

[2016-03-19 06:12] lahirug commented on #324
I just realized the category name is equal to the entity name (histogram, counter etc).

[2016-03-19 06:12] #324 closed

[2016-03-19 08:54] alno commented on #284
Just ran into the same issue with some long-running task traces and after some investigation found that histogram range in Kamon can be configured.

Its default value is in [`kamon.metric.default-instrument-settings.histogram.highest-trackable-value`](https://github.com/kamon-io/Kamon/blob/v0.5.2/kamon-core/src/main/resources/reference.conf#L48) and equal to 1 hour in nanoseconds, but you can over

[2016-03-19 10:01] ivantopo commented on #284
thanks for sharing that, @alno! I'm closing this one and please take a look at this comment: https://github.com/kamon-io/Kamon/issues/232#issuecomment-143743541, that issue is now "tracking" this problem too.

[2016-03-19 10:01] #284 closed

[2016-03-21 14:50] UriShohet opened #326 "remotely deployed actors metrics are missing"
Hi,

I have a cluster with a master and 2 slaves, and I couldn't see the metrics of the remotely deployed actors in the Grafana UI. I tried following what @ivantopo said in https://groups.google.com/forum/#!searchin/kamon-user/remote/kamon-user/OhF4opREL_0/m7ky1e80mfsJ but this didn't help, so I tried to change the normalize strategy and then I could finally see the metrics.

Remote actors paths l

[2016-03-22 04:49] thesamet opened #327 "Add tags for traces"
Currently kamon.trace.withNewContext does not take any tags map, like kamon.metric.Counter does.

[2016-03-24 17:38] lahirug commented on #248
I think it would be nice to comment on 202 how did you fix the issue and how to use kamon with tests. Sorry If I missed something.

[2016-03-28 21:22] #271 closed

[2016-03-28 21:24] ivantopo commented on #173
this requires #185 to be solved first.

[2016-03-29 12:30] UriShohet opened #328 "error using kamon-akka-remote_akka-2.4 0.6.0 dependency"
Hi,

I'm trying to use the kamon-akka-remote_akka-2.4 0.6.0 dependency in a Gradle project:

compile 'io.kamon:kamon-akka-remote_akka-2.4_2.11:0.6.0'

and I'm getting an error:

Could not find io.kamon:kamon-akka_akka-2.4_2.11:0.6.0.

It seems to me that the POM of kamon-akka-remote_akka-2.4 incorrectly specifies kamon-akka_akka-2.4_2.11 as a dependency, instead of kamon-akka_2.11:

take a look he

[2016-03-30 07:09] cheekychops opened #329 "newrelic: IncompatibleClassChangeError when using a recent newrelic-agent.jar"
The compile dependency on newrelic-agent in kamon-newrelic is set at version 3.11.0, which is quite old. If you try to use a more recent version (something like 3.25.0 seems stable) the following exception occurs when using the NewRelicErrorLogger:

[code]

Whichever version you choose, please consider making this a 'provided' dependency, to make exclusions unnecessary.

[2016-03-30 10:46] nigelhannam commented on #232
Please ensure that any exception triggered within Kamon is caught.  We have experienced a couple of issues due to #284 and the result is that the underlying actor no longer received any messages sent to it's mailbox.  Under most circumstances, it is possible to rework applications to prevent 'old' messages triggering the exception, but if you need to stash a message pending user intervention #252

[2016-03-30 12:30] ivantopo commented on #327
hey @thesamet, thanks for reporting! We should also add it to the spray directives for tracing, see: https://groups.google.com/forum/#!topic/kamon-user/aU1pCISDGms

[2016-03-30 13:32] sunnylbk commented on #327
+1

[2016-03-30 14:44] dpsoft opened #331 "Having the possibility to finish a TraceContext with error in order to capture the information of the error."
An alternative syntax could be:

[code]
Comments?

[2016-03-30 19:32] sunnylbk commented on #79
+1

[2016-03-31 00:55] #329 closed

[2016-04-01 00:53] matlik opened #332 "ArrayIndexOutOfBoundsException: value outside of histogram covered range"
I recieved the following exception:

    java.lang.ArrayIndexOutOfBoundsException: value outside of histogram covered range. Caused by: java.lang.IndexOutOfBoundsException: index 4614
        at org.HdrHistogram.AbstractHistogram.handleRecordException(AbstractHistogram.java:441)
        at org.HdrHistogram.AbstractHistogram.recordSingleValue(AbstractHistogram.java:433)
        at org.HdrHistogram.

[2016-04-01 08:44] ivantopo commented on #332
Hey @matlik, thanks for reporting this! We already have this reported in #232 and one of the reasons this fix was delayed is because we will need to make some internal changes in order to fulfill the second item in this comment: https://github.com/kamon-io/Kamon/issues/232#issuecomment-143743541

This definitely needs to be addressed ASAP, I'll take it right away.

[2016-04-01 11:27] ivantopo opened #336 "provide better context when showing recording errors"
This is somehow a continuation to #232 and #332, when we have an error while recording (which typically means an attempt to record a value that goes over the configured range) we show provide some context like the entity and metric names and the currently configured range so that the user can do proper configuration changes to prevent the issue from happening again.

[2016-04-04 14:45] el-dom opened #337 "Cannot access TraceContext within futures"
I'm using scala 2.11.8 and JDK 1.8.0_77 building a minimal project using the example from http://kamon.io/integrations/scala/automatic-trace-context-propagation-with-futures/
This results in an EmptyTraceContext within the Future. Accodring to the documentation the Context should be available within the Future as well.
One can reproduce this by running the attached minimalistic project which inclu

[2016-04-04 15:24] dpsoft commented on #337
Hi el-dom,

please try with this:

object KamonTest {
  def main(args: Array[String]) {
    Kamon.start()
    Tracer.withNewContext("sample-trace") {
      println(s"1 ${Tracer.currentContext}")
      // The same TraceContext available here,

      Future {
        // is available here as well.
        "Hello Kamon"

      }.map(_.length)
        .flatMap(len => Future(len.toString))
        .map(

[2016-04-04 15:59] markus1189 commented on #337
Hi @dpsoft,

I have the same problem as @el-dom.  The output with your proposed change is:

[code]

so there still is no `TraceContext` inside the Future.
I tried it with scala `2.11.7` and
[code]

[2016-04-04 16:45] dpsoft commented on #337
please in build.sbt put *fork in run := true* that will do the trick ;).

Cheers,

Diego.

On Mon, Apr 4, 2016 at 12:59 PM, Markus Hauck <notifications@github.com>
wrote:

[2016-04-04 18:42] markus1189 commented on #337
Okay that does the trick for me.

[2016-04-05 14:43] el-dom commented on #337
Thanks. That's working!

[2016-04-05 14:43] #337 closed

[2016-04-11 14:13] an-tex opened #340 "Play 2.5 support (especially for websockets)"
When using Play 2.5 with the kamon play integration and aspectj, there's an issue if there are any actions using the new stream based websockets. On startup the following exception is thrown and kills the application:

[code]

Websocket with streams example: https://www.playframework.com/documentation/2.5.x/ScalaWebSockets#Handling-WebSockets-with-Akka-Streams-and-actors

[2016-04-14 12:25] kurbatov opened #341 "NullPointerException during creation of actor system"
I'm trying to introduce kamon into my project to monitor an actor system.
I added kamon-core and kamon-akka to the dependencies. After that, when the application starts, it fails with the following exception:

[code]

I tried with akka 2.3.14, 2.4.2, 2.43.3 and kamon 0.5.2 and 0.6.0 getting the same error.

I provide no custom configuration for akka nor for kamon.

Reading sources of akka and kamo

[2016-04-14 14:19] dpsoft commented on #340
@an-tex currently kamon doesn't support play 2.5, but thanks to @dspasojevic you can take a look here:
https://github.com/agiledigital/kamon-play-2.5.x

[2016-04-14 14:21] dpsoft commented on #341
@kurbatov you can share with us an simple example in order to reproduce this weird issue?

[2016-04-15 05:30] kurbatov commented on #341
I set up [a project](https://github.com/kurbatov/kamon-test) to illustrate my use-case. Use `mvn test` to run it.

Basicly the NPE happens when actor system is created by spring like this:

[code]
([see in the project](https://github.com/kurbatov/kamon-test/blob/master/src/main/webapp/WEB-INF/context.xml))

However invokation of the same factory method in the constructor of a spring-bean or in pos

[2016-04-15 15:24] kurbatov opened #342 "kamon-akka does not report metrics"
I'm trying to obtain metrics of the akka actor-system using `kamon-akka`. The infrastructure is effectively described [here](https://github.com/kurbatov/kamon-test).

I added `kamon-akka` and `kamon-log-reporter` modules into dependencies. Examining [the log](https://gist.github.com/kurbatov/c683352e632f8309b5902805805b0e49) I can tell that aspectj finds `kamon-akka` aspects and weaves them to the

[2016-04-15 16:50] kurbatov commented on #342
I got metrics from `kamon-akka`. I had to place `application.conf` to the root of my classpath in order the metrics to be collected:

[code]

Note `includes` parts of the configuration. By default they are empty so `kamon-akka` meant not to collect any statistics. Am I right? If so, please, add the information that filters **must** be configured to [the documentation](http://kamon.io/integrations/

[2016-04-15 17:22] kurbatov commented on #342
For those who happen to be in my shoes, here is the same configuration in `application.properties` syntax:

[code]

To figure that out, check [DefaultTransformer](https://github.com/typesafehub/config/blob/master/config/src/main/java/com/typesafe/config/impl/DefaultTransformer.java) implementation in typesafe's configuration library (just in case they change it).

It would be great if someone incl

[2016-04-15 17:22] #342 closed

[2016-04-19 15:28] Alien2150 commented on #328
I think the issue is that a package is completly missing => Its pointing to kamon-akka_akka-2.4 Which only exists for Scala 2.10 with Versio 0.4 => "http://search.maven.org/#search%7Cga%7C1%7Ckamon-akka_akka-2.4"

[2016-04-19 15:47] Alien2150 commented on #328
Thanks Uri,

i adopted that fix for SBT:

 "io.kamon" %% "kamon-akka-remote_akka-2.4" % "0.6.0" exclude("io.kamon", "kamon-akka_akka-2.4_2.11"),

[2016-04-21 10:13] gaelrenoux opened #343 "Play's application.conf ignored by Kamon when I load the kamon-akka module"
I have a Play application (with Scala). In one controller, I inject the actor system and start a few actors to accomplish background tasks.

I have just set up Kamon (0.6.0) with Statsd, Graphite and Graphana as the back-end. With these modules, everything works fine:
- kamon-core
- kamon-system-metrics
- kamon-scala
- kamon-play-24
- kamon-statsd

I use the aspectj-play-runner plugin and start my

[2016-04-21 13:29] dpsoft commented on #343
@gaelrenoux the kamon-play-24 module have a guice [module] for autostarting, if you are starting kamon in your `Globa.onStart` you need disable the guice module with `play.modules.disable += kamon.play.di.KamonModule`.
In relation to the configuration issue, sounds like a bug in the `aspectj-runner` plugin and I need some time to investigate.

you can try with  `aspectj-runner:run -Dconfig.resourc

[2016-04-22 03:37] dpsoft opened #344 "Fatal AutoWeave exceptions"
* Kamon must catch all exceptions thrown for AgentLoader.

[2016-04-22 03:40] #344 closed

[2016-04-22 04:12] dpsoft opened #345 "Add tags in spray spray directives for tracing"
related to #327

[2016-04-22 04:17] #232 closed

[2016-04-22 04:17] #332 closed

[2016-04-22 04:31] #327 closed

[2016-04-22 04:31] #345 closed

[2016-04-26 14:46] gaelrenoux commented on #343
Thanks for the advice, I removed the Kamon.start and Kamon.stop.

I got some time to look a bit more into it, I uploaded a samle application [here](https://github.com/gaelrenoux/Kamon-issue-343). It works fine as is. But uncomment kamon-akka in build.sbt, and you have a problem on startup where it doesn't find application.conf.

I tried the following but it didn't help :
aspectj-runner:run -Dconfi

[2016-04-27 16:40] pimeys commented on #79
I have a work in progress for this: https://github.com/pimeys/Kamon/tree/influxdb_support

We have this running on production, but I need to write some tests before I can provide a pull request for you. If you're in a hurry, please clone my fork and try it yourself. Comments are always welcome, if I missed some important feature.

[2016-04-27 16:50] ivantopo commented on #79
@pimeys thanks for sharing that! What a nice coincidence that we were talking about how many modules have appeared over time, we just got a PR for Reimann and now there is also something already done for InfluxDB, awesome!

[2016-04-27 17:01] pimeys commented on #79
Yeah. I have this code in our software and we get nicely the correct metrics. I'm planning to write some tests this week and build the influx module as a kamon jar file for us to use. After that I'm opening a pull request for you. This now works with influx http and udp interfaces, I can't test it with https, so that one is currently disabled.

[2016-04-27 17:04] pimeys commented on #79
A WIP pull request for review. https://github.com/kamon-io/Kamon/pull/347

[2016-04-29 16:37] pimeys commented on #79
The pull request over there is quite finished from my side. You can start testing with it, we run it already on production.

[2016-04-30 00:22] dpsoft commented on #315
related to #346

[2016-04-30 01:54] #315 closed

[2016-05-03 11:41] DomBlack opened #348 "Trace contexts cause NoSuchMethodErrors errors in Akka Clusters"
We are using Kamon 0.6.1.
We created a new context in one node, the code path then used and `ask` to talk to another node, that other node immediately crashed out (due to `akka.jvm-exit-on-fatal-error`) because Kamon had tried to call an unknown method:

[code]
#### Dependencies File

[code]

[2016-05-03 13:07] DomBlack commented on #348
We've traced the error down.

The published 0.6.1's akka-2.4 is missing this line (the Map.empty):
https://github.com/kamon-io/Kamon/blob/v0.6.1/kamon-akka-remote/src/main/scala/kamon/akka/instrumentation/RemotingInstrumentation.scala#L92

Can you publish 0.6.2 with a fixed line?

[2016-05-04 19:01] RadoBuransky opened #350 "Support SPM custom metrics"
I'd like to be able to send data points to SPM:
https://sematext.atlassian.net/wiki/display/PUBSPM/Custom+Metrics

[2016-05-05 03:09] dpsoft opened #351 "Add Custom Kamon.start(config) option."

[2016-05-05 03:10] #351 closed

[2016-05-05 04:16] dpsoft commented on #348
@DomBlack we've just published a snapshot version with this fix please add our repo ```"Kamon Repository Snapshots" at "http://snapshots.kamon.io"``` and the artifact is: ```0.6.2-b10b1cf2013460c791d5e3f7600fc654145f3d4e```

[2016-05-09 05:59] sunnylbk opened #352 "Tags in spray directives doesn't update with a new value"
This is with reference to the issue: https://github.com/kamon-io/Kamon/issues/345

I have a code that generates a uuid for each request and appends this as a tag.

[code]

`testid` is implemented as a trait:
[code]

Kamon metric key generator is modified to handle this id:
[code]

When calling `uuid` path, it returns a different id every time. But the id in trace tags is always the same. It doesn'

[2016-05-11 11:55] ezhulkov commented on #340
@dpsoft Diego, hi!
Do you have any estimate of when it is done?

[2016-05-11 13:07] dpsoft commented on #340
@ezhulkov we are waiting the @dspasojevic pull request ;)

[2016-05-15 23:12] dpsoft commented on #352
@sunnylbk  you need use the ```dynamic``` directive.
[code]

[2016-05-16 09:25] cheekychops opened #354 "autoweave: module doesn't work on IBM JRE"
We use the [IBM Liberty runtime](https://github.com/cloudfoundry/ibm-websphere-liberty-buildpack) with the IBM JRE and tried to use kamon-autoweave but it failed with the error:

[2016-05-17 04:40] sunnylbk commented on #352
Thanks @dpsoft!

[2016-05-17 04:40] #352 closed

[2016-05-17 06:49] dragontree101 opened #355 "use kamon send histogram to statsd error"
i use kamon 0.5.2 version and use histogram to statsd (statsd is go version [)](https://github.com/bitly/statsdaemon) and statsd has error log : `2016/05/17 14:21:36 invalid line 'rhllor-test-2.first-demo-dev.Dragon_local.histogram.http.get_string_json:1|ms:4|ms|@0.5:5|ms:11|ms:12|ms:23|ms:25|ms:28|ms:32|ms:44|ms:48|ms:58|ms:60|ms:62|ms:71|ms:72|ms:73|ms:75|ms:78|ms:96|ms:100|ms:102|ms'`

i use ka

[2016-05-17 08:13] dragontree101 commented on #351
could you please deploy kamon 0.6.2
i want to hope to use start(config) this feature
thanks very much!

[2016-05-17 13:52] dpsoft commented on #355
@dragontree101 I don't know how is the StatsD go implementation but, we pack multiple measurements in the same packet, not only using the \n separator for full metrics descriptions but a shorter (undocumented) representation in which we found in the StatsD code that allows us to send multiple measurement levels for the same metric without repeating the metric name [1], which helps a lot because us

[2016-05-17 13:55] dpsoft commented on #351
@dragontree101 for now you can use  the snapshot version that contains the latest in the master repo, please don't forget add our repo: ```"Kamon Repository Snapshots" at "http://snapshots.kamon.io"``` and the artifact is:```0.6.2-b10b1cf2013460c791d5e3f7600fc654145f3d4e```, we need resolve some issues before release the 0.6.2.

[2016-05-17 14:11] dragontree101 commented on #355
thanks, i find `SimpleStatsDMetricsSender` in kamon 0.6.1
i think this sender can support go StatsD protocol
but, i need `Kamon.start(Config config);` api, but in kamon 0.6.1 not this api
i see you server days ago support this api in 0.6.2 , but 0.6.2 has not deploy,

i am in china, i can not use sbt to build this project by myself.
so i hope you can deploy 0.6.2 this version
thanks very much.

[2016-05-17 14:13] dpsoft commented on #355
@dragontree101 for now you can use  the snapshot version that contains the latest in the master repo, please don't forget add our repo: ```"Kamon Repository Snapshots" at "http://snapshots.kamon.io"``` and the artifact is:```0.6.2-b10b1cf2013460c791d5e3f7600fc654145f3d4e```, we need resolve some issues before release the 0.6.2.

[2016-05-17 14:15] dragontree101 commented on #355
thanks, i see in other question, :)

[2016-05-23 13:18] andrewgee commented on #351
@dpsoft What is the issue with the fix you made? I see you have taken it out.

[2016-05-23 13:36] ivantopo commented on #351
Hey @andrewgee, the thing here is that we are introducing a confusing situation by allowing that way of starting Kamon. The main goal when removing the option to use `Kamon.start(config)` was to avoid needing the user to start Kamon to start using it, one of the most common problems we have is people having issues with initialization order, in which some code might be using Kamon before it was sta

[2016-05-23 14:21] andrewgee commented on #351
@ivantopo Thanks for the reply. It does seem like a tricky situation to solve!

[2016-05-24 07:00] xuweigui commented on #257
It doesn't work for me with akka 2.4.2 with either kamon 0.6.0 or 0.6.1

[2016-05-24 10:57] ivantopo commented on #257
hello @xuweigui, please use `kamon-akka-remote_akka-2.4` if you are using Akka 2.4, thanks!

[2016-05-25 06:58] slnowak opened #357 "No Actor metrics when using akka cluster"
I'm trying to to use Kamon with akka (and akka-cluster).
My dependencies:
[code]
I'm using sbt plugin for aspectj:
`addSbtPlugin("com.typesafe.sbt" % "sbt-aspectj" % "0.10.0")`

[code]

And my kamon config:
[code]
I can see system metrics gathered both on the stdout and statsd, but no actor metrics are available.
Any ideas?

// edit
I think it's also useful to provide logs from my application star

[2016-05-25 09:02] 2m commented on #348
Thanks for the snapshot. It fixed the same problem I was having.

[2016-05-25 09:39] fjcano-stratio opened #358 "Unable to find class 'akka.event.Logging.LogEvent'"
Hello,

It is regarding to issue https://github.com/kamon-io/Kamon/issues/183

I have tried with:

[code]

But, we are getting the error (the classes look like loaded (verbose class java arg)):

[code]

Akka / Kamon dependencies

[code]

Besides, we get:

[code]

Any ideas?

Thanks in advance,

[2016-05-25 13:28] dpsoft commented on #358
@fjcano-stratio you are running other agent like new relic? I can try with this plugin [sbt-aspectj-runner].

[sbt-aspectj-runner]: https://github.com/kamon-io/sbt-aspectj-runner

[2016-05-26 07:02] fjcano-stratio commented on #358
Hello @dpsoft ,

No, I have configured a single agent:
[code]

Regarding the sbt-aspectj-runner:
- As far as I can see, it needs to run over sbt, not in a java standalone case:
[code]
- In my case, I have a restriction for our integration flow => maven (it is a.. I know) and we need to use:

https://github.com/play2-maven-plugin/play2-maven-plugin

Any idea?

Thanks,

[2016-05-27 12:27] ozgunatacan commented on #343
This is probably related:
https://github.com/kamon-io/sbt-aspectj-runner/issues/5

[2016-05-27 23:06] toddkazakov commented on #210
@ivantopo is there any update on this issue? We're running a kubernetes cluster and using kamon for traces and system metrics.

Traces work really nice, because we can tag them with the pod name (implemented in 0.6.1). On the other hand, though, system metrics are pretty much unusable, because we cannot apply any tags. I'm happy to follow a similar approach with the statsd module - adding a new `K

[2016-05-31 07:42] ArturSoler commented on #358
I'm getting these messages as well (no other agent running apart from aspectj).

[2016-05-31 13:14] dpsoft commented on #358
@ArturSoler @fjcano-stratio are using a fat/uber jar?

[2016-05-31 13:31] fjcano-stratio commented on #358
Hello @dpsoft ,

No, I am using isolated/separated jars in lib folder:

EG for akka or kamon..:

[code]

[2016-05-31 13:36] dpsoft commented on #358
@fjcano-stratio can you provide us an simple example in order to reproduce the issue?

[2016-06-02 16:26] matlik commented on #341
If I were to venture a guess, this issue is the result of loading Kamon's autoweave feature after the application's ActorSystem has been initialized.  I ran into this exact same issue using Scala, Akka 2.4.4 and no DI framework.  Once I moved the startup of Kamon before the creation of my ActorSystem, the NPE errors went away.

I don't know if there are plans to make this "just work".  If not, I t

[2016-06-02 16:47] justinhj commented on #248
Agreed, I don't understand how we can use commit a49f413 to disable Kamon when we don't want it running.

Currently I maintain a Kamon wrapper which has null functions for all the instruments when Kamon is not initialized, but I'd prefer it if that functionality was in the Kamon library itself.

[2016-06-02 18:14] dpsoft commented on #341
@matlik I think that issue above is not the same as you, but agree with you with the meaningful error message.Maybe ```This offers extra flexibility but obviously any classes loaded before attachment will not be woven.```

[2016-06-05 13:20] sunnylbk opened #359 "Counters not reset to zero"
When using `kamon-0.6.1` counters to write metrics to influxdb, counters are not reset to zero after every flush interval. `value` keeps on increasing or remains the previous value if counter is not incremented within a particular flush interval. Find attached screenshot for the values collected.

Using the following configuration:

[code]

<img width="295" alt="screen shot 2016-06-05 at 6 45 26 p

[2016-06-13 02:34] dragontree101 opened #360 "how to use gauge api in java?"
i want to use gauge api in java, but i found gauge method has serval api
i don't know how to use the gauge api

i only want to use a appname and  record this appname's queue size
``` Kamon.metrics().gauge(appname, ?).record(size); ```

but all gauge api must input other parameters, (etc: CurrentValueCollector) i don't know what's the mean of other parameters and how to input CurrentValueCollector

[2016-06-13 06:17] dragontree101 commented on #360
my code is
[code]
but out put
[code]
i don't what is average mean, if i int num sequence is ```5 10 15 13 21``` i only want to get 21, how can i use gauge api?

[2016-06-13 07:13] dragontree101 commented on #360
does kamon send data to statsd has ```|g```   likes ```gaugor:333|g```
i read kamon source code, found only ```|ms``` and ```|c```  , does kamon not support origin statsd's gauge?

[2016-06-13 11:52] gaelrenoux opened #361 "UnsatisfiedLinkError (libsigar-amd64-linux.so: file too short) when the working directory is in the classpath"
I have a had this error plaguing my application for a while : whenever I stopped then restarted the application, I got an UnsatisfiedLinkError because of libsigar-amd64-linux.so (full stack-trace joined). When I checked the file, it was indeed empty (size 0 bytes). Deleting the libisgar file allowed the application to restart correctly.

I finally found out this was because my work folder was in t

[2016-06-13 13:57] dpsoft commented on #360
@dragontree101 plese take a look to this old thread: https://groups.google.com/forum/#!searchin/kamon-user/gauge/kamon-user/Ga6sxxQG0uQ/B4-CpzfhHW8J

[2016-06-21 21:46] joshgarnett commented on #357
I'm also hitting this issue.  This occurs both on OSX 10.11.5 and Ubuntu 14.04.  I'm using the same jar versions as @slnowak

[code]

[2016-06-22 13:41] dpsoft commented on #357
@slnowak ```*``` is just one level of actors, use ```**``` to get all, of course, that is just for testing , try to measure only the actors you actually care about.

[2016-06-22 13:47] dpsoft commented on #357
@joshgarnett

[code]
the lines above are only informative, if you are using ```sbt-aspectj``` and you don't see ```aspectjweaver missing``` you are ok.

[2016-06-22 14:00] samikrc commented on #284
I am a bit confused about how to change the settings to solve this case. @alno mentions to change `kamon.metric.instrument-settings.trace.elapsed-time.highest-trackable-value` but the documentation is not very clear. What does the "highest-trackable-value" mean for "elapsed-time"?

I know that this issue is being fixed through code change (#335), but wanted to see if this quick fix works.

[2016-06-22 14:28] slnowak commented on #357
@dpsoft Yeah, I solved it some time ago - it seems like specifying one particular actor by hand instead of wildcards did the trick. But thanks anyway,

[2016-06-22 14:30] dpsoft commented on #357
@slnowak sorry for the late response :(

[2016-06-22 15:27] #355 closed

[2016-06-22 15:29] dpsoft commented on #340
related to https://github.com/kamon-io/Kamon/pull/362

[2016-06-22 15:29] #340 closed

[2016-06-22 18:42] #354 closed

[2016-06-22 18:45] dpsoft commented on #341
@matlik I've added a meaningful [message] in the startup. thanks for you feedback.

[message]: https://github.com/kamon-io/Kamon/blob/bda51ea175d734025bf36abb0f8678a5d1c0959d/kamon-core/src/main/scala/kamon/Kamon.scala#L73

[2016-06-22 19:04] dpsoft commented on #354
@cheekychops we just added support for IBM attach api.

[2016-06-28 12:50] mvdheijd commented on #357
I'm having a similar problem. Aspectj-weaver works and system metrics are coming in. However I'm not getting any actor metrics. I'm also using an akka-cluster, very similar to the original poster.

Kamon configuration looks like this (for testing purposes trying to measuring all actors):
[code]

[2016-06-30 13:57] mvdheijd opened #366 "No actor-metrics - sbt-revolver"
We are building a project using Play framework 2.5 and Akka 2.4. Both are started as subprojects, using sbt-revolver.
Since Play 2.5 support is not released yet I'm focussing here on monitoring Akka. Kamon is started successfully and I'm not getting the _Aspectj is missing_ error. Creating a counter and monitoring increments works as expected. System metrics are also reported correctly.
The proble